<div class="col-xs-8 left-form-content">
  <div class="row">
    <div class="col-xs-6">
      <div class="form-group">
        <%= f.input :price %>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="form-group">
        <%= f.input :discount %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.input :address_line1, input_html: { value: '' } %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.input :address_line2, input_html: { value: '' } %>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="form-group col-xs-8 p-l-0 m-0">
        <%= f.input :stock %>
      </div>
      <div class="form-group col-xs-4 p-0 m-0">
        <%= f.input :unit %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6">
          <%= f.input :date, input_html: { value: '' } %>
        </div>
        <div class="col-md-6">
          <%= f.input :time, input_html: { value: '' } %>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="form-group">
        <%= f.input :description, as: :text, input_html: {rows: 3} %>
        <div class="form-group">
          <%= f.input :note, as: :text, input_html: {rows: 3} %>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="form-group">
        <%= f.input :phone, input_html: { value: '' } %>
      </div>
      <div class="form-group">
        <%= f.input :status, collection: enum_options_for_select(Product, :status), as: :radio_buttons, label: false %>
      </div>
    </div>
    <div class="col-xs-6 col-md-6">
      <p> <label for=""> 标签（可多选）:</label></p>
      <div class="form-group check-group">
         <%= f.collection_check_boxes :properties, Product::PROPERTIES, :first, :last, checked: @product.try(:properties) %>
      </div>
    </div>
    <div class="col-xs-6 col-md-6">
      <div class="form-group">
        <%= f.input :is_manager_recommend, as: :boolean %>
        <%= f.input :is_shelves, as: :boolean %>
      </div>
    </div>

    <div class="col-xs-6 col-md-12 purchase_type">
      <div class="form-group">
        <p><label class="control-label string optional">购买方式:</label></p>
        <%= f.collection_check_boxes :purchase_type, Product::PURCHASE_TYPE, :first, :last, checked: @product.try(:purchase_type)%>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="form-group">
        <%= f.input :content, as: :ckeditor %>
      </div>
    </div>

  </div>
  <div class="row">
    <div class='signup_attributes'>
      <div class="col-xs-6">
        <div class="form-group">
          <%= f.input :maximum_for_one_account %>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form-group">
          <%= f.input :maximum_for_one_order %>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="col-xs-4">
          <div class="input-group">
            <label class="control-label string optional"> 报名需要填写的属性:&nbsp;&nbsp;</label>
            <%= f.collection_check_boxes :member_attributes, Product::MEMBER_ATTRIBUTES, :first, :last, checked: @product.try(:member_attributes)%>
          </div>
        </div>
        <div class="col-xs-8">
          <div class="input-group">
            <label class="control-label input-group-addon string optional"> 其他附加属性:&nbsp;&nbsp;</label>
            <input name="product[member_attributes_others]" class="form-control" placeholder="属性之间用逗号隔开" value=""/>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
