<!-- BEGIN #product -->
<div id="product" class="section-container p-t-20">
    <!-- BEGIN container -->
    <div class="container">
        <!-- BEGIN breadcrumb -->
        <ul class="breadcrumb m-b-10 f-s-12">
          <li>分类:&nbsp;</li>
          <% @catalog_ancestors.each do |catalog| %>
          <li><a href="#"><%= catalog.name %></a></li>
          <% end %>
        </ul>
        <!-- END breadcrumb -->

        <!-- BEGIN product -->
        <div class="product p-t-25">
            <!-- BEGIN product-detail -->
            <div class="product-detail">
                <!-- BEGIN product-image -->
                <div class="product-image">
                  <% if @product.image_items.length > 0 %>
                    <!-- BEGIN product-thumbnail -->
                    <div class="product-thumbnail">
                      <ul class="product-thumbnail-list checkout_image_list">
                        <% @product.image_items.each_with_index do |image, index| %>
                          <li class="<%= if index < 1 then 'active' end %>"><a href="javascript:void(0)" data-url="<%= image.image_url %>"><%= image_tag image.image_url%></a></li>
                        <% end %>
                      </ul>
                    </div>
                    <!-- END product-thumbnail -->
                  <% end %>
                  <!-- BEGIN product-main-image -->
                  <div class="product-main-image" data-id="main-image">
                    <%= image_tag @product.image_items.first.try{image_url} || 'no-picture'%>
                  </div>
                  <!-- END product-main-image -->
                </div>
                <!-- END product-image -->
                <!-- BEGIN product-info -->
                <div class="product-info">
                    <!-- BEGIN product-info-header -->
                    <div class="product-info-header">
                        <h1 class="product-title"><span class="label label-danger"><span class="text-">5 折：优惠</span></span> <%= @product.name %> </h1>
                    </div>
                    <!-- END product-info-header -->
                    <!-- BEGIN product-warranty -->
                    <div class="product-warranty">
                        <ul class="list-inline row">
                          <li class='col-sm-12 col-md-4'>库存: <b class="text-success"><%= @product.stock %></b></li>
                          <li class='col-sm-12 col-md-4'>销量：<b class="text-danger"> 2220 </b></li>
                          <li class='col-sm-12 col-md-4'>累计评价：<b class="text-danger"> 1500 </b></li>
                        </ul>
                    </div>
                    <!-- END product-warranty -->
                    <!-- BEGIN product-info-list 一些主要配置信息列表展示-->
                    <!-- <ul class="product-info-list">
                        <li><i class="fa fa-circle"></i> 5.5" Retina HD Display with 3D Touch</li>
                        <li><i class="fa fa-circle"></i> Fingerprint-resistant oleophobic coating</li>
                        <li><i class="fa fa-circle"></i> A9 chip with 64-bit</li>
                        <li><i class="fa fa-circle"></i> Ultrafast 4G LTE Advanced wireless</li>
                        <li><i class="fa fa-circle"></i> New 12-megapixel iSight camera</li>
                        <li><i class="fa fa-circle"></i> 4k video recording</li>
                        <li><i class="fa fa-circle"></i> iOS 9 with Touch ID and Apple Pay</li>
                    </ul> -->
                    <!-- END product-info-list -->
                    <!-- BEGIN product-social -->
                    <div class="product-social">
                        <ul>
                            <li><a href="javascript:;" class="qq" data-toggle="tooltip" data-trigger="hover" data-title="QQ" data-placement="top"><i class="fa fa-qq"></i></a></li>
                            <li><a href="javascript:;" class="weixin" data-toggle="tooltip" data-trigger="hover" data-title="微信" data-placement="top"><i class="fa fa-weixin"></i></a></li>
                            <li><a href="javascript:;" class="weibo" data-toggle="tooltip" data-trigger="hover" data-title="微博" data-placement="top"><i class="fa fa-weibo"></i></a></li>
                        </ul>
                    </div>
                    <!-- END product-social -->
                    <!-- BEGIN product-purchase-container -->
                    <div class="product-purchase-container">
                        <div class="product-discount">
                            <span class="discount">$869.00</span>
                        </div>
                        <div class="product-price">
                            <div class="price">$<%= @product.price %></div>
                        </div>
                        <button class="btn btn-info btn-lg" data-toggle="modal" data-target="#editModal" type="submit">编辑信息</button>
                        <button class="btn btn-inverse btn-lg" type="submit">取消上架</button>
                    </div>
                    <!-- END product-purchase-container -->
                </div>
                <!-- END product-info -->
            </div>
            <!-- END product-detail -->
            <!-- BEGIN product-tab -->
            <div class="product-tab">
                <!-- BEGIN #product-tab -->
                <ul id="product-tab" class="nav nav-tabs">
                  <li class=""><a href="#product-info" data-toggle="tab">统计信息</a></li>
                  <li class="active"><a href="#product-reviews" data-toggle="tab">用户评论</a></li>
                </ul>
                <!-- END #product-tab -->
                <!-- BEGIN #product-tab-content -->
                <div id="product-tab-content" class="tab-content">
                    <!-- BEGIN #product-info -->
                    <div class="tab-pane fade" id="product-info">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h3 class="panel-title">销量统计</h3>
                        </div>
                        <div class="panel-body p-l-0 p-r-0">
                          <div class="jumbotron">
                            <h1>这是一个图!</h1>
                            <p>...</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- END #product-info -->
                    <!-- BEGIN #product-reviews -->
                    <div class="tab-pane fade active in" id="product-reviews">
                        <!-- BEGIN row -->
                        <div class="row row-space-30">
                            <!-- BEGIN col-7 -->
                            <div class="col-md-7">
                                <!-- BEGIN review -->
                                <div class="review">
                                    <div class="review-info">
                                        <div class="review-icon"><img src="assets/img/user-1.jpg" alt="" /></div>
                                        <div class="review-rate">
                                            <ul class="review-star">
                                                <li class="active"><i class="fa fa-star"></i></li>
                                                <li class="active"><i class="fa fa-star"></i></li>
                                                <li class="active"><i class="fa fa-star"></i></li>
                                                <li class="active"><i class="fa fa-star"></i></li>
                                                <li class=""><i class="fa fa-star-o"></i></li>
                                            </ul>
                                            (4/5)
                                        </div>
                                        <div class="review-name">Terry</div>
                                        <div class="review-date">24/05/2016 7:40am</div>
                                    </div>
                                    <div class="review-title">
                                        What does “SIM-free” mean?
                                    </div>
                                    <div class="review-message">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in imperdiet augue. Integer non aliquam eros. Cras vehicula nec sapien pretium sagittis. Pellentesque feugiat lectus non malesuada aliquam. Etiam id tortor pretium, dictum leo at, malesuada tortor.
                                    </div>
                                </div>
                                <!-- END review -->
                                <!-- BEGIN review -->
                                <div class="review">
                                    <div class="review-info">
                                        <div class="review-icon"><img src="assets/img/user-2.jpg" alt="" /></div>
                                        <div class="review-rate">
                                            <ul class="review-star">
                                                <li class="active"><i class="fa fa-star"></i></li>
                                                <li class="active"><i class="fa fa-star"></i></li>
                                                <li class="active"><i class="fa fa-star"></i></li>
                                                <li class=""><i class="fa fa-star-o"></i></li>
                                                <li class=""><i class="fa fa-star-o"></i></li>
                                            </ul>
                                            (3/5)
                                        </div>
                                        <div class="review-name">George</div>
                                        <div class="review-date">24/05/2016 8:40am</div>
                                    </div>
                                    <div class="review-title">
                                        When I buy iPhone from apple.com, is it tied to a carrier or does it come “unlocked”?
                                    </div>
                                    <div class="review-message">
                                        In mauris leo, maximus at pellentesque vel, pharetra vel risus. Aenean in semper velit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi volutpat mattis neque, at molestie tellus ultricies quis. Ut lobortis odio nec nunc ullamcorper, vitae faucibus augue semper. Sed luctus lobortis nulla ac volutpat. Mauris blandit scelerisque sem.
                                    </div>
                                </div>
                                <!-- END review -->
                                <!-- BEGIN review -->
                                <div class="review">
                                    <div class="review-info">
                                        <div class="review-icon"><img src="assets/img/user-3.jpg" alt="" /></div>
                                        <div class="review-rate">
                                            <ul class="review-star">
                                                <li class="active"><i class="fa fa-star"></i></li>
                                                <li class="active"><i class="fa fa-star"></i></li>
                                                <li class="active"><i class="fa fa-star"></i></li>
                                                <li class="active"><i class="fa fa-star"></i></li>
                                                <li class="active"><i class="fa fa-star"></i></li>
                                            </ul>
                                            (5/5)
                                        </div>
                                        <div class="review-name">Steve</div>
                                        <div class="review-date">23/05/2016 8:40am</div>
                                    </div>
                                    <div class="review-title">
                                        Where is the iPhone Upgrade Program available?
                                    </div>
                                    <div class="review-message">
                                        Duis ut nunc sem. Integer efficitur, justo sit amet feugiat hendrerit, arcu nisl elementum dui, in ultricies erat quam at mauris. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec nec ultrices tellus. Mauris elementum venenatis volutpat.
                                    </div>
                                </div>
                                <!-- END review -->
                                <!-- BEGIN review -->
                                <div class="review">
                                    <div class="review-info">
                                        <div class="review-icon"><img src="assets/img/user-4.jpg" alt="" /></div>
                                        <div class="review-rate">
                                            <ul class="review-star">
                                                <li class="active"><i class="fa fa-star"></i></li>
                                                <li class="active"><i class="fa fa-star"></i></li>
                                                <li class=""><i class="fa fa-star-o"></i></li>
                                                <li class=""><i class="fa fa-star-o"></i></li>
                                                <li class=""><i class="fa fa-star-o"></i></li>
                                            </ul>
                                            (2/5)
                                        </div>
                                        <div class="review-name">Alfred</div>
                                        <div class="review-date">23/05/2016 10.02am</div>
                                    </div>
                                    <div class="review-title">
                                        Can I keep my current service plan if I choose the iPhone Upgrade Program?
                                    </div>
                                    <div class="review-message">
                                        Donec vel fermentum quam. Vivamus scelerisque enim eget tristique auctor. Vivamus tempus, turpis iaculis tempus egestas, leo augue hendrerit tellus, et efficitur neque massa at neque. Aenean efficitur eleifend orci at ornare.
                                    </div>
                                </div>
                                <!-- END review -->
                                <!-- BEGIN review -->
                                <div class="review">
                                    <div class="review-info">
                                        <div class="review-icon"><img src="assets/img/user-5.jpg" alt="" /></div>
                                        <div class="review-rate">
                                            <ul class="review-star">
                                                <li class="active"><i class="fa fa-star"></i></li>
                                                <li class="active"><i class="fa fa-star"></i></li>
                                                <li class="active"><i class="fa fa-star"></i></li>
                                                <li class="active"><i class="fa fa-star"></i></li>
                                                <li class="active"><i class="fa fa-star"></i></li>
                                            </ul>
                                            (5/5)
                                        </div>
                                        <div class="review-name">Edward</div>
                                        <div class="review-date">22/05/2016 9.30pm</div>
                                    </div>
                                    <div class="review-title">
                                        I have an existing carrier contract or installment plan. Can I purchase with the iPhone Upgrade Program
                                    </div>
                                    <div class="review-message">
                                        Aliquam consequat ut turpis non interdum. Integer blandit erat nec sapien sollicitudin, a fermentum dui venenatis. Nullam consequat at enim et aliquet. Cras mattis turpis quis eros volutpat tristique vel a ligula. Proin aliquet leo mi, et euismod metus placerat sit amet.
                                    </div>
                                </div>
                                <!-- END review -->
                            </div>
                            <!-- END col-7 -->
                            <!-- BEGIN col-5 -->
                            <div class="col-md-5">
                                <!-- BEGIN review-form -->
                                <div class="review-form">
                                    <form action="product_detail.html" name="review_form" method="POST">
                                        <h2>Write a review</h2>
                                        <div class="form-group">
                                            <label for="name">Name <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" id="name" />
                                        </div>
                                        <div class="form-group">
                                            <label for="email">Title <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" id="email" />
                                        </div>
                                        <div class="form-group">
                                            <label for="review">Review <span class="text-danger">*</span></label>
                                            <textarea class="form-control" rows="8" id="review"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="email">Rating  <span class="text-danger">*</span></label>
                                            <div class="rating rating-selection" data-rating="true" data-target="rating">
                                                <i class="fa fa-star-o" data-value="2"></i>
                                                <i class="fa fa-star-o" data-value="4"></i>
                                                <i class="fa fa-star-o" data-value="6"></i>
                                                <i class="fa fa-star-o" data-value="8"></i>
                                                <i class="fa fa-star-o" data-value="10"></i>
                                                <span class="rating-comment">
                                                    <span class="rating-comment-tooltip">Click to rate</span>
                                                </span>
                                            </div>
                                            <select name="rating" class="hide">
                                                <option value="2">2</option>
                                                <option value="4">4</option>
                                                <option value="6">6</option>
                                                <option value="8">8</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                        <button type="submit" class="btn btn-inverse btn-lg">Submit Review</button>
                                    </form>
                                </div>
                                <!-- END review-form -->
                            </div>
                            <!-- END col-5 -->
                        </div>
                        <!-- END row -->
                    </div>
                    <!-- END #product-reviews -->
                </div>
                <!-- END #product-tab-content -->
            </div>
            <!-- END product-tab -->
        </div>
        <!-- END product -->

    </div>
    <!-- END container -->
</div>
<!-- END #product -->
<%= render 'edit'%>
