<div class="main-wrapper">
	<%= render file: 'public/templetes/newshub/_header.html.erb' %>
	<div class="container">
		<!-- [[header start]] -->
	  <%= render file: 'public/templetes/newshub/_top_menu.html.erb' %>
		<!-- [[header end]] -->
		<div class="row">
			<div class="col-sm-9 tr-sticky">
				<div class="tr-content theiaStickySidebar">
					<div class="tr-section">
						<div class="tr-post">
							<div class="entry-header">
								<div class="row">
									<div class="col-md-8">
										<div class="entry-thumbnail">
											<img class="img-responsive" src="<%= @product.first_image %>" alt="<%= @product.name %>">
										</div>
									</div>
									<div class="col-md-4">
										<!-- <p><i class="fa fa-map-marker"></i> 上海市崇明区城桥镇崇明大道7887号</p>
										<p><i class="fa fa-calendar"></i> 2017年03月25日 - 2017年03月25日 </p>
										<p><i class="fa fa-clock-o"></i> 13:30-15:00 </p>
										<p><i class="fa fa-phone-square"></i> 02159626867-3019</p>
										<p><i class="fa fa-cny"></i> 免费</p> -->
										<% if @product.price == 0 || @product.price == "" && @product.discount == 0 || @product.discount == "" %>
											<p><i class="fa fa-cny"></i> 免费</p>
										<% else %>
											<% if @product.price.present? && @product.discount.present? %>
												<p><i class="fa fa-cny"></i> <%= @product.discount %></p>
											<% elsif @product.price != 0 || @product.price != ""  && @product.discount == 0 || @product.discount == "" %>
												<p><i class="fa fa-cny"></i> <%= @product.price %></p>
											<% else %>
												<p><i class="fa fa-cny"></i> <%= @product.discount %></p>
											<% end %>
										<% end %>
										<p>
											<i class="fa fa-map-marker  %>"></i>
											<%= @product.address_line1 %>
											<br/>
											<small><%= @product.address_line2 %></small>
										</p>
										<p>
											<i class="fa fa-calendar"></i>
											<%= @product.date %>
										</p>
										<p>
											<i class="fa fa-clock-o"></i>
											<%= @product.time %>
										</p>
										<p>
											<i class="fa fa-phone-square"></i>
											<%= @product.phone %>
										</p>
										<% if @product.status == "" %>
											<p class="text-center gray">未知状态</p>
										<% else %>
											<p class="text-center gray"><%= enum_i18nw(Product, :status, @product.status) %></p>
										<% end %>
										<% if @product.stock <= 0  %>
											<p>
												<a href="javascript: void(0)" class="btn btn-block btn-lg btn-success" disabled="disabled">马上预订</a>
											</p>
										<% else %>
											<p>
												<a href="javascript: void(0)" class="btn btn-block btn-lg btn-success">马上预订</a>
											</p>
										<% end %>
									</div>
								</div>
							</div>
							<div class="post-content">
								<div class="author">
									<img class="img-responsive img-circle" src="/templetes/newshub/images/others/author1.png" alt="Image">
								</div>
								<div class="entry-meta">
									<ul>
										<li>By <a href="#">Jhon dun</a></li>
										<li>445 Share /<a href="#"> 1 Hour ago</a></li>
										<li>
											<ul>
												<li>Share</li>
												<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
											</ul>
										</li>
									</ul>
								</div><!-- /.entry-meta -->
								<h2 class="entry-title">
									<%= @product.name %>
								</h2>
							</div><!-- /.post-content -->
						</div>

						<div class="tr-details">
							<%= raw @product.content %>
						</div>
					</div>

					<div class="tr-ad">
						<a href="#"><img class="img-responsive" src="/templetes/newshub/images/advertise/1.jpg" alt="Image"></a>
					</div>

					<%= render file: 'public/templetes/newshub/_comments.html.erb' %>
				</div>
			</div>

			<div class="col-sm-3 tr-sidebar tr-sticky">
				<%#= render file: 'public/templetes/newshub/_sidebar.html.erb' %>
			</div>
		</div>
		<div class="tr-ad ad-bottom ad-image text-center">
			<a href="#"><img class="img-responsive" src="/templetes/newshub/images/advertise/5.jpg" alt="Image"></a>
		</div>

	</div>
</div>
<!-- [[footer start]] -->
<%= render file: 'public/templetes/newshub/_footer.html.erb' %>
<!-- [[footer end]] -->
