<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="icon" href="<%= asset_path 'icon.png' %>">
    <link rel="apple-touch-icon" href="<%= asset_path 'icon.png' %>">
    <title><%= content_for?(:title) ? yield(:title) : "私享荟" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "私享荟" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= yield(:css) %>
    <%= csrf_meta_tags %>
    <%= javascript_tag "window._token = '#{form_authenticity_token}'" %>
    
    <% if Rails.env == 'production' %>
      <script src="//meiqia.com/js/mechat.js?unitid=560b4bf24eae35c328000018" charset="UTF-8" async="async"></script>
    <% end %>

    <% if Rails.env == 'production' && weixin_device? %>
      <%# http://weixin-dev.com/topics/2#6 %>
      <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
      <% sign_package = WeixinAuthorize.client.get_jssign_package(request.url) %>
      
      <script>
        wx.config({
          debug: false,
          appId: "<%= sign_package['appId'] %>",
          timestamp: "<%= sign_package['timestamp'] %>",
          nonceStr: "<%= sign_package['nonceStr'] %>",
          signature: "<%= sign_package['signature'] %>",
          jsApiList: [
            'onMenuShareTimeline',
            'onMenuShareAppMessage',
            'onMenuShareQQ',
            'onMenuShareWeibo',
            'hideMenuItems',
            'showMenuItems',
            'hideAllNonBaseMenuItem',
            'showAllNonBaseMenuItem',
            'translateVoice',
            'startRecord',
            'stopRecord',
            'onRecordEnd',
            'playVoice',
            'pauseVoice',
            'stopVoice',
            'uploadVoice',
            'downloadVoice',
            'chooseImage',
            'previewImage',
            'uploadImage',
            'downloadImage',
            'getNetworkType',
            'openLocation',
            'getLocation',
            'hideOptionMenu',
            'showOptionMenu',
            'closeWindow',
            'scanQRCode',
            'chooseWXPay',
            'openProductSpecificView',
            'addCard',
            'chooseCard',
            'openCard'
          ]
        });

        wx.error(function (res) {
          alert(res);
        });
      </script>
      <%= yield :weixin_api %>      
    <% end %>
  </head>
  <body class="theme-red">
    <div class="statusbar-overlay"></div>
    <div class="panel-overlay"></div>
    <%= render 'layouts/panel' %>
    <%= yield(:header) %>
    <div class="views">
      <div class="view view-main">
        <%= render 'layouts/messages' %>
        <%= yield %>
      </div>
    </div>

    <div class="toolbar">
      <div class="toolbar-inner">
          <a href="#" class="link">Link 1</a>
          <a href="#" class="link">Link 2</a>
          <a href="#" class="link">Link 3</a>
      </div>
    </div>
    <!-- Delete/Refund User Order Popup -->
    <div class="popup popup-delete">
      <div class="content-block text-center">
        <p>&nbsp;</p>
        <p>该操作不可撤销，确定要操作吗？ </p>
        <a href="#" id="delete-user-order-btn" data-user-order-id="0" class="button button-big active" onclick="javascript: submitOrderDel();">确定取消订单</a>
        <div class="text-center" style="margin-top: 4em;">
          <p><a href="#" class="close-popup">关闭</a></p>
        </div>
      </div>
    </div>
    <div class="popup popup-refund">
      <div class="content-block text-center">
        <p>&nbsp;</p>
        <p>该操作不可撤销，确定要操作吗？ </p>
        <a href="#" id="refund-user-order-btn" data-user-order-id="0" class="button button-big active" onclick="javascript: submitRefund();">确定退款</a>
        <div class="text-center" style="margin-top: 4em;">
          <p><a href="#" class="close-popup">关闭</a></p>
        </div>
      </div>
    </div>

    <%= yield(:footer) %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
    <%= yield(:js) %>
  </body>
</html>

