<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="icon" href="<%= asset_path 'icon.png' %>">
    <link rel="apple-touch-icon" href="<%= asset_path 'icon.png' %>">
    <title><%= content_for?(:title) ? yield(:title) : "私享荟" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "私享荟" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= yield(:css) %>
    <%= csrf_meta_tags %>
    <%= javascript_tag "window._token = '#{form_authenticity_token}'" %>
  </head>
  <body class="theme-red">
    <div class="statusbar-overlay"></div>
    <div class="panel-overlay"></div>
    <%#= render 'layouts/panel' %>
    <%= yield(:header) %>
    <div class="views">
      <div class="view view-main">
        <%= render 'layouts/messages' %>
        <%= yield %>
      </div>
    </div>

    <%= yield(:footer) %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
    <%= yield(:js) %>
  </body>
</html>

