<%= render file: @cms_site.template_dir + '_header.html' %>
<div class="container ">
    <div class="course-list ">
        <div class="course-title ">
            <div class="col-xs-12 col-md-12">
                <h3>最新课程</h3> 
                <%= form_for :search, url: frontend_courses_path, method: :get do |f| %>
                    <div class="row">
                        <div class="col-xs-8 col-md-6 col-md-offset-4 m-b-15">
                            <div class="input-group search_all">
                                <%= f.text_field :keywords, value: (params[:search][:keywords] if params[:search]), placeholder: "输入课程名称或类型", class: 'form-control' %>
                                <span class="input-group-btn" >
                                　　　<button type="submit" class="btn btn-inverse" style="background-color:#e81a1b;color:white"><i class="fa fa-search"></i> 搜索</button>
                                </span>
                            </div>
                        </div> 
                    </div> 
                <% end %>  
            </div> 
        </div>
        <% if params[:search].present? %>
        <div class="alert alert-success" >
            <strong>查询：</strong>
            <span> 搜索出 <%= @course.size %>条相关课程</span>
            <span class="close" data-dismiss="alert">x</span>
        </div>
        <% end %>
        <ul style="margin-top:20px">
                <div class="row" >
                        <div class="ul-margin ">
                            <% if Classorder.where(user_id: current_user.id).count>=2%>
                            <h3 class="h-xs">每人每学期最多选两门课</h3>
                            <%else%>
                            <% @course.each do |course| %>
                                    <div class="col-xs-12  col-md-3">
                                        <li> 
                                            <div class="col-xs-4 col-md-12">
                                                <a href="<%= frontend_course_path(course) %>" title="<%=course.name %>">
                                                <img class="img1" src="<%=course.first_image %>" alt="<%= course.name %>">
                                                </a>
                                            </div>
                                            <div class="col-xs-8 col-md-12">
                                                <div class="text-box">
                                                    <div class="title">
                                                        <%= link_to  course.name, frontend_course_path(course) %>
                                                    </div>
                                                    <div class="text-box-top">
                                                        <span class="left tag-item">性别限制</span>
                                                        <span class="right">
                                                            <% if course.features["sex_limit"] == "不限"|| course.features["sex_limit"] == ""|| course.features["sex_limit"]== "无"%> 
                                                            <span class="tag-item">不限</span>
                                                            <% else %>
                                                            <span class="tag-item">限<%=course.features["sex_limit"]%></span> 
                                                            <% end %>  
                                                        </span>
                                                        <div class="clearfix"></div>  
                                                    </div>
                                                     
                                                    <div class="text-box-buttom">
                                                        <span class="left tag-item">年龄限制</span>
                                                        <span class="right">
                                                            <% if course.features["age_range"] == "不限"|| course.features["age_range"] == ""|| course.features["age_range"]== "无"%> 
                                                            <span class="tag-item">不限</span>
                                                            <% else %>
                                                            <span class="tag-item">限<%=course.features["age_range"]%></span> 
                                                            <% end %>  
                                                        </span>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div> 
                                            </div>
                                                                                    
                                        </li>
                                    </div>
                                <%end%>      
                            <% end %>
                            <div class="clearfix"></div>  
                        </div>   
                </div>
              <div class="clearfix"></div>
            </ul>
    </div>
</div>