<div class="main-wrapper">
  <%= render file: 'public/templetes/newshub/_header.html.erb' %>
	<div class="container">
    <div class="row">
      <div class="tr-breadcrumb" style="margin-top: 15px;">
        <div class="title pull-left">
          <h1><%= @product_catalog.name %></h1>
        </div>
        <ol class="breadcrumb pull-right">
          <li><a href="/">首页</a></li>
          <li class="active"><%= @product_catalog.name %></li>
        </ol>
      </div>

      <% unless mobile_device? %>
      <div class="col-md-2 tr-sidebar tr-sticky padding-0">
        <%= render file: 'public/templetes/newshub/_side_menu.html.erb' %>
      </div>
      <% end %>

      <div class="col-md-7 col-xs-12 <%= 'padding-0' if mobile_device? %>">
        <div class="tr-content">
          <div class="tr-section bg-transparent">
            <div class="tr-section">
              <% if @products.present? %>
                <% @products.each_with_index do |product, index| %>
                  <%
                    doc = Nokogiri::HTML(product.try(:content))
                    img_srcs = doc.css('img').map{ |i| i['src'] }
                  %>
                  <% if img_srcs.size < 4 %>
                    <div class="row" style="margin: 10px 0;">
                      <div class="col-md-4 col-xs-4 <%= 'padding-0' if mobile_device? %>">
                        <% if product.external_purchase_url.presence %>
                          <a href="<%= product.external_purchase_url %>" target="_blank">
                        <% elsif product.is_foraged %>
                          <a href="<%= product.forage_url %>" target="_blank">
                        <% else %>
                          <a href="<%= frontend_product_path(product) %>">
                        <% end %>
                          <img class="img-responsive thumb-img" src="<%= img_srcs[0].present? ? img_srcs[0] : product.first_image %>">
                        </a>
                      </div>
                      <div class="col-md-8 col-xs-8 padding-right-0">
                        <div class="header-text">
                          <h4>
                            <% if product.external_purchase_url.presence %>
                              <a href="<%= product.external_purchase_url %>" target="_blank">
                            <% elsif product.is_foraged %>
                              <a href="<%= product.forage_url %>" target="_blank">
                            <% else %>
                              <a href="<%= frontend_product_path(product) %>">
                            <% end %>
                              <%= product.name.truncate(24) %>
                            </a>
                          </h4>
                          <div class="info">
                            <% if product.date.present? %>
                            <a href="javascript:;"><%= product.date %></a>
                            <a href="javascript:;">&middot;</a>
                            <% end %>
                            <% if product.address_line1.present? %>
                            <a href="javascript:;"><%= product.address_line1.truncate(11) %></a>
                            <% end %>
                          </div>
                          <div class="info">
                            <a href="<%= frontend_site_path(product.site) %>"><%= product.site.title %></a>
                            <a href="javascript:;">&middot;</a>
                            <a href="javascript:;"><%= product.catalog.name %></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% else %>
                    <div class="row" style="margin: 10px 0;">
                      <div class="col-md-12 col-xs-12 <%= 'padding-0' if mobile_device? %>">
                        <div class="header-text">
                          <h4>
                            <% if product.external_purchase_url.presence %>
                              <a href="<%= product.external_purchase_url %>" target="_blank">
                            <% elsif product.is_foraged %>
                              <a href="<%= product.forage_url %>" target="_blank">
                            <% else %>
                              <a href="<%= frontend_product_path(product) %>">
                            <% end %>
                              <%= product.name.truncate(30) %>
                            </a>
                          </h4>
                        </div>
                      </div>
                      <div class="row" style="padding: 0 15px;">
                        <% loop_count = mobile_device? ? 3 : 4 %>
                        <% loop_count.times.each_with_index do |tim, index| %>
                          <div class="col-md-3 col-xs-4 <%= 'padding-2' if mobile_device? %>">
                            <% if product.external_purchase_url.presence %>
                              <a href="<%= product.external_purchase_url %>" target="_blank">
                            <% elsif product.is_foraged %>
                              <a href="<%= product.forage_url %>" target="_blank">
                            <% else %>
                              <a href="<%= frontend_product_path(product) %>">
                            <% end %>
                              <img class="img-responsive thumb-img" src="<%= img_srcs[index] %>" alt="<%= product.name %>">
                            </a>
                          </div>
                        <% end %>
                      </div>
                      <div class="col-md-12 col-xs-12 <%= 'padding-0' if mobile_device? %>">
                        <div class="header-text">
                          <div class="info">
                            <a href="<%= frontend_site_path(product.site) %>"><%= product.site.title %></a>
                            <a>&middot;</a>
                            <a href="javascript:;"><%= product.catalog.name %></a>
                            <a>&middot;</a>
                            <a href="javascript:;"><%= product.date %></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                  <hr style="margin: 10px 0px;">
                <% end %>
              <% else %>
                <h4 class="text-center">当前分类下暂无活动</h4>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <% unless mobile_device? %>
      <div class="col-md-3 tr-sidebar tr-sticky">
        <%= render file: 'public/templetes/newshub/_sidebar.html.erb' %>
      </div>
      <% end %>
    </div>

    <% if Keystore.value_for('banner-product-bottom-center-819×119').present? %>
		<div class="tr-ad ad-bottom ad-image text-center">
      <% banner_product_bottom_center = Keystore.value_for('banner-product-bottom-center-819×119').split('|') %>
			<a href="<%= banner_product_bottom_center[1] || 'javascript:void(0)' %>" target="_blank" ><img class="img-responsive" src="<%= banner_product_bottom_center[0] %>" alt="广告横幅819×119"></a>
		</div>
    <% end %>
	</div>
</div>
<%= render file: 'public/templetes/newshub/_footer.html.erb' %>
