<div class="main-wrapper">
  <%= render file: 'public/templetes/newshub/_header.html.erb' %>
	<div class="container">
    <div class="row">
      <% unless mobile_device? %>
        <div class="tr-breadcrumb margin-top-15">
          <div class="title pull-left">
            <h1><%= @product_catalog.name %></h1>
          </div>
          <ol class="breadcrumb pull-right">
            <li><a href="/">首页</a></li>
            <li class="active"><%= @product_catalog.name %></li>
          </ol>
        </div>

        <div class="col-md-2 tr-sidebar tr-sticky padding-0">
          <%= render file: 'public/templetes/newshub/_side_menu.html.erb' %>
        </div>
      <% end %>

      <div class="col-md-7 col-xs-12 <%= 'padding-0' if mobile_device? %>">
        <div class="tr-content">
          <div class="tr-section bg-transparent">
            <div class="tr-section <%= 'margin-top-15' if mobile_device? %>">
              <% if @products.present? %> 
                <% @products.where(site: @cms_site.site.self_and_descendants).or(@products.where(site: @cms_site.site.parent)).each_with_index do |product, index| %>
                  <%
                    doc = Nokogiri::HTML(product.try(:content))
                    img_srcs = doc.css('img').map{ |i| i['src'] }
                  %>
                  <% if img_srcs.size < 4 %>
                    <div class="row" style="margin: 10px 0;">
                      <div class="col-md-3 col-xs-4 padding-r-l-5">
                        <% if product.external_purchase_url.presence %>
                          <a href="<%= product.external_purchase_url %>" class="cover_img_a" target="_blank" title="<%= product.name %>">
                        <% elsif product.is_foraged %>
                          <a href="<%= product.forage_url %>" class="cover_img_a" target="_blank" title="<%= product.name %>">
                        <% else %>
                          <a href="<%= frontend_product_path(product) %>" class="cover_img_a" title="<%= product.name %>">
                        <% end %>
                          <div class="cover_img" style="background: no-repeat center url('<%= img_srcs[0].present? ? img_srcs[0] : product.first_image %>');">
                          </div>
                        </a>
                      </div>
                      <div class="col-md-9 col-xs-8">
                        <div class="header-text">
                          <h4>
                            <% if product.external_purchase_url.presence %>
                              <a href="<%= product.external_purchase_url %>" target="_blank" title="<%= product.name %>">
                            <% elsif product.is_foraged %>
                              <a href="<%= product.forage_url %>" target="_blank" title="<%= product.name %>">
                            <% else %>
                              <a href="<%= frontend_product_path(product) %>" title="<%= product.name %>">
                            <% end %>
                              <%= product.name.truncate(24) %>
                            </a>
                          </h4>
                          <div class="info">
                            <% if product.date.present? %>
                            <a href="javascript:;" title="<%= product.date %>"><%= product.date %></a>
                            <a href="javascript:;">&middot;</a>
                            <% end %>
                            <% if product.address_line1.present? %>
                            <a href="javascript:;" title="<%= product.address_line1 %>"><%= product.address_line1.truncate(11) %></a>
                            <% end %>
                          </div>
                          <div class="info">
                            <% if product.is_foraged %>
                              <a href="javascript:;" title="<%= product.forage["forage_from"] %>"><%= product.forage["forage_from"] %></a>
                            <% else %>
                              <a href="<%= frontend_site_path(product.site) %>" title="<%= product.site.title %>"><%= product.site.title %></a>
                            <% end %>
                            <a href="javascript:;">&middot;</a>
                            <a href="javascript:;" title="<%= product.catalog.name %>"><%= product.catalog.name %></a>
                            <a href="javascript:;">&middot;</a>
                            <a href="javascript:;" title="">
                              <% if product.sell_price && product.sell_price > 0 %>
                                ￥<%= product.sell_price / 100 %>
                              <% else %>
                                免费
                              <% end %>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% else %>
                    <div class="row" style="margin: 10px 0;">
                      <div class="col-md-12 col-xs-12 padding-r-l-5">
                        <div class="header-text">
                          <h4>
                            <% if product.external_purchase_url.presence %>
                              <a href="<%= product.external_purchase_url %>" target="_blank" title="<%= product.name %>">
                            <% elsif product.is_foraged %>
                              <a href="<%= product.forage_url %>" target="_blank" title="<%= product.name %>">
                            <% else %>
                              <a href="<%= frontend_product_path(product) %>" title="<%= product.name %>">
                            <% end %>
                              <%= product.name.truncate(30) %>
                            </a>
                          </h4>
                        </div>
                      </div>
                      <div class="row" style="padding: 0 15px;">
                        <% loop_count = mobile_device? ? 3 : 4 %>
                        <% loop_count.times.each_with_index do |tim, index| %>
                          <div class="col-md-3 col-xs-4 padding-r-l-5">
                            <% if product.external_purchase_url.presence %>
                              <a href="<%= product.external_purchase_url %>" class="cover_img_a" target="_blank" title="<%= product.name %>">
                            <% elsif product.is_foraged %>
                              <a href="<%= product.forage_url %>" class="cover_img_a" target="_blank" title="<%= product.name %>">
                            <% else %>
                              <a href="<%= frontend_product_path(product) %>" class="cover_img_a" title="<%= product.name %>">
                            <% end %> 
                              <div class="cover_img" style="background: no-repeat center url('<%= img_srcs[index] %>');">
                              </div>
                            </a>
                          </div>
                        <% end %>
                      </div>
                      <div class="col-md-12 col-xs-12 padding-r-l-5">
                        <div class="header-text">
                          <div class="info">
                            <% if product.is_foraged %>
                              <a href="javascript:;" title="<%= product.forage["forage_from"] %>"><%= product.forage["forage_from"] %></a>
                            <% else %>
                              <a href="<%= frontend_site_path(product.site) %>" title="<%= product.site.title %>"><%= product.site.title %></a>
                            <% end %>
                            <a>&middot;</a>
                            <a href="javascript:;" title="<%= product.catalog.name %>"><%= product.catalog.name %></a>
                            <a>&middot;</a>
                            <a href="javascript:;" title="<%= product.date %>"><%= product.date %></a>
                            <a href="javascript:;">&middot;</a>
                            <a href="javascript:;" title="">
                              <% if product.sell_price && product.sell_price > 0 %>
                                ￥<%= product.sell_price / 100 %>
                              <% else %>
                                免费
                              <% end %>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                  <hr class="block-bootom-hr">
                <% end %>

                <div class="row text-center">
                  <%= paginate @products %>
                </div>
              <% else %>
                <h4 class="text-center">当前分类下暂无活动</h4>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <% unless mobile_device? %>
      <div class="col-md-3 tr-sidebar tr-sticky padding-0">
        <%= render file: 'public/templetes/newshub/_sidebar.html.erb' %>
      </div>
      <% end %>
    </div>

	</div>
</div>
<%= render file: 'public/templetes/newshub/_footer.html.erb' %>
