
<%= render file: @cms_site.template_dir + '_header.html' %>
<%=form_for(@order, url: create_classorder_frontend_orders_path) do |f|%>
<div class="container margin-t">
    <div class="person-list">
        <div class="person-info">
            <div class="info">
            <input name = "order[member_attributes][course_id]" type="hidden" value="<%=@course.id%>">
            <input name = "order[member_attributes][user_id]" type="hidden" value="<%=current_user.id%>">
            <input name = "order[member_attributes][class_week]" type="hidden" value="<%=@course.features["class_week"]%>">
            <input name = "order[member_attributes][class_time]" type="hidden" value="<%=@course.features["class_time"]%>">
            <input name = "order[member_attributes][class_day]" type="hidden" value="<%=@course.features["class_day"]%>">
            <input name = "order[member_attributes][class_place]" type="hidden" value="<%=@course.features["class_place"]%>">
            <input name = "order[member_attributes][limit_number]" type="hidden" value="<%=@course.features["limit_number"]%>">
            <input name = "order[member_attributes][relname]" type="hidden" value="<%=@user.relname%>">
            <input name = "order[member_attributes][cardnu]" type="hidden" value="<%=@user.cardnu%>">
            <input name = "order[member_attributes][name]" type="hidden" value="<%=@course.name%>">
            <input name = "order[member_attributes][teacher_name]" type="hidden" value="<%=@course.features["teacher_name"]%>">
            <input name = "order[course][id]" type="hidden" value="<%=@course.id%>">
                <ul> 
                <%if @user.relname.present? && @user.cardnu.present? %>
                   <li> 
                   <span>真实姓名:</span>
                   <%= f.text_field :relname, value:@user.relname %>
               </li>
               <li> 
               <span>身份证号:</span>
               <%= f.text_field :cardnu, value:@user.cardnu %>
               </li>
               <li> 
                   <span>课程名称:</span>
                   <%= f.text_field :name, value:@course.name %>
               </li>
               <li> 
               <span>任教老师:</span>
               <%= f.text_field :teacher_name, value:@course.features["teacher_name"] %>  
               </li>
               <li> 
               <span>上课时间:</span>
               <% @course.features["class_week"].each do |key1,value1| %>
                   <% @course.features["class_time"].each do |key,value| %>
                       <%if key === key1%>
                        <%=value1 + value%>
                    <%end%>
                  <%end%>
                <% end %>
               </li>
               <li> 
               <span>上课地方:</span>
               <% @course.features["class_place"].each do |key,value| %>
                   <%=value%>
               <% end %>
               </li>
               <%= f.submit "立即选课", class:"btn btn-danger btn-right"%>
                <%else%>
                <li><%= link_to '请完善个人信息', frontend_smusers_path, title: '完善个人信息' %></li>
                <%end%>
                </ul>
                </div>
            </div>
        </div>
</div>
<% end %>
<%= render file: 'public/templetes/student2/_footer.html.erb' %>