<%= render file: @cms_site.template_dir + '_header.html' %>
<style type="text/css">
  .productImg {
    max-height: 120px;
    /*max-width: 220px;*/
    overflow: hidden;
  }
</style>
<div id="wrap">
  <section id="start" class="padding-top-bottom text-center">
    <div class="container">
      <!-- navbar -->
      <div class="tr-breadcrumb">
  			<div class="title <%= 'pull-left' unless mobile_device? %>">
  				<h1>订单详情</h1>
  			</div>
        <ol class="breadcrumb <%= 'pull-right' unless mobile_device? %>">
          <li>
            <a href="/">首页</a>
          </li>
          <li>
            <%= link_to '我的订单', self_order_users_path %>
          </li>
          <li>
            订单号：<%= @order.code %>
          </li>
        </ol>
  		</div>

      <div class="row">
        <div class="col-sm-8 col-md-8 tr-sticky">
          <div class="theiaStickySidebar">
            <!-- 支付成功 -->
            <div class="tr-section">
              <div class="row text-left">
                <div class="col-md-12">
                  <h3 class="clearfix">
                    <div class="<%= 'pull-left' unless mobile_device? %>">
                      支付状态：<span class="text-success"><%=  enum_l(@order, :status) %></span>
                    </div>
                    <!-- <p></p> -->
                    <div class="<%= 'pull-right' unless mobile_device? %>">
                      总金额：<span class="text-danger">¥ <%= @order.price/100.0%></span>
                    </div>
                  </h3>
                  <hr>
                  <!-- <p class="clearfix"> -->
                    <!-- 订单信息： -->
                    <%# if ['open', 'pending'].include?(@order.status) %>
                      <%#= link_to '去支付', charge_frontend_orders_path(order_id: @order.id), method: :post, remote: true, class: 'pull-right' %>
                    <%# else %>
                      <!-- <a href="<%= self_order_users_path %>" class="pull-right btn btn-default">返回我的订单</a> -->
                    <%# end %>
                  <!-- </p> -->
                  <div class="row">
                    <div class="col-md-4">
                      <div class="productImg">
                        <img src="<%= @order.order_products.first.product.first_image %>" alt="" class="img-responsive"/>
                      </div>
                    </div>
                    <div class="col-md-8 text-left">
                      <h4 >
                        <a href="javascript:void(0)" style="color: #2e2e2e;">
                          <%= @order.order_products.first.product.name%>
                        </a>
                        <small><%= @order.order_products.first.product.catalog.try(:name)%></small>
                      </h4>
                      <p>
                        <span>
                          <i class="fa fa-map-marker productColorIcon"></i>
                          <%= @order.order_products.first.product.address_line1%>
                        </span>
                      </p>
                      <p>
                        <span>
                          <i class="fa fa-clock-o productColorIcon"></i> 
                          <%= @order.order_products.first.product.date.to_s + @order.order_products.first.product.time.to_s %>
                        </span>
                      </p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-md-3">
                      <p>预留手机号:
                        <small class="text-info"><%= @order.delivery_phone || current_user.mobile.try(:phone_number) %></small>
                      </p>
                    </div>
                    <div class="col-md-3">
                      <p>下单时间:
                        <small><%= distance_of_time_in_words_to_now(@order.created_at) %>前</small>
                      </p>
                    </div>
                    <% if @order.paid? %>
                      <div class="col-md-3 col-xs-6">
                        <% if @order.refund_status.blank?%>
                          <%= link_to '确认消费', confirm_frontend_order_path(@order), method: :post, data: { confirm: "是否确认消费?" }, class: 'btn btn-success btn-block' %>
                        <% end %>
                      </div>
                      <div class="col-md-3 col-xs-6">
                        <% if @order.refund_status.blank?%>
                          <%= link_to '退款申请', refund_frontend_order_path(@order), method: :post, data: { confirm: "是否需要退款?" }, class: 'btn btn-warning btn-block' %>
                        <% else %>
                          <p><%= enum_l(@order, :refund_status) %> </p>
                        <% end %>
                      </div>
                    <% elsif ['open', 'pending'].include?(@order.status) %>
                      <div class="col-md-3 col-xs-6">
                        <%= link_to '去支付', charge_frontend_orders_path(order_id: @order.id), method: :post, remote: true, class: 'pull-right btn btn-success' %>
                      </div>
                    <% else %>
                      <div class="col-md-3 col-xs-6">
                        <a href="<%= self_order_users_path %>" class="pull-right btn btn-default">返回我的订单</a>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-5 col-md-4 tr-sticky hidden-xs" >
          <%= render file: 'frontend/users/_nav_sidebar.html.erb' %>
        </div>
      </div>

    </div>
  </section>
  <%= render file: @cms_site.template_dir + '_footer.html' %>
</div>
<%= javascript_include_tag 'payment_core/pingpp' %>
<script>
  function onStartCharging(charge){
    pingpp.createPayment(charge, function(result, err){
      console.log(result);
      console.log(err.msg);
      console.log(err.extra);
      if (result == "success") {
          // 只有微信公众账号 wx_pub 支付成功的结果会在这里返回，其他的支付结果都会跳转到 extra 中对应的 URL。
      } else if (result == "fail") {
          // charge 不正确或者微信公众账号支付失败时会在此处返回
      } else if (result == "cancel") {
          // 微信公众账号支付取消支付
      }
    });
  }
</script>