
<%= render file: @cms_site.template_dir + '_header.html' %>
<div id="wrap">
  <section id="hero" class="m-center text-center bg-shop full-height">
    <div class="center-box">
      <div class="container-fluid nopadding">
        <div class="hero-unit ">
          <h1 class="title"><b><%= @cms_site.name %></b></h1>
          <h3><b><%= @cms_site.description %></b></h3>
          <p><br>
            If you want sell only one digital product, <b>1E-shop</b> template is for you.<br>
            <b>1E-shop</b> is onePage full responsive bootstrap template.<br>
          </p>
          <br>
          <a class="btn white" href="#" data-toggle="modal" data-target="#product-modal"><b><%= @product.price %></b> 马上购买</a>
        </div>
        <div class="col-sm-12 img-hero"></div>
      </div>
      <a href="#start" class="hero-start-link smooth-scroll anchor-link"><i class="fa fa-angle-double-down"></i></a>
    </div>
  </section>
  <section id="start" class="padding-top-bottom text-center">
    <div class="container">
      <div class="row header">
        <div class="col-md-12">
          <h2>PAPER CUP</h2>
          <p>HQ PSD Mock-up</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <p>Assault voodoo god paranoid tattoo modem kanji <a href="#" title="">drone</a> urban hotdog uplink computer. Dome car papier-mache geodesic wonton soup RAF warehouse woman military-grade numinous shrine nodality pre. Physical drone chrome sunglasses footage vinyl disposable office denim youtube. Systemic-ware advert geodesic alcohol assassin monofilament shrine Chiba voodoo god film convenience store disposable industrial grade camera cartel. Artisanal marketing RAF into advert geodesic sprawl realism woman dome footage courier table drone media youtube ablative.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- vertical center / slider -->
  <!-- end vertical center / slider -->
  <section id="features" class="features-1">
    <div class="container padding-top-bottom">
      <div class="row header">
        <div class="col-md-12">
          <h2>新闻</h2>
          <p>We are here for you</p>
        </div>
      </div>
      <div class="container" >
        <% @news_channel.pages.each do |page| %>
          <div class="col-md-4 col-sm-4 col-xs-12 anima scale-in ">
            <article class="text-center">
              <img src="/templetes/eshop/img/demo1.jpg" alt="#" class="zoom-img img-responsive center-block">
              <h3><%= link_to page.title, get_cms_url(page) %></h3>
              <p><% page.description %></p>
            </article>
          </div>
        <% end %>
      </div>
    </div>
  </section>

  <section id="news" class="content-1 bg-image-2 padding-top-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-6">
          <div class="white-box">
            <h2><b>NICE Product :)</b></h2>
            <p>Scelerisque pulvinar praesent ultrices, amet condimentum wisi felis et. At lobortis risus ipsum praesent urna. Metus lectus duis porttitor. Tellus debitis suspendisse feugiat, non tellus in sed luctus lacus rutrum, iaculis at risus cras vel sit, qui morbi lacus, ultricies semper. Odio ac, diam donec. Tincidunt cursus vel nulla tincidunt, vitae ut tempor ut orci tortor mi</p>
            <blockquote class="blockquote-reverse">
              <p>Jessica Red</p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%= render file: @cms_site.template_dir + '_footer.html' %>

</div>

<!--支付弹窗 -->
<div class="modal fade" id="product-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm2">
    <div class="modal-content">
      <div class="modal-header">
        <a class="close-modal" href="#" data-dismiss="modal">
        <span class="menu-icon"></span>
        </a>
        <img src="<%= @product.image_items.first.image_url || '/templetes/eshop/img/cup1.jpg'%>" alt="" class="img-responsive">
      </div>
      <div class="modal-body">
        <h3 class="text-center"><b><%= @product.name %> </b>(￥<%= @product.price %>)</h3>
      </div>
      <div class="modal-footer">
        <% if current_user %>

          <%= simple_form_for(current_user.orders.build, url: frontend_orders_path,  method: :post, html: {class: "myform"}) do |f| %>
            <%= f.input :price %>
            <%= f.input :description %>
            <% 2.times do |i| %>
              ID: <%= text_field_tag "order[order_products][][id]" %><br/>
              数量：<%= text_field_tag "order[order_products][][amount]" %><br/>
              价格：<%= text_field_tag "order[order_products][][price]" %>
             <% end %>

            <%= f.submit '提交' %>
          <% end %>

          <form id="buy" action="http://demo.angelostudio.net/1e-shop/1.2/buy" class="myform" method="post" novalidate>
            <div class="form-group">
              <div class=" controls">
                <input name="email" placeholder="PayPal Email" class="form-control input-lg requiredField" type="email" data-error-invalid="Invalid email address" data-error-empty="Enter email">
              </div>
            </div>
            <div class="form-group">
              <div class="controls">
                <input id="password" class="form-control" type="password" placeholder="PayPal Password" name="password">
              </div>
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-block">PAY NOW</button>
            </div>
            <p class="text-center"><a href="#" data-dismiss="modal">Cancel</a>
            </p>
          </form>
        <% else %>
          <p class="text-center">购买之前，请登录账户</p>
          <div class="form-group">
            <%=link_to '点击这里登录', admin_sign_in_path, class: 'btn btn-block' %>
            <%=link_to '新用户注册', sign_up_path, class: 'btn btn-block' %>
          </div>
          <p class="text-center"><a href="#" data-dismiss="modal">取消</a>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
