<%= render file: 'public/templetes/default/_nav' %>

<!-- site wrap -->
<div class="site-wrap">
  <%= render file: 'public/templetes/default/_header.html' %>

  <!--[[main start]]-->
  <!-- site main -->
  <main class="site-main">
    <!-- home -->
    <div id="home" class="section is-active">
      <div class="section__table">
        <div class="section__cell">
          <div class="container-fluid max-width">
            <div class="row">
              <div class="col-xs-12">
                <div class="overflow-hidden">
                  <div class="animation-item"
                  data-animation-in="fadeInUp2"
                  data-animation-in-delay="300"
                  data-animation-out="fadeOutDown2"
                  data-animation-out-delay="700">
                    <h1 class="section__title">
                       <%= @cms_site.name %>
                    </h1>
                    <p class="section__caption"><%= @cms_site.description %></p>
                  </div>
                </div>

                <div class="overflow-hidden">
                  <div class="animation-item"
                  data-animation-in="fadeInUp2"
                  data-animation-in-delay="1100"
                  data-animation-out="fadeOutDown2"
                  data-animation-out-delay="100">
                    <div class="btn-wrap">
                      <a class="btn btn-theme _icon _circle" href="#newsletter">
                        <i class="fa fa-paw"></i>
                        发送邮件
                      </a>
                      <a class="btn btn-base _icon _circle" href="#" data-link="section"> <!-- link to section, edit the [href] and add [data-link="section"] -->
                        <i class="fa fa-paper-plane"></i>
                        关于我们
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- newsletter -->
      <div id="newsletter" class="mfp-hide">
        <div class="newsletter-overlay"></div>
        <form class="form-theme" id="formNewsletter">
          <h3 class="form-title">Subscribe to our <span class="color">newsletter</span></h3> <!-- title -->
          <p class="form-subtitle">We won't share your information.</p> <!-- subtitle -->
          <div class="hr"></div> <!-- line -->
          <p class="form-caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <b>Aliquam in scelerisque nisi</b>, a convallis nibh.</p> <!-- caption -->
          <div class="form-group required">
            <label class="form-label" for="newsletterEmail">Your Email</label> <!-- label -->
            <input class="form-control" id="newsletterEmail" type="text" name="email"> <!-- input -->
          </div>
          <button class="btn btn-theme btn-block _circle" type="submit">
            Subscribe
          </button> <!-- button -->
          <div class="form-notify"></div> <!-- notify -->
        </form>
      </div>
      <!-- /newsletter -->
    </div>
    <!-- /home -->
  </main>
  <!-- /site main -->
  <!--[[main end]]-->
  <%= render file: 'public/templetes/default/_footer.html' %>
</div>
<!-- /site wrap -->
