<%= render file: 'public/templetes/default/_nav' %>

<!-- site wrap -->
<div class="site-wrap">
  <%= render file: 'public/templetes/default/_header.html' %>

  <!--[[main start]]-->
  <!-- site main -->
  <main class="site-main">
    <!-- home -->
    <div id="home" class="section is-active">
      <div class="section__table">
        <div class="section__cell">
          <div class="container-fluid max-width">
            <div class="row">
              <div class="col-xs-12">
                <div class="overflow-hidden">
                  <div class="animation-item"
                  data-animation-in="fadeInUp2"
                  data-animation-in-delay="300"
                  data-animation-out="fadeOutDown2"
                  data-animation-out-delay="700">
                    <h1 class="section__title">
                       <%= @cms_site.name %>
                    </h1>
                    <p class="section__caption"><%= @cms_site.description %></p>
                  </div>
                </div>

                <div class="overflow-hidden">
                  <div class="animation-item"
                  data-animation-in="fadeInUp2"
                  data-animation-in-delay="1100"
                  data-animation-out="fadeOutDown2"
                  data-animation-out-delay="100">
                    <div class="btn-wrap">
                      <a class="btn btn-base _icon _circle" href="#newsletter">
                        <i class="fa fa-phone"></i>
                        联系我们
                      </a>
                      <a class="btn btn-base _icon _circle" href="#about" data-link="section"> <!-- link to section, edit the [href] and add [data-link="section"] -->
                        <i class="fa fa-paper-plane"></i>
                        关于我们
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- newsletter -->
      <div id="newsletter" class="mfp-hide">
        <div class="newsletter-overlay"></div>
        <form class="form-theme" id="formNewsletter">
          <h3 class="form-title">联系我们 <span class="color"></span></h3> <!-- title -->
          <p class="form-subtitle">我们提供最好的服务.</p> <!-- subtitle -->
          <div class="hr"></div> <!-- line -->
          <p class="form-caption">打造牛逼的产品. <b>优秀的体验</b>.</p> <!-- caption -->
          <div class="form-group required">
            <label class="form-label" for="newsletterEmail">联系方式</label> <!-- label -->
            <input class="form-control" id="newsletterEmail" type="text" name="email" placeholder="1808081018"> <!-- input -->
          </div>
          <button class="btn btn-theme btn-block _circle" type="submit">
            提 交
          </button> <!-- button -->
          <div class="form-notify"></div> <!-- notify -->
        </form>
      </div>
      <!-- /newsletter -->
    </div>
    <!-- /home -->
    <!-- about -->
    <div id="about" class="section">
      <div class="section__table">
        <div class="section__cell">
          <div class="container">
            <!-- section heading -->
            <div class="section__heading row">
              <div class="col-xs-12 col-md-12">
                <div class="overflow-hidden">
                  <div class="animation-item"
                  data-animation-in="fadeInUp2"
                  data-animation-in-delay="300"
                  data-animation-out="fadeOutDown2"
                  data-animation-out-delay="600">
                    <h2 class="section__title">
                     Who <span class="color">we</span> are
                    </h2>
                    <div class="hr"></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /section heading -->

            <!-- section content -->
            <div class="section__content row">
              <div class="col-xs-12 col-md-12">
                <div class="overflow-hidden">
                  <div class="animation-item"
                    data-animation-in="fadeInRight"
                    data-animation-in-delay="900"
                    data-animation-out="fadeOutRight"
                    data-animation-out-delay="100">
                    <%= raw @channel.content %>
                    <a class="btn btn-theme _icon _circle" href="#home" data-link="section">
                      <i class="fa fa-share"></i>
                      返 回
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!-- /section content -->
          </div>
        </div>
      </div>
    </div>
    <!-- /about -->
  </main>
  <!-- /site main -->
  <!--[[main end]]-->
  <%= render file: 'public/templetes/default/_footer.html' %>
</div>
<!-- /site wrap -->
