<%= render file: 'public/templetes/default/_nav' %>
<!-- site wrap -->
<div class="site-wrap">
  <%= render file: 'public/templetes/default/_header.html' %>

  <!--[[main start]]-->
  <!-- site main -->
  <main class="site-main">
    <!-- home -->
    <div id="home" class="section is-active">
      <div class="section__table">
        <div class="section__cell">
          <div class="container">
            <!-- section heading -->
            <div class="section__heading row">
              <div class="col-xs-12 col-md-5">
                <div class="overflow-hidden">
                  <div class="animation-item"
                  data-animation-in="fadeInUp2"
                  data-animation-in-delay="300"
                  data-animation-out="fadeOutDown2"
                  data-animation-out-delay="600">
                    <h2 class="section__title">
                      <%= @channel.title %>
                    </h2>
                    <div class="hr"></div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-6 col-md-offset-1">
                <div class="overflow-hidden">
                  <div class="animation-item"
                    data-animation-in="fadeInUp2"
                    data-animation-in-delay="300"
                    data-animation-out="fadeOutDown2"
                    data-animation-out-delay="400">
                    <p class="section__caption">
                      一共找到数据： <%= @pages.size %>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- /section heading -->

            <!-- section content -->
            <div class="section__content row">
              <div class="col-xs-12 col-md-12">
                <div class="text-left">
                  <div class="animation-item"
                    data-animation-in="fadeInLeft"
                    data-animation-in-delay="900"
                    data-animation-out="fadeOutLeft"
                    data-animation-out-delay="100">

                    <% @pages.each do |page| %>
                      <div class="about__item">
                        <i class="fa fa-list"></i>
                        <h3><%= link_to page.title, get_cms_url(page) %></h3>
                        <p><%= page.description %></p>
                      </div>
                    <% end %>

                  </div>
                </div>
              </div>
            </div>
            <!-- /section content -->
          </div>
        </div>
      </div>
    </div>
    <!-- /home -->
  </main>
  <!-- /site main -->
  <!--[[main end]]-->
  <%= render file: 'public/templetes/default/_footer.html' %>
</div>
<!-- /site wrap -->
