<div id="blog">
  <section id="blog-index">
    <div class="container">

      <div class="row">
        <div class="col-md-9 main-content">

          <% if @pages.empty? %>
            <h2>没有找到任何内容！</h2>
          <% end %>
          <% if @pages.any? && params[:search] %>
            <h2>为你找到<%= @pages.size %>条信息。</h2>
          <% end %>

          <% @pages.each do |page| %>
            <article class="blog-post">
              <h2 class="post-title">
                <%= link_to page.title, get_cms_url(page) %>
              </h2>

              <% if page.image_path.present? %>
                <div class="post-image">
                  <a href="<%= get_cms_url(page) %>">
                    <img src="<%= page.image_path %>" alt="<%= page.keywords %>" class="img-thumbnail img-responsive">
                  </a>
                </div>
              <% end %>

              <div class="post-meta">

                <div class="row">
                  <div class="col-lg-1 col-md-1 hidden-xs hidden-sm image">
                    <img class="img-circle img-thumbnail" src="/templetes/dagle/img/icons/icon-circle-color.png" alt="Dagle Icon">
                  </div>

                  <div class="col-lg-11 col-md-11">
                    <div class="post-meta-text text-muted">
                      <p class="lead">
                        by <a href="#">Dagle</a> <br>
                      </p>

                      <p>
                        <i class="fa fa-clock-o"></i> <%= get_date(page.updated_at) %>
                      </p>
                    </div>
                  </div>
                </div>

              </div>

              <div class="post-content">
                <p class="lead">
                  <%= page.description %>
                </p>

                <br>

                <div class="text-right">
                  <a href="<%= get_cms_url(page) %>" class="btn btn-bordered btn-primary btn-round">阅读更多 &rarr;</a>
                </div>
              </div>
            </article>
          <% end %>

          <div class="row text-center pagination-container">
            <div class="col-md-12">
              <nav>
                <ul class="pager">
                  <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Older Posts</a></li>
                  <li class="next"><a href="#">Newer Posts <span aria-hidden="true">&rarr;</span></a></li>
                </ul>
              </nav>
            </div>
          </div>

        </div>

        <%= render file: "public/templetes/dagle/shared/partials/_blog_sidebar" %>
      </div>
    </div>
  </section>
</div>
