<div id="blog">
  <section id="micro-blog-index">
    <div class="container">

      <div class="row">
        <div class="col-lg-9 col-md-9 main-content">
          <% @pages.each do |page| %>
            <div class="post-item">
              <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 post-head">
                  <i class="post-type-icon fa fa-file-text"></i>
                </div>

                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-10">
                  <div class="post-inner">
                    <div class="row">
                      <div class="col-lg-1 col-md-1 post-meta-image">
                          <img class="img-circle img-responsive" src="/templetes/dagle/img/icons/icon-circle-color.png" alt="Dagle Icon">
                      </div>

                      <div class="col-lg-11 col-md-11 post-meta-text">

                        <p>
                          <strong><%= page.title %></strong>
                          <br><%= get_date(page.created_at) %>
                        </p>
                      </div>
                    </div>

                    <hr>

                    <div class="row">
                      <div class="col-lg-12 post-content">
                        <%= raw page.content %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          <% end %>
        </div>

        <%= render file: "public/templetes/dagle/shared/partials/_blog_sidebar" %>
      </div>
      <%= paginate @pages %>
    </div>
  </section>
</div>
