<div id="faq">
  <div class="section-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>
            常见问题 <br>
            <small>
              Don't hesitate to call us if you need any additional help
            </small>
          </h2>
        </div>
      </div>
    </div>
  </div>


  <section id="accordion">
    <div class="container">

      <div class="row">
        <div class="col-md-9 main-content">

          <div class="panel-group">
            <% @pages.each_with_index do |page, index| %>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= page.id%>" style="display: block;">
                      <i class="fa fa-arrow-right"></i> <%= page.title %>
                    </a>
                  </h4>
                </div>
                <div id="collapse<%= page.id%>" class="panel-collapse collapse <%= 'in' if index == 0%>">
                  <div class="panel-body">
                     <%= raw page.content %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>

          <div class="row text-center">

            <div class="col-lg-12">
              <%= paginate @pages %>
            </div>

          </div>
        </div>

        <%= render file: "public/templetes/dagle/shared/partials/_blog_sidebar" %>
      </div>
    </div>
  </section>

<div>
