<div id="index" class="index-alt">
  <section id="headline-cover">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="headline-text" data-aos="fade-down">
            工业4.0， 工厂用德格
          </h1>

          <p class="subheading-text" data-aos="fade-down">
            如何管理产品、库存和订单；怎样拉近你和经销商的关系；如何开拓互联网，获取新客户......<br/>是时候改变观念，用上好软件了.
          </p>

          <div class="buttons-container" data-aos="fade-up">
            <a href="#"  data-toggle="modal" data-target="#purchaseModal" class="btn btn-lg btn-primary btn-round btn-main-cta">
              马上申请试用
            </a>

            <span class="or">or</span>

            <a href="<%= page_path("features") %>" class="btn btn-link">
              了解详情 &rarr;
            </a>
          </div>

          <img class="img-responsive main-img" src="/templetes/dagle/img/display/mockup-1.png" alt="" data-aos="fade-up">

        </div>

      </div>
    </div>

  </section>


  <%= render file: "public/templetes/dagle/shared/partials/_horizontal_features" %>

  <section id="features">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2>Do you want to get your website up and running quickly?</h2>
          <p class="lead">Purchase this template and create your beautiful website easily</p>
        </div>
      </div>
    </div>


    <%= render file: "public/templetes/dagle/shared/partials/_single_features" %>

  </section>

  <section id="highlight-cta">
    <div class="container">
      <div class="row">

        <div class="col-md-8 col-md-offset-2 text text-center">
          <h2>
            Ready to create your website?
          </h2>

          <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, reiciendis vel quisquam consectetur fuga qui aperiam iste.
          </p>

          <a href="#" class="btn btn-lg btn-primary btn-round">
            Purchase Now
            &rarr;
          </a>
        </div>
      </div>
    </div>
  </section>


  <%= render file: "public/templetes/dagle/shared/partials/_testimonials" %>


  <section id="company-slider">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <%= render file: "public/templetes/dagle/shared/partials/_logo_slider" %>

          <div class="row">
            <div class="col-md-12 text-center">
              <a href="#" class='btn btn-bordered btn-lg btn-round btn-primary'>
                Read more testimonials &rarr;
              </a>
            </div>
          </div>



        </div>
      </div>
    </div>

  </section>


  <section id="pricing-table">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2>Simple, honest pricing. No hidden fees.</h2>
          <p class="lead">
            No long term contracts. Change your plan at any time.
          </p>
        </div>
      </div>

      {% include "partials/pricing-table.html" %}

      <div class="row call-us">
        <div class="col-md-12">
          <div class="additional-header">
            <h3><i class="fa fa-phone"></i> Need help choosing a plan?</h3>
          </div>

          <div class="text">
            <p class="lead">
              Not sure of which plan to choose? Give us a call at <strong>456-121-1212</strong> and our dedicated support staff will help you figure out the best plan for you.
            </p>
          </div>
        </div>
      </div>



    </div>
  </section>



    <div id="feature-boxed">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="heading">
              <h2>
                Everything you need to launch your startup <br>

                <small>
                  Get yourself ahead with this beautiful template.
                </small>
              </h2>
            </div>

          </div>
        </div>


        <div class="row">
          <div class="col-md-4 feature-item">
            <i class="fa fa-picture-o feature-icon"></i>

            <div class="text">
              <h5>Beauifully Designed Pages</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, reprehenderit, doloribus corporis necessitatibus ut sint voluptates id excepturi laborum.</p>
            </div>

          </div>

          <div class="col-md-4 feature-item">
            <i class="fa fa-eye feature-icon"></i>

            <div class="text">
              <h5>Easily Customizable</h5>
              <p>Voluptatibus impedit obcaecati incidunt aliquid molestias voluptate fugiat excepturi accusantium quibusdam dolore beatae quidem vero voluptates a quasi.</p>
            </div>

          </div>

          <div class="col-md-4 feature-item">
            <i class="fa fa-mobile-phone feature-icon"></i>

            <div class="text">
              <h5>Works well on mobile &amp; tablets</h5>
              <p>Necessitatibus, nemo aliquid. Nihil, ullam consequatur ipsa placeat.Explicabo perspiciatis voluptates quam quia aliquid at rem nulla omnis sit. </p>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-md-4 feature-item">
            <i class="fa fa-signal feature-icon"></i>

            <div class="text">
              <h5>Analytics</h5>
              <p>Laboriosam quod aperiam blanditiis ratione odit officiis deserunt quas mollitia totam similique!</p>
            </div>

          </div>

          <div class="col-md-4 feature-item">
            <i class="fa fa-clock-o feature-icon"></i>

            <div class="text">
              <h5>Blog and Coming Soon pages included</h5>
              <p>Rem, dolorem, magni aspernatur delectus nihil reiciendis temporibus ipsum rerum iusto placeat vero.</p>
            </div>

          </div>

          <div class="col-md-4 feature-item">
            <i class="fa fa-flask feature-icon"></i>

            <div class="text">
              <h5>Bright, cheerful colors</h5>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, earum, dolorum iste ut sed dolor!
              </p>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <div class="text-center">

              <a href="#" class="btn btn-lg btn-block btn-primary btn-round btn-main-cta">
                <i class="material-icons">add_shopping_cart</i>
                Purchase Now
              </a>

            </div>
          </div>
        </div>
      </div>
    </div>



</div>
