<div id="index" class="index-alt">
  <section id="headline-cover">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="headline-text" data-aos="fade-down">
            工业4.0， 工厂用德格
          </h1>

          <p class="subheading-text" data-aos="fade-down">
            如何管理产品、库存和订单；怎样拉近你和经销商的关系；如何开拓互联网，获取新客户......<br/>是时候改变观念，用上好软件了.
          </p>

          <div class="buttons-container" data-aos="fade-up">
            <a href="#"  data-toggle="modal" data-target="#purchaseModal" class="btn btn-lg btn-primary btn-round btn-main-cta">
              马上申请试用
            </a>

            <span class="or">or</span>

            <a href="<%= page_path("features") %>" class="btn btn-link">
              了解详情 &rarr;
            </a>
          </div>

          <img class="img-responsive main-img" src="/templetes/dagle/img/display/mockup-1.png" alt="" data-aos="fade-up">

        </div>

      </div>
    </div>

  </section>


  <%= render file: "public/templetes/dagle/shared/partials/_horizontal_features" %>

  <section id="features">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2>未来中国没有传统行业，每一个行业都将被全面互联网化！</h2>
          <p class="lead">互联网已经成为企业不可或缺的基础设施；企业也不需革命，只是需要一款漂亮的软件，优雅的转型。</p>
        </div>
      </div>
    </div>


    <%= render file: "public/templetes/dagle/shared/partials/_single_features" %>

  </section>

  <section id="highlight-cta">
    <div class="container">
      <div class="row">

        <div class="col-md-8 col-md-offset-2 text text-center">
          <h2>
            为什么要使用德格?
          </h2>

          <p class="lead">
            德格通过运用互联网思维实现小微企业经营模式、商业模式的创新和变革。
            整合线上线下各类资源，实现在产品创新、生产制造、营销等环节的规模化与定制化的统一，
            以数据为驱动，以客户为中心，最终完成企业互联网化的转变。
          </p>

          <a href="#" class="btn btn-lg btn-primary btn-round">
            马上试用
            &rarr;
          </a>
        </div>
      </div>
    </div>
  </section>


  <%= render file: "public/templetes/dagle/shared/partials/_testimonials" %>


  <section id="company-slider">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <%= render file: "public/templetes/dagle/shared/partials/_logo_slider" %>

          <div class="row">
            <div class="col-md-12 text-center">
              <a href="#" class='btn btn-bordered btn-lg btn-round btn-primary'>
                查看更多合作商 &rarr;
              </a>
            </div>
          </div>



        </div>
      </div>
    </div>

  </section>


  <section id="pricing-table">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2>德格软件部署流程.</h2>
          <p class="lead">
            轻松几步，快速上线，人工智能，越用越好用.
          </p>
        </div>
      </div>

      <%= render file: "public/templetes/dagle/shared/partials/_pricing_table" %>

      <div class="row call-us">
        <div class="col-md-12">
          <div class="additional-header">
            <h3><i class="fa fa-phone"></i> 不清楚你的企业是否适用?</h3>
          </div>

          <div class="text">
            <p class="lead">
              你可以拨打业务经理电话 <a href="tel:18080810818"><strong>180-8081-0818</strong></a>
              我会第一时间与你取得联系并根据你的情况评估软件的可用性.
            </p>
          </div>
        </div>
      </div>



    </div>
  </section>



    <div id="feature-boxed">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="heading">
              <h2>
                匠心所致，行业所选 <br>

                <small>
                  德格运行在超过20个行业，为生成型企业带来便利.
                </small>
              </h2>
            </div>

          </div>
        </div>


        <div class="row">
          <div class="col-md-4 feature-item">
            <i class="fa fa-picture-o feature-icon"></i>

            <div class="text">
              <h5>Beauifully Designed Pages</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, reprehenderit, doloribus corporis necessitatibus ut sint voluptates id excepturi laborum.</p>
            </div>

          </div>

          <div class="col-md-4 feature-item">
            <i class="fa fa-eye feature-icon"></i>

            <div class="text">
              <h5>Easily Customizable</h5>
              <p>Voluptatibus impedit obcaecati incidunt aliquid molestias voluptate fugiat excepturi accusantium quibusdam dolore beatae quidem vero voluptates a quasi.</p>
            </div>

          </div>

          <div class="col-md-4 feature-item">
            <i class="fa fa-mobile-phone feature-icon"></i>

            <div class="text">
              <h5>Works well on mobile &amp; tablets</h5>
              <p>Necessitatibus, nemo aliquid. Nihil, ullam consequatur ipsa placeat.Explicabo perspiciatis voluptates quam quia aliquid at rem nulla omnis sit. </p>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-md-4 feature-item">
            <i class="fa fa-signal feature-icon"></i>

            <div class="text">
              <h5>Analytics</h5>
              <p>Laboriosam quod aperiam blanditiis ratione odit officiis deserunt quas mollitia totam similique!</p>
            </div>

          </div>

          <div class="col-md-4 feature-item">
            <i class="fa fa-clock-o feature-icon"></i>

            <div class="text">
              <h5>Blog and Coming Soon pages included</h5>
              <p>Rem, dolorem, magni aspernatur delectus nihil reiciendis temporibus ipsum rerum iusto placeat vero.</p>
            </div>

          </div>

          <div class="col-md-4 feature-item">
            <i class="fa fa-flask feature-icon"></i>

            <div class="text">
              <h5>Bright, cheerful colors</h5>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, earum, dolorum iste ut sed dolor!
              </p>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <div class="text-center">

              <a href="#" class="btn btn-lg btn-block btn-primary btn-round btn-main-cta">
                <i class="material-icons">add_shopping_cart</i>
                马上申请试用
              </a>

            </div>
          </div>
        </div>
      </div>
    </div>



</div>
