<div id="index" class="index-mobile">
  <section id="headline-cover">
    <div class="container">
      <div class="row">
        <div class="col-md-5" data-aos="fade-up-right">
          <img class="img-responsive main-img" src="/templetes/dagle/img/display/mockup-6.png" alt="">
        </div>
        <div class="col-md-7" data-aos="fade-up-left">
          <h1 class="headline-text">
            用德格，<span style="color:yellow;">移动</span>你的生意。
          </h1>

          <p class="subheading-text">
            德格帮助你布局互联网营销，建立平台与经销商、经销商与客户的关系。软件的渐进式体验和迭代式开发，帮助正在成长的企业，步步为赢！
          </p>

          <div class="buttons-container" data-aos="fade-up">
            <a href="javascript:void(0);" onclick="_MEIQIA._SHOWPANEL();" data-toggle="modal" data-target="#purchaseModal" class="btn btn-lg btn-primary btn-round btn-main-cta">
              马上申请试用
            </a>

            <span class="or">or</span>

            <a href="<%= page_path("features") %>" class="btn btn-link">
              了解详情 &rarr;
            </a>
          </div>
        </div>

      </div>
    </div>

  </section>

  <%= render file: "public/templetes/dagle/shared/partials/_horizontal_features" %>

  <section id="features">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2>通过手机，您就可以优雅的开展工作；指点江山，运筹帷幄！</h2>
          <p class="lead">一款优秀的软件，将是触手可及；它懂你，智能，且为你所用。</p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row feature-single">
        <div class="col-md-6 col-sm-4 image hidden-xs" data-aos="fade-up-right">
          <img src="/templetes/dagle/img/display/mockup-8.png" class="img-responsive" alt="feature1" />
        </div>

        <div class="col-md-6 col-sm-8 text" data-aos="fade-up-left">
          <h3>
            实现企业在移动端的运用转变，从支持到优先选择
          </h3>

          <p class="lead">
            通过德格为您的员工和客户提供及时的响应和洞察
            <br/>
            转型成为移动型企业，为集体提供最强大的能力
          </p>
        </div>

      </div>

      <div class="divider"></div>

      <div class="row feature-single">
        <div class="col-md-6 col-sm-8 text" data-aos="fade-up-right">
          <h3>
            高效的开发管理应用，营造更为个性化的用户体验
          </h3>

          <p class="lead">
            迅速迭代的开发移动应用环境，实现变革和跟快的发展
            <br/>
            以及服务企业数据和分析，营造全新的客户体验
          </p>
        </div>

        <div class="col-md-6 col-sm-4 image hidden-xs" data-aos="fade-up-left">
          <img src="/templetes/dagle/img/display/mockup-9.png" class="img-responsive" alt="feature1" />
        </div>
      </div>

      <!-- 更多优点 -->
      <div class="feature-square-list" data-aos="fade-up">
        <div class="row">
          <div class="col-md-12">
            <div class="additional-header">
              <h3>还有更多优点</h3>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 feature-square-single">
            <div class="main-icon-container">
              <i class="material-icons">account_balance</i>
            </div>

            <h5>德格，触手可及</h5>
            <p>PC电脑，手机Wap，微信公众号，微信小程序，短信推送；通过各种你喜欢的方式使用德格。</p>
          </div>

          <div class="col-md-4 feature-square-single second">
            <div class="main-icon-container">
              <i class="material-icons">web</i>
            </div>

            <h5>德格，简单好用</h5>
            <p>说到企业管理软件，给人的印象就是一个庞然大物，复杂，难用。德格摒弃了传统的软件架构，以极轻的方式呈现，让你很快上手。</p>
          </div>

          <div class="col-md-4 feature-square-single">
            <div class="main-icon-container">
              <i class="material-icons">gesture</i>
            </div>

            <h5>德格，量身定制</h5>
            <p>针对各种中小型企业自身情况定制业务流程，没有标准模式，只有适合企业自身的定制。</p>
          </div>
        </div>
      </div>

    </div>

  </section>

  <section id="highlight-cta">
    <div class="container">
      <div class="row">

        <div class="col-md-8 col-md-offset-2 text text-center">
          <h2>
            为什么要使用德格?
          </h2>

          <p class="lead">
            德格通过运用互联网思维实现小微企业经营模式、商业模式的创新和变革。
            整合线上线下各类资源，实现在产品创新、生产制造、营销等环节的规模化与定制化的统一，
            以数据为驱动，以客户为中心，最终完成企业互联网化的转变。
          </p>

          <a href="javascript:void(0);" onclick="_MEIQIA._SHOWPANEL();"  class="btn btn-lg btn-primary btn-round btn-main-cta">
            马上试用
            &rarr;
          </a>
        </div>
      </div>
    </div>
  </section>

  <%= render file: "public/templetes/dagle/shared/partials/_testimonials" %>

  
  <section id="company-slider">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <%= render file: "public/templetes/dagle/shared/partials/_logo_slider" %>

          <div class="row">
            <div class="col-md-12 text-center">
              <a href="<%= get_cms_url("case") %>" class='btn btn-bordered btn-lg btn-round btn-primary'>
                查看更多合作商 &rarr;
              </a>
            </div>
          </div>



        </div>
      </div>
    </div>

  </section>
  <%#= render "shared/partials/testimonials" %>

  <section id="pricing-table">
    <div class="container">
      <%#= render "shared/partials/pricing_table" %>
      <div class="row call-us">
        <div class="col-md-12">
          <div class="additional-header">
            <h3><i class="fa fa-phone"></i> 不清楚你的企业是否适用?</h3>
          </div>
          <div class="text">
            <p class="lead">
              你可以拨打业务经理电话 <a href="tel:18080810818"><strong>180-8081-0818</strong></a>
              我会第一时间与你取得联系并根据你的情况评估软件的可用性.
            </p>
          </div>
        </div>
      </div>

    </div>
  </section>

</div>
