<div id="portfolio-page" class='three-column-portfolio page'>

  <div class="section-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>
            Our Portfolio <br>
            <small>
              Take a look at what we have done so far
            </small>
          </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="text-centered">
          <ul id="filterable-nav" class="nav filter-nav">
            <li><a href="#" class="active" data-filter="*">All</a>
            </li>
            <li><a href="#" data-filter=".design">Design</a>
            </li>
            <li><a href="#" data-filter=".political">Political</a>
            </li>
            <li><a href="#" data-filter=".university">University</a>
            </li>
            <li><a href="#" data-filter=".business">Business</a>
            </li>
            <li><a href="#" data-filter=".jquery">jQuery</a>
            </li>
          </ul>
        </div>

        <div id="filterable-list" class="row">
          <div class="filter-item-third business ecommerce partner cms programming jquery search">

            <div class="portfolio-item">
              <a href="<%= page_path("portfolio_item") %>" class="portfolio-hover">
                <img class="img-responsive" src="/assets/cleancut/gallery-thumbs/1.jpg">
                <div class="overlay">
                  <h5>View Project</h5>
                </div>
              </a>

              <div class="text">
                <h3><a href="<%= page_path("portfolio_item") %>">Project Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>

              </div>
            </div>

          </div>

          <div class="filter-item-third nonprofit partner cms jquery">

            <div class="portfolio-item">
              <a href="<%= page_path("portfolio_item") %>" class="portfolio-hover">
                <img class="img-responsive" src="/assets/cleancut/gallery-thumbs/2.jpg">
                <div class="overlay">
                  <h5>View Project</h5>
                </div>
              </a>
              <div class="text">
                <h3><a href="<%= page_path("portfolio_item") %>">Project Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>

              </div>
            </div>

          </div>

          <div class="filter-item-third business design">

            <div class="portfolio-item">
              <a href="<%= page_path("portfolio_item") %>" class="portfolio-hover">
                <img class="img-responsive" src="/assets/cleancut/gallery-thumbs/3.jpg">
                <div class="overlay">
                  <h5>View Project</h5>
                </div>
              </a>
              <div class="text">
                <h3><a href="<%= page_path("portfolio_item") %>">Project Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>

              </div>
            </div>

          </div>


          <div class="filter-item-third nonprofit university design cms jquery video">

            <div class="portfolio-item">
              <a href="<%= page_path("portfolio_item") %>" class="portfolio-hover">
                <img class="img-responsive" src="/assets/cleancut/gallery-thumbs/4.jpg">
                <div class="overlay">
                  <h5>View Project</h5>
                </div>
              </a>
              <div class="text">
                <h3><a href="<%= page_path("portfolio_item") %>">Project Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>

              </div>
            </div>

          </div>

          <div class="filter-item-third political design cms">

            <div class="portfolio-item">
              <a href="<%= page_path("portfolio_item") %>" class="portfolio-hover">
                <img class="img-responsive" src="/assets/cleancut/gallery-thumbs/5.jpg">
                <div class="overlay">
                  <h5>View Project</h5>
                </div>
              </a>
              <div class="text">
                <h3><a href="<%= page_path("portfolio_item") %>">Project Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>

              </div>
            </div>

          </div>

          <div class="filter-item-third university partner design cms jquery">

            <div class="portfolio-item">
              <a href="<%= page_path("portfolio_item") %>" class="portfolio-hover">
                <img class="img-responsive" src="/assets/cleancut/gallery-thumbs/6.jpg">
                <div class="overlay">
                  <h5>View Project</h5>
                </div>
              </a>
              <div class="text">
                <h3><a href="<%= page_path("portfolio_item") %>">Project Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>

              </div>
            </div>

          </div>



          <div class="filter-item-third nonprofit econdev partner cms jquery search">

            <div class="portfolio-item">
              <a href="<%= page_path("portfolio_item") %>" class="portfolio-hover">
                <img class="img-responsive" src="/assets/cleancut/gallery-thumbs/7.jpg">
                <div class="overlay">
                  <h5>View Project</h5>
                </div>
              </a>
              <div class="text">
                <h3><a href="<%= page_path("portfolio_item") %>">Project Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>

              </div>
            </div>

          </div>

          <div class="filter-item-third political design cms video">

            <div class="portfolio-item">
              <a href="<%= page_path("portfolio_item") %>" class="portfolio-hover">
                <img class="img-responsive" src="/assets/cleancut/gallery-thumbs/8.jpg">
                <div class="overlay">
                  <h5>View Project</h5>
                </div>
              </a>
              <div class="text">
                <h3><a href="<%= page_path("portfolio_item") %>">Project Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>

              </div>
            </div>

          </div>

          <div class="filter-item-third business design cms analytics">

            <div class="portfolio-item">
              <a href="<%= page_path("portfolio_item") %>" class="portfolio-hover">
                <img class="img-responsive" src="/assets/cleancut/gallery-thumbs/9.jpg">
                <div class="overlay">
                  <h5>View Project</h5>
                </div>
              </a>
              <div class="text">
                <h3><a href="<%= page_path("portfolio_item") %>">Project Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>

              </div>
            </div>

          </div>

          <div class="filter-item-third business partner cms programming jquery video">

            <div class="portfolio-item">
              <a href="<%= page_path("portfolio_item") %>" class="portfolio-hover">
                <img class="img-responsive" src="/assets/cleancut/gallery-thumbs/10.jpg">
                <div class="overlay">
                  <h5>View Project</h5>
                </div>
              </a>
              <div class="text">
                <h3><a href="<%= page_path("portfolio_item") %>">Project Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>

              </div>
            </div>

          </div>

          <div class="filter-item-third business partner cms search">

            <div class="portfolio-item">
              <a href="<%= page_path("portfolio_item") %>" class="portfolio-hover">
                <img class="img-responsive" src="/assets/cleancut/gallery-thumbs/1.jpg">
                <div class="overlay">
                  <h5>View Project</h5>
                </div>
              </a>
              <div class="text">
                <h3><a href="<%= page_path("portfolio_item") %>">Project Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>

              </div>
            </div>

          </div>

          <div class="filter-item-third nonprofit partner cms programming password">

            <div class="portfolio-item">
              <a href="<%= page_path("portfolio_item") %>" class="portfolio-hover">
                <img class="img-responsive" src="/assets/cleancut/gallery-thumbs/2.jpg">
                <div class="overlay">
                  <h5>View Project</h5>
                </div>
              </a>
              <div class="text">
                <h3><a href="<%= page_path("portfolio_item") %>">Project Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>

              </div>
            </div>

          </div>

          <div class="filter-item-third political design cms landing email video">

            <div class="portfolio-item">
              <a href="<%= page_path("portfolio_item") %>" class="portfolio-hover">
                <img class="img-responsive" src="/assets/cleancut/gallery-thumbs/3.jpg">
                <div class="overlay">
                  <h5>View Project</h5>
                </div>
              </a>
              <div class="text">
                <h3><a href="<%= page_path("portfolio_item") %>">Project Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>

              </div>
            </div>

          </div>





        </div>
      </div>


    </div>
  </div>

  <%= render "shared/partials/horizontal_features" %>

</div>
