<div class="main-wrapper">
	<%= render file: 'public/templetes/newshub/_header.html.erb' %>
	<div class="container">
		<!-- [[header start]] -->
	  <%= render file: 'public/templetes/newshub/_top_menu.html.erb' %>
		<!-- [[header end]] -->
		<div class="row">
			<div class="col-sm-9 tr-sticky">
				<div class="tr-content theiaStickySidebar">
					<div class="tr-section">
						<div class="tr-post">
							<div class="entry-header">
								<div class="entry-thumbnail">
									<img class="img-responsive" src="<%= @site.first_image %>" alt="<%= @site.title %>">
								</div>
							</div>
							<div class="post-content">
								<div class="author">
									<img class="img-responsive img-circle" src="/templetes/newshub/images/others/author1.png" alt="Image">
								</div>
								<div class="entry-meta">
									<ul>
										<li>By <a href="#"><%= @site.catalog.name %></a></li>
										<li><a href="#"> <%= distance_of_time_in_words_to_now(@site.updated_at) %>前</a></li>
										<li>
											<ul>
												<li>分享到</li>
												<li><a href="#"><i class="fa fa-qq" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-weixin" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-weibo" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-renren" aria-hidden="true"></i></a></li>
											</ul>
										</li>
									</ul>
								</div><!-- /.entry-meta -->
								<h2 class="entry-title">
									<%= @site.title %>
								</h2>
							</div><!-- /.post-content -->
						</div><!-- /.tr-post -->

						<div class="tr-details">
							<%= raw @site.content %>
						</div>
					</div><!-- /.tr-section -->

					<div class="tr-ad">
						<a href="#"><img class="img-responsive" src="/templetes/newshub/images/advertise/1.jpg" alt="Image"></a>
					</div><!-- /.add -->

					<%= render file: 'public/templetes/newshub/_comments.html.erb' %>
				</div><!-- /.tr-content -->
			</div><!-- /.tr-sticky -->

			<div class="col-sm-3 tr-sidebar tr-sticky">
				<%#= render file: 'public/templetes/newshub/_sidebar.html.erb' %>
			</div>
		</div><!-- /.row -->

		<div class="tr-ad ad-bottom ad-image text-center">
			<a href="#"><img class="img-responsive" src="/templetes/newshub/images/advertise/5.jpg" alt="Image"></a>
		</div><!-- /.tr-ad -->

	</div><!-- /.container-fulid -->
</div><!-- /.main-wrapper -->
<!-- [[footer start]] -->
<%= render file: 'public/templetes/newshub/_footer.html.erb' %>
<!-- [[footer end]] -->
