<style type="text/css">
	.weight-300{
		font-weight: 300 !important;
	}
	.margin-top-10{
		margin-top: 10px !important;
	}
	.contact-fa{
		padding-right: 5px;
		color: #35ceb4;
	}
</style>
<div class="main-wrapper">
	<%= render file: 'public/templetes/newshub/_header.html.erb' %>
	<div class="container">
		<!-- [[header start]] -->
	  <%= render file: 'public/templetes/newshub/_top_menu.html.erb' %>
		<!-- [[header end]] -->
		<div class="row">
			<div class="col-sm-9 tr-sticky">
				<div class="tr-content theiaStickySidebar">
					<div class="tr-section">
						<div class="tr-post">
							<div class="entry-header">
								<div class="entry-thumbnail">
									<div class="col-md-7">
										<img class="img-responsive" src="<%= @site.first_image %>" alt="<%= @site.title %>" style="max-height: 300px;">
									</div>
									<div class="col-md-5">
										<div class="post-content margin-top-10">
											<h1 class="entry-title weight-300"><%= @site.title %></h1>
											<p><i class="fa fa-map-marker fa-lg contact-fa"></i>地址： <%= @site.address_line %></p>
											<p><i class="fa fa-mobile fa-lg contact-fa"></i>电话： <%= @site.contact_phone %></p>
											<p><i class="fa fa-rmb fa-lg contact-fa"></i>费用：
												<% if @site.avg_price.to_i == 0 %>
												免费
												<% else%>
												<%= @site.avg_price %>
												<% end %>
											</p>
											<p><i class="fa fa-info fa-lg contact-fa"></i>简介： <%= @site.description.truncate(80) %></p>
											<a href="" class="btn btn-block btn-lg btn-success" style="color: #fff;" target="_blank">马上预订</a>
										</div>
									</div>
								</div>
							</div>
							<div class="post-content">
								<div class="author">
									<img class="img-responsive img-circle" src="/templetes/newshub/images/others/user.png" alt="Image">
								</div>
								<div class="entry-meta">
									<ul>
										<li><a href="javascript:void(0)"><i class="fa fa-user-circle-o"></i> <%= @cms_site.name %></a></li>
                    <li><a href="javascript:void(0)"><i class="fa fa-clock-o"></i> <%= distance_of_time_in_words_to_now(@site.updated_at) %>前</a></li>
                    <li><a href="javascript:void(0)"><i class="fa fa-eye"></i> <%= @site.visits_count %>阅读</a></li>
                    <li><a href="javascript:void(0)"><i class="fa fa-comments-o"></i> <%= @site.comments_count %>评论</a></li>
										<li>
											<ul>
												<div class="bdsharebuttonbox" data-tag="share_1">
	                        <a class="bds_qzone" data-cmd="qzone"></a>
	                        <a class="bds_tsina" data-cmd="tsina"></a>
	                        <a class="bds_sqq" data-cmd="sqq"></a>
	                        <a class="bds_weixin" data-cmd="weixin"></a>
	                      </div>
											</ul>
										</li>
									</ul>
								</div><!-- /.entry-meta -->
								<h2 class="entry-title">
									<%= @site.title %>
								</h2>
							</div><!-- /.post-content -->
						</div><!-- /.tr-post -->

						<div class="tr-details">
							<%= raw @site.content %>
						</div>
					</div><!-- /.tr-section -->

					<% if Keystore.value_for('banner-site-center-center-773x84').present? %>
          <div class="tr-ad">
            <% banner_site_center_center = Keystore.value_for('banner-site-center-center-773x84').split('|') %>
            <a href="<%= banner_site_center_center[1] || 'javascript:void(0)' %>" target="_blank" ><img class="img-responsive" src="<%= banner_site_center_center[0] %>" alt="广告横幅773x84"></a>
          </div>
          <% end %>
          
					<%= render file: 'public/templetes/newshub/_comments.html.erb' %>
				</div><!-- /.tr-content -->
			</div><!-- /.tr-sticky -->

			<div class="col-sm-3 tr-sidebar tr-sticky">
				<%= render file: 'public/templetes/newshub/_sidebar.html.erb' %>
			</div>
		</div><!-- /.row -->

		<% if Keystore.value_for('banner-site-bottom-center-819×119').present? %>
		<div class="tr-ad ad-bottom ad-image text-center">
      <% banner_site_bottom_center = Keystore.value_for('banner-site-bottom-center-819×119').split('|') %>
			<a href="<%= banner_site_bottom_center[1] || 'javascript:void(0)' %>" target="_blank" ><img class="img-responsive" src="<%= banner_site_bottom_center[0] %>" alt="广告横幅819×119"></a>
		</div>
    <% end %>

	</div><!-- /.container-fulid -->
</div><!-- /.main-wrapper -->
<!-- [[footer start]] -->
<%= render file: 'public/templetes/newshub/_footer.html.erb' %>
<!-- [[footer end]] -->
