<style type="text/css">
	.weight-300{
		font-weight: 300 !important;
	}
	.margin-top-10{
		margin-top: 10px !important;
	}
	.contact-fa{
		padding-right: 5px;
		color: #35ceb4;
	}
</style>
<div class="main-wrapper">
	<%= render file: 'public/templetes/newshub/_header.html.erb' %>
	<div class="container">
		<div class="row">
      <div class="col-md-12 <%= 'padding-0' if mobile_device? %>">
        <div class="tr-breadcrumb margin-top-15">
          <div class="title pull-left">
            <h1><%= @site.title %></h1>
          </div>
          <ol class="breadcrumb pull-right">
            <li><a href="/">首页</a></li>
            <li class="active"><%= @site.catalog.name %></li>
          </ol>
        </div>
      </div>
			<div class="col-sm-9 col-xs-12 tr-sticky <%= 'padding-0' if mobile_device? %>">
				<div class="tr-content theiaStickySidebar">
					<div class="tr-section">
						<div class="tr-post">
							<div class="entry-header">
								<div class="entry-thumbnail">
									<div class="col-md-4">
										<img class="img-responsive" src="<%= @site.first_image %>" alt="<%= @site.title %>" style="max-height: 350px;">
									</div>
									<div class="col-md-8">
										<div class="post-content margin-top-10">
                      <div class="row">
                        <div class="col-md-9 col-xs-9">
  											  <h2 class="entry-title weight-300"><%= @site.title %></h2>
                        </div>
                        <div class="col-md-3 col-xs-3">
                          <!-- 关注插件 -->
                          <% if current_user %>
                            <div rel="favorite-button" data-url="<%= favorite_frontend_site_path(@site) %>" >
                              <button v-if="isFavorite" v-on:click="deleteFavorite" class="btn btn-default">取消关注</button>
                              <button v-else v-on:click="postFavorite" class="btn btn-success">关注</button>
                            </div>
                          <% else %>
                            <%= link_to '关注', admin_sign_in_path, class: 'btn btn-default btn-sm' %>
                          <% end %>
                          <!-- 关注插件 -->
                        </div>
                      </div>
											<p><i class="fa fa-user contact-fa"></i>联系人：
												<% if @site.contact_name.present? %>
                          <%= @site.contact_name %>
                        <% else %>
                          <%= @site.title %>
                        <% end %>
											</p>
											<p><i class="fa fa-mobile fa-lg contact-fa"></i>联系电话：
												<% if @site.contact_phone.present? %>
                          <%= @site.contact_phone %>
                        <% else %>
                          <%= @site.phone %>
                        <% end %>
											</p>
											<p><i class="fa fa-map-marker contact-fa"></i>地址：
												<% if @site.address_line.present? %>
                          <%= @site.address_line %>
                        <% else %>
                          暂无
                        <% end %> 
											</p>
											<p><i class="fa fa-info contact-fa"></i>简介：<%= @site.description.truncate(50) %></p>
                      <!-- 分享 -->
                      <div class="entry-meta">
                        <ul>
                          <li><a href="javascript:void(0)"><i class="fa fa-comments-o"></i> <%= @site.comments_count %>评论</a></li>
                          <li>
                            <ul>
                              <div class="bdsharebuttonbox" data-tag="share_1">
                                <a class="bds_qzone" data-cmd="qzone"></a>
                                <a class="bds_tsina" data-cmd="tsina"></a>
                                <a class="bds_sqq" data-cmd="sqq"></a>
                                <a class="bds_weixin" data-cmd="weixin"></a>
                              </div>
                            </ul>
                          </li>
                        </ul>
                      </div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="tr-details">
              <h4><%= @site.title %>产品</h4>
							<div class="row">
                <% if @site.products.present? %>
                  <% @site.products.where("features ->> 'is_shelves' = ?", '1').each do |product| %>
                    <%
                      doc = Nokogiri::HTML(product.try(:content))
                      img_srcs = doc.css('img').map{ |i| i['src'] }
                    %>
                    <div class="col-md-6" style="margin: 10px 0;">
                      <div class="col-md-3">
                        <% if product.external_purchase_url.presence %>
                          <a href="<%= product.external_purchase_url %>" target="_blank">
                        <% elsif product.is_foraged %>
                          <a href="<%= product.forage_url %>" target="_blank">
                        <% else %>
                          <a href="<%= frontend_product_path(product) %>">
                        <% end %>
                          <img src="<%= img_srcs[0].present? ? img_srcs[0] : product.first_image %>" class="img-responsive" >
                        </a>
                      </div>
                      <div class="col-md-9">
                        <% if product.external_purchase_url.presence %>
                          <a href="<%= product.external_purchase_url %>" target="_blank">
                        <% elsif product.is_foraged %>
                          <a href="<%= product.forage_url %>" target="_blank">
                        <% else %>
                          <a href="<%= frontend_product_path(product) %>">
                        <% end %>
                          <%= product.name %>
                        </a>
                      </div>
                    </div>
                  <% end %>
                <% else %>
                  <h4 class="text-center">暂无相关产品</h4>
                <% end %>
              </div>
						</div>
					</div>

					<%= render file: 'public/templetes/newshub/_comments.html.erb' %>
				</div><!-- /.tr-content -->
			</div><!-- /.tr-sticky -->

      <% unless mobile_device? %>
			<div class="col-sm-3 tr-sidebar tr-sticky">
				<%= render file: 'public/templetes/newshub/_sidebar.html.erb' %>
			</div>
      <% end %>
		</div><!-- /.row -->

	</div><!-- /.container-fulid -->
</div><!-- /.main-wrapper -->
<!-- [[footer start]] -->
<%= render file: 'public/templetes/newshub/_footer.html.erb' %>
<!-- [[footer end]] -->
