<style type="text/css">
  .margin-bottom-80 {
    margin-bottom: 80px !important;
  }
</style>
<!-- [[header start]] -->
<div class="tr-topbar topbar-width-container topbar-two clearfix <%= 'margin-bottom-80' if mobile_device? %>">
  <div class="container">
    <% if mobile_device? %>
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation" >
        <div class="row mobile-header">

          <!-- Logo -->
          <div class="col-xs-4">
            <a class="" href="/" title="文广通，公共文化大数据平台">
              <img src="<%= Keystore.value_for(:mobile_center_logo) || 'http://s.tanmer.cn/qgm1' %>" alt="文广通，公共文化大数据平台" style="width: 120px;height: 36px;">
            </a>
          </div>
          <div class="col-xs-2"></div>
          
          <!-- 用户中心 -->
          <div class="col-xs-2">
            <div class="text-center margin-10">
              <% if current_user %>
                <div class="user">
                  <div class="dropdown user-dropdown white-text">
                    <a href="#" aria-expanded="true" class="white-text" data-toggle="dropdown"><i class="fa fa-user fa-lg" aria-hidden="true"></i></a>
                    <ul class="sub-menu text-left" style="left: 15px;width: 100px;">
                      <li><%= link_to '个人中心', users_path, title: '个人中心' %></li>
                      <li><%= link_to '消息中心', self_message_users_path, title: '消息中心' %></li>
                      <li><%= link_to '我的订单', self_order_users_path, title: '我的订单' %></li>
                      <li><%= link_to '我的评论', self_comment_users_path, title: '我的评论' %></li>
                      <li><%= link_to '关注收藏', favorites_users_path, title: '关注收藏' %></li>
                      <li><%= link_to '退出', sign_out_path, method: :delete %></li>
                    </ul>
                  </div>
                </div>
              <% else %>
                <a href="/admin/sign_in">
                  <i class="fa fa-user fa-lg"></i>
                </a>
              <% end %>
            </div>
          </div>

          <!-- 分站选择 -->
          <div class="col-xs-2">
            <div class="text-center margin-10">
              <div class="user">
                <div class="dropdown user-dropdown white-text">
                  <a href="#" aria-expanded="true" class="white-text" data-toggle="dropdown"><i class="fa fa-map-marker fa-lg" aria-hidden="true"></i></a>
                  <ul class="sub-menu text-left" style="left: 15px;width: 100px;">
                    <li>
                      <% if @cms_site.domain != "www" %>
                        <a href="http://www.wgtong.cn/">返回主页</a>
                      <% end %>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <!-- 搜索按钮 -->
          <div class="col-xs-2">
            <div class="text-center margin-10">
              <%= form_for :search, url: search_result_path, method: :get, class: 'widget_search' do |f| %>
                <%= f.text_field :keywords, value: params[:search]&&params[:search][:keywords], class: 'sidebar-search-form hidden-xs', autocomplete: "off", placeholder: '请输入要搜索的内容' %>
                <a onclick="submit_search()" title="搜索">
                  <i class="fa fa-search fa-lg"></i>
                </a>
              <% end %>
              <script type="text/javascript">
                function submit_search() {
                  $('form').submit();
                }
              </script>
            </div>
          </div>

        </div>

        <!-- 可选择分类 -->
        <% unless request.path.include?("/users") %>
        <div class="row mobile-nav">
          <div class="col-xs-10 mobile-nav-left">
            <div class="nav-scroll text-left">
              <label class="margin-bottom-0">
                <% if request.path == '/' %>
                  <a href="/" class="active-catalog" title="推荐">推荐</a>
                <% else %>
                  <a href="/" title="推荐">推荐</a>
                <% end %>
              </label>
              <label class="margin-bottom-0">
                <% if request.path == '/news' %>
                  <a href="/news" class="active-catalog"><%= @cms_site.channels.find_by(short_title: 'news').try(:title) %></a>
                <% else %>
                  <a href="/news"><%= @cms_site.channels.find_by(short_title: 'news').try(:title) %></a>
                <% end %>
              </label>
              <% ProductCatalog.all.each_with_index do |catalog, index| %>
                <label class="margin-bottom-0 index-show-catalog">
                  <a href="<%= frontend_product_catalog_path(catalog) %>" class="" id="index-show-catalog-<%= index %>"></a>
                </label>
              <% end %>
            </div>
          </div>
          <div class="col-xs-2 padding-0 mobile-nav-right">
            <div class="mobile-nav-right-fa">
              <a href="javascript:;" data-toggle="modal" data-target="#select-catalog" class="active-catalog">
                <i class="fa fa-plus fa-lg"></i>
              </a>
            </div>

            <div class="modal fade text-left" id="select-catalog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="background-color: rgba(0,0,0,.7);">
              <div class="modal-dialog <%= 'margin-top-60' if mobile_device? %>" role="document" style="margin: 0;">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-center" id="myModalLabel" style="font-weight: 300;">分类管理</h4>
                  </div>
                  <div class="modal-body" style="padding: 30px 0;">
                    <div class="row">
                      <div class="col-xs-12">
                        <p class="catalog-tip">&nbsp;&#42;&nbsp;点击分类名称，选择需要在首页展示的分类</p>
                        <div class="col-xs-3 delete-catalog">
                          <div class="catalog-border isselected">
                            推荐
                          </div>
                        </div>
                        <% ProductCatalog.all.each_with_index do |catalog, index| %>
                          <div class="col-xs-3 delete-catalog">
                            <div class="catalog-border" id="catalog-<%= index %>" data-catalog-name="<%= catalog.name %>" data-catalog-id="<%= catalog.id %>" >
                              <%= catalog.name %>
                            </div>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" onclick="return_index()" class="btn btn-success">确定</button>
                    <script type="text/javascript">
                      function return_index() {
                        window.location.href='/';
                      };
                    </script>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </nav>
    <% else %>
      <div class="row">

        <!-- Logo -->
        <div class="col-md-3 col-xs-6">
          <a class="navbar-brand" href="/" title="文广通，公共文化大数据平台">
            <img class="img-responsive" src="<%= Keystore.value_for('logo-header-389×60') || '/templetes/newshub/images/logo1.png' %>" alt="文广通，公共文化大数据平台" style="max-height:35px;min-width:135px;">
          </a>
        </div>

        <!-- 选择地区 -->
        <div class="col-md-3">
          <div class="user text-left" style="padding: 15px 0;">
            <div class="dropdown">
              <a href="javascript:;" class="white-text dropdown-toggle" type="button" id="selectArea" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" title="文广通地区分站">
                <% if @cms_site.domain == "www" %>
                  选择地区
                <% elsif @cms_site.site.present? %>
                  <%= @cms_site.site.title %>
                <% else %>
                  <%= @cms_site.name %>
                <% end %>
                &nbsp;<i class="fa fa-map-marker"></i>
              </a>
              <% if @cms_site.domain != "www" %>
              &nbsp;<a href="http://www.wgtong.cn/" class="white-text" title="文广通首页">返回主页</a>
              <% end %>
              <ul class="dropdown-menu" aria-labelledby="selectArea"></ul>
            </div>
          </div>
        </div>

        <!-- 用户管理 -->
        <div class="col-md-6 col-xs-6">
          <div class="topbar-right" style="width: 100%;">
            <div class="user" style="padding: 15px;">
              <div class="dropdown user-dropdown white-text">
                你好,
                <% if current_user %>
                  <a href="#" aria-expanded="true" class="white-text"><%= current_user.name %><i class="fa fa-caret-down" aria-hidden="true"></i></a>
                  <ul class="sub-menu text-left">
                    <li><%= link_to '个人中心', users_path, title: '个人中心' %></li>
                    <li><%= link_to '消息中心', self_message_users_path, title: '消息中心' %></li>
                    <li><%= link_to '我的订单', self_order_users_path, title: '我的订单' %></li>
                    <li><%= link_to '我的评论', self_comment_users_path, title: '我的评论' %></li>
                   
                    <li><%= link_to '退出', sign_out_path, method: :delete %></li>
                  </ul>
                <% else %>
                  <a href="#" aria-expanded="true" class="white-text">欢迎访问<i class="fa fa-caret-down" aria-hidden="true"></i></a>
                  <ul class="sub-menu text-left">
                    <li><%= link_to '登录', admin_sign_in_path %></li>
                    <li><%= link_to '注册', sign_up_path %></li>
                  </ul>
                <% end %>
              </div>
            </div>
            <div class="searchNlogin">
              <ul>
                <% if current_user && current_user.has_role?(:agent) && current_user.sites %>
                <li>
                  <%= link_to '发布新活动', new_agent_product_path, class: 'size-14', title: '文广通发布新活动' %>
                </li>
                <% else %>
                <li>
                  <%= link_to '发布新活动', admin_sign_in_path, class: 'size-14', title: '文广通发布新活动' %>
                </li>
                <% end %>
                <li>
                  <a href="http://www.wgtong.cn/complaints" target="_blank" class="size-14" title="文广通侵权说明">侵权说明</a>
                </li>
                <% unless mobile_device? %>
                  <% if Notification.where(user: current_user).unread.count > 0 %>
                    <li>
                      <%= link_to( self_message_users_path(type: 'unread') ) do %>
                        <i class="fa fa-bell hasmessage" aria-hidden="true">
                          <span class="badge addBadge"><%= Notification.where(user: current_user).unread.count %></span>
                        </i>
                      <% end %>
                    </li>
                  <% else %>
                    <li>
                      <%= link_to( self_message_users_path(type: 'unread') ) do %>
                        <i class="fa fa-bell-o" aria-hidden="true"></i>
                      <% end %>
                    </li>
                  <% end %>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<!-- [[header start]] -->
