    <!-- begin #sidebar -->
    <div id="sidebar" class="sidebar">
      <!-- begin sidebar scrollbar -->
      <div data-scrollbar="true" data-height="100%">
        <!-- begin sidebar user -->
        <ul class="nav">
          <li class="nav-profile">
            <div class="image">
              <%= image_tag 'logo.png' %>
            </div>
            <div class="info">
              用户名
              <small>权限名称</small>
            </div>
          </li>
        </ul>
        <!-- end sidebar user -->
        <!-- begin sidebar nav -->
        <ul class="nav">
          <li class="nav-header">功能导航</li>
          <li class="<%= 'active' if controller_path == 'admin/home' %>">
            <%= link_to admin_root_path do %>
              <%= fa_icon 'laptop', text: '首页' %>
            <% end %>
          </li>
          <li class="has-sub <%= 'active' if %w(admin/users admin/roles).include?(controller_path) %>">
            <a href="javascript:;">
              <i class="fa fa-inbox"></i>
              <span>账户管理</span>
            </a>
            <ul class="sub-menu">
              <li class="<%= 'active' if controller_path == 'admin/users' %>"><%= link_to '用户', admin_users_path %></li>
              <li class="<%= 'active' if controller_path == 'admin/roles' %>"><%= link_to '角色', admin_roles_path %></li>
            </ul>
          </li>
          <li class="has-sub <%='active' if controller_path == 'admin/tracker/home' %>">
            <a href="javascript:;">
              <b class="caret pull-right"></b>
              <i class="fa fa-inbox"></i>
              <span>站点统计</span>
            </a>
            <ul class="sub-menu">
                <li class="active">
                  <%= link_to '访问统计', admin_tracker_path %>
                </li>
                <li>
                  <%= link_to '分销统计', admin_tracker_shares_path %>
                </li>
            </ul>
          </li>

          <li>
            <%= link_to sign_out_path, method: :delete do %>
              <%= fa_icon 'sign-out', text: '退出系统' %>
            <% end %>
          </li>
              <!-- begin sidebar minify button -->
          <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
              <!-- end sidebar minify button -->
        </ul>
        <!-- end sidebar nav -->
      </div>
      <!-- end sidebar scrollbar -->
    </div>
    <div class="sidebar-bg"></div>
    <!-- end #sidebar -->
