    <!-- begin #sidebar -->
    <div id="sidebar" class="sidebar">
      <!-- begin sidebar scrollbar -->
      <div data-scrollbar="true" data-height="100%">
        <!-- begin sidebar user -->
        <ul class="nav">
          <li class="nav-profile">
            <div class="image">
              <%= image_tag 'logo.png' %>
            </div>
            <div class="info">
              用户名
              <small>权限名称</small>
            </div>
          </li>
        </ul>
        <!-- end sidebar user -->
        <!-- begin sidebar nav -->
        <ul class="nav">
          <li class="nav-header">功能导航</li>
          <li class='active'>
            <%= link_to root_path do %>
              <%= fa_icon 'laptop', text: '首页' %>
            <% end %>
          </li>



          <li>
            <%= link_to '', method: :delete do %>
              <%= fa_icon 'sign-out', text: '退出系统' %>
            <% end %>
          </li>
              <!-- begin sidebar minify button -->
          <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
              <!-- end sidebar minify button -->
        </ul>
        <!-- end sidebar nav -->
      </div>
      <!-- end sidebar scrollbar -->
    </div>
    <div class="sidebar-bg"></div>
    <!-- end #sidebar -->
