<div class="main-wrapper">
  <%= render file: 'public/templetes/newshub/_header.html.erb' %>
	<div class="container-fluid">
    <%= render file: 'public/templetes/newshub/_top_menu.html.erb' %>

		<div class="tr-breadcrumb">
			<div class="title pull-left">
				<h1><%= @site_catalog.name %></h1>
			</div>
	        <ol class="breadcrumb pull-right">
	            <li><a href="/">首页</a></li>
	            <li class="active"><%= @site_catalog.name %></li>
	        </ol>
		</div><!-- /.tr-breadcrumb -->

		<div class="row tr-content">
      <!-- 头条-->
			<div class="col-sm-5 col-md-6 tr-sticky">

				<div class="theiaStickySidebar">
          <% site_hot = Site.hot.first || Site.first %>
					<div class="tr-section">
						<div class="section-title title-before">
							<h1><a href="#"><%= site_hot.catalog.name %></a></h1>
						</div>
						<div class="tr-post">
							<div class="entry-header">
								<div class="entry-thumbnail">
									<a href="<%= frontend_site_path(site_hot) %>"><img class="img-responsive" src="<%= site_hot.first_image %>" alt="Image"></a>
								</div>
							</div>
							<div class="post-content">
								<div class="author">
									<a href="#"><img class="img-responsive img-circle" src="/templetes/newshub/images/others/author1.png" alt="Image"></a>
								</div>
								<div class="entry-meta">
									<ul>
										<li>By <a href="#"><%= site_hot.catalog.name %></a></li>
										<li>445 分享 /<a href="#"> 1 天前</a></li>
										<li>
											<ul>
												<li>分享</li>
												<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
											</ul>
										</li>
									</ul>
								</div><!-- /.entry-meta -->
								<h2 class="entry-title">
									<%= link_to site_hot.title, frontend_site_path(site_hot) %>
								</h2>
								<p><%= site_hot.description %></p>
								<div class="read-more">
									<div class="continue-reading pull-left">
										<a href="<%= frontend_site_path(site_hot) %>">阅读更多 <i class="fa fa-angle-right"></i></a>
									</div>
									<div class="feed pull-right">
										<ul>
											<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
										</ul>
									</div>
								</div>
							</div><!-- /.post-content -->
						</div><!-- /.tr-post -->
					</div><!-- /.tr-post -->

					<div class="tr-ad">
						<a href="#"><img class="img-responsive" src="/templetes/newshub/images/advertise/1.jpg" alt="Image"></a>
					</div><!-- /.tr-ad -->

					<div class="tr-section">
						<div class="section-title title-before">
							<h1><a href="#">Business</a></h1>
						</div>
						<div class="tr-post">
							<div class="entry-header">
								<div class="entry-thumbnail">
									<a href="details1.html"><img class="img-responsive" src="/templetes/newshub/images/post/18.jpg" alt="Image"></a>
								</div>
							</div>
							<div class="post-content">
								<div class="author">
									<a href="#"><img class="img-responsive img-circle" src="/templetes/newshub/images/others/author3.png" alt="Image"></a>
								</div>
								<div class="entry-meta">
									<ul>
										<li>By <a href="#">Kolony Wispe</a></li>
										<li>123 Share /<a href="#"> 2 Hour ago</a></li>
										<li>
											<ul>
												<li>Share</li>
												<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
											</ul>
										</li>
									</ul>
								</div><!-- /.entry-meta -->
								<h2 class="entry-title">
									<a href="details1.html">Peyton Manning deserved a better ending -- if he's telling the truth</a>
								</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut ex ea commodo consequat. </p>
								<div class="read-more">
									<div class="continue-reading pull-left">
										<a href="#">Continue Reading <i class="fa fa-angle-right"></i></a>
									</div>
									<div class="feed pull-right">
										<ul>
											<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
										</ul>
									</div>
								</div>
							</div><!-- /.post-content -->
						</div><!-- /.tr-section -->

						<div class="medium-post-content row">
							<div class="col-md-6 left-post">
								<div class="tr-post">
									<div class="entry-header">
										<div class="entry-thumbnail">
											<a href="details1.html"><img class="img-responsive" src="/templetes/newshub/images/post/19.jpg" alt="Image"></a>
										</div>
									</div>
									<div class="post-content">
										<div class="author">
											<a href="#"><img class="img-responsive img-circle" src="/templetes/newshub/images/others/author1.png" alt="Image"></a>
										</div>
										<div class="entry-meta">
											<ul>
												<li>By <a href="#">Janet Jackson</a></li>
												<li>10 Share /<a href="#"> 3 Hour ago</a></li>
											</ul>
										</div><!-- /.entry-meta -->
										<h2 class="entry-title">
											<a href="details1.html">Duis autem vel eum iriure dolor in hendrerit</a>
										</h2>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore।</p>
										<div class="read-more">
											<div class="continue-reading pull-left">
												<a href="#">Continue Reading <i class="fa fa-angle-right"></i></a>
											</div>
											<div class="feed pull-right">
												<ul>
													<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
													<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
													<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
													<li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
												</ul>
											</div>
										</div>
									</div><!-- /.post-content -->
								</div><!-- /.tr-post -->
							</div>
							<div class="col-md-6">
								<div class="tr-post">
									<div class="entry-header">
										<div class="entry-thumbnail">
											<a href="details1.html"><img class="img-responsive" src="/templetes/newshub/images/post/20.jpg" alt="Image"></a>
										</div>
									</div>
									<div class="post-content">
										<div class="author">
											<a href="#"><img class="img-responsive img-circle" src="/templetes/newshub/images/others/author2.png" alt="Image"></a>
										</div>
										<div class="entry-meta">
											<ul>
												<li>By <a href="#">Kolony Wispe</a></li>
												<li>25 Share /<a href="#"> 7 Hour ago</a></li>
											</ul>
										</div><!-- /.entry-meta -->
										<h2 class="entry-title">
											<a href="details1.html">Martha Stewart, Snoop Dogg and Anna Kendrick</a>
										</h2>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore।</p>
										<div class="read-more">
											<div class="continue-reading pull-left">
												<a href="#">Continue Reading <i class="fa fa-angle-right"></i></a>
											</div>
											<div class="feed pull-right">
												<ul>
													<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
													<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
													<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
													<li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
												</ul>
											</div>
										</div>
									</div><!-- /.post-content -->
								</div><!-- /.tr-post -->
							</div>
						</div><!-- /.row -->
					</div>
				</div><!-- /.theiaStickySidebar -->
      </div>

      <!-- 滚动 -->
      <% site_scroll_first = Site.slider.first || Site.last %>
			<div class="col-sm-4 col-md-3 tr-sticky medium-post-responsive">
				<div class="theiaStickySidebar">

					<div class="tr-section">
						<div class="section-title title-before">
							<h1><a href="#"><%= site_scroll_first.catalog.name %></a></h1>
						</div>
            <% if site_scroll_first.present? %>
						<div class="tr-post tr-video-post">
							<div class="entry-header">
                <img class="img-responsive" src="<%= site_scroll_first.first_image %>" />
								<!-- <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-WlqrkXImsk" allowfullscreen=""></iframe> -->
							</div>
							<div class="post-content">
								<div class="author">
									<a href="#"><img class="img-responsive img-circle" src="/templetes/newshub/images/others/author3.png" alt="Image"></a>
								</div>
								<div class="entry-meta">
									<ul>
										<li>By <a href="#"><%= site_scroll_first.catalog.name %></a></li>
										<li>205 Share /<a href="#"> 4 Hour ago</a></li>
									</ul>
								</div><!-- /.entry-meta -->
								<h2 class="entry-title">
									<%= link_to site_scroll_first.title, frontend_site_path(site_scroll_first) %>
								</h2>
								<p><%= site_scroll_first.description %></p>
								<div class="read-more">
									<div class="continue-reading pull-left">
										<a href="<%= frontend_site_path(site_scroll_first) %>">阅读更多 <i class="fa fa-angle-right"></i></a>
									</div>
									<div class="feed pull-right">
										<ul>
											<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
										</ul>
									</div>
								</div>
							</div><!-- /.post-content -->
						</div><!-- /.tr-section -->
            <% end %>
						<ul class="small-post-list">
              <% site_scrolls = Site.scroll.limit(6) %>
              <% site_scrolls.each do |site| %>
							<li>
								<div class="entry-header">
									<div class="entry-thumbnail">
										<a href="<%= frontend_site_path(site) %>"><img class="img-responsive" src="<%= site.first_image %>" alt="<%= site.title %>"></a>
									</div>
								</div>
								<div class="post-content media-body">
									<div class="entry-meta">
										<ul>
											<li>By <a href="#"><%= site.catalog.name %></a></li>
										</ul>
									</div><!-- /.entry-meta -->
									<h2 class="entry-title">
										<%= link_to site.title, frontend_site_path(site) %>
									</h2>
								</div><!-- /.post-content -->
							</li>
							<% end %>
						</ul>
					</div>

					<div class="tr-section tr-ad ad-before">
						<a href="#"><img class="img-responsive" src="/templetes/newshub/images/advertise/3.jpg" alt="Image"></a>
					</div><!-- /.tr-section -->

					<div class="tr-section local-events">
						<div class="section-title title-before">
							<h1><a href="#">Local Events</a></h1>
						</div>
						<ul class="nav nav-tabs" role="tablist">
							<li role="presentation" class="active"><a href="#time1" data-toggle="tab">02.Jan</a></li>
							<li role="presentation"><a href="#time2" data-toggle="tab">14.Jan</a></li>
							<li role="presentation"><a href="#time3" data-toggle="tab"> 22.Jan</a></li>
						</ul>
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane active fade in" id="time1">
								<div class="tr-post">
									<div class="entry-header">
										<div class="entry-thumbnail">
											<a href="details1.html"><img class="img-responsive" src="/templetes/newshub/images/post/3.jpg" alt="Image"></a>
										</div>
									</div>
									<div class="post-content">
										<div class="entry-meta">
											<ul>
												<li>Apple Events</li>
												<li>2:00 Pm</li>
												<li>02 January, 2017</li>
											</ul>
										</div><!-- /.entry-meta -->
										<h2 class="entry-title">
											<a href="details1.html">Martha Stewart, Snoop Dogg and Anna Kendrick</a>
										</h2>
									</div>
								</div><!-- /.tr-post -->
								<span>N Street Sacramento, California, USA</span>
							</div>
							<div role="tabpanel" class="tab-pane fade in" id="time2">
								<div class="tr-post">
									<div class="entry-header">
										<div class="entry-thumbnail">
											<a href="details1.html"><img class="img-responsive" src="/templetes/newshub/images/post/5.jpg" alt="Image"></a>
										</div>
									</div>
									<div class="post-content">
										<div class="entry-meta">
											<ul>
												<li>Apple Events</li>
												<li>5:00 Pm</li>
												<li>14 January, 2017</li>
											</ul>
										</div><!-- /.entry-meta -->
										<h2 class="entry-title">
											<a href="details1.html">Celeb Role Models You Can Feel Good About</a>
										</h2>
									</div>
								</div><!-- /.tr-post -->
								<span>N Street Sacramento, California, USA</span>
							</div>
							<div role="tabpanel" class="tab-pane fade in" id="time3">
								<div class="tr-post">
									<div class="entry-header">
										<div class="entry-thumbnail">
											<a href="details1.html"><img class="img-responsive" src="/templetes/newshub/images/post/7.jpg" alt="Image"></a>
										</div>
									</div>
									<div class="post-content">
										<div class="entry-meta">
											<ul>
												<li>Apple Events</li>
												<li>3:00 Pm</li>
												<li>22 January, 2017</li>
											</ul>
										</div><!-- /.entry-meta -->
										<h2 class="entry-title">
											<a href="details1.html">18 Great Performances in Mediocre Movies in 2017</a>
										</h2>
									</div>
								</div><!-- /.tr-post -->
								<span>N Street Sacramento, California, USA</span>
							</div>
						</div>
					</div><!-- meta-tab -->
				</div><!-- /.theiaStickySidebar -->
			</div>
      <!-- 最新 -->
			<div class="col-sm-3 tr-sidebar tr-sticky">
				<div class="theiaStickySidebar">
					<div class="tr-section tr-ad ad-before">
						<a href="#"><img class="img-responsive" src="/templetes/newshub/images/advertise/2.jpg" alt="Image"></a>
					</div><!-- /.tr-post -->

					<div class="tr-section tr-widget">
						<div class="widget-title title-before">
							<span>This Is rising</span>
						</div>
						<ul class="medium-post-list">
							<li class="tr-post">
								<div class="entry-header">
									<div class="entry-thumbnail">
										<a href="details1.html"><img class="img-responsive" src="/templetes/newshub/images/post/9.jpg" alt="Image"></a>
									</div>
								</div>
								<div class="post-content">
									<div class="catagory">
										<a href="#">Entertainment</a>
									</div>
									<h2 class="entry-title">
										<a href="details1.html">Howard Stern: 'I told Trump' I'm voting for Clinton</a>
									</h2>
								</div><!-- /.post-content -->
							</li>
							<li class="tr-post">
								<div class="entry-header">
									<div class="entry-thumbnail">
										<a href="details1.html"><img class="img-responsive" src="/templetes/newshub/images/post/10.jpg" alt="Image"></a>
									</div>
								</div>
								<div class="post-content">
									<div class="catagory">
										<a href="#">Business</a>
									</div>
									<h2 class="entry-title">
										<a href="details1.html">Our closest relatives aren't fans of daylight saving time</a>
									</h2>
								</div><!-- /.post-content -->
							</li>
							<li class="tr-post">
								<div class="entry-header">
									<div class="entry-thumbnail">
										<a href="details1.html"><img class="img-responsive" src="/templetes/newshub/images/post/11.jpg" alt="Image"></a>
									</div>
								</div>
								<div class="post-content">
									<div class="catagory">
										<a href="#">Technology</a>
									</div>
									<h2 class="entry-title">
										<a href="details1.html">And the most streamed Beatles song on Spotify is...</a>
									</h2>
								</div><!-- /.post-content -->
							</li>
							<li class="tr-post">
								<div class="entry-header">
									<div class="entry-thumbnail">
										<a href="details1.html"><img class="img-responsive" src="/templetes/newshub/images/post/12.jpg" alt="Image"></a>
									</div>
								</div>
								<div class="post-content">
									<div class="catagory">
										<a href="#">Sports</a>
									</div>
									<h2 class="entry-title">
										<a href="details1.html">Our closest relatives aren't fans of daylight saving time</a>
									</h2>
								</div><!-- /.post-content -->
							</li>
						</ul>
					</div><!-- /.tr-section -->

					<div class="tr-weather tr-widget">
						<div class="weather-top weather-bg-color">
							<div class="row">
								<div class="col-xs-6">
									<div class="weather-image">
										<img class="img-responsive" src="/templetes/newshub/images/others/weather1.png" alt="Image">
									</div>
								</div>
								<div class="col-xs-6">
									<span class="weather-temp">21 <sup>°C</sup></span>
									<span class="weather-type">Mostly Cloudy</span>
								</div>
							</div>
							<ul>
								<li>London, UK</li>
								<li><span><img class="img-responsive" src="/templetes/newshub/images/others/weather2.png" alt="Image"></span>13%</li>
								<li><span><img class="img-responsive" src="/templetes/newshub/images/others/weather3.png" alt="Image"></span>6.44 MPH</li>
							</ul>
						</div><!-- /.weather-top -->

						<div class="weather-bottom">
							<ul>
								<li>
									<div class="weather-icon">
										<img class="img-responsive" src="/templetes/newshub/images/others/weather6.png" alt="Image">
									</div>
									<div class="weather-info">
										<span>23°</span>
										<span class="date">Sun, 3 July</span>
									</div>
								</li>
								<li>
									<div class="weather-icon">
										<img class="img-responsive" src="/templetes/newshub/images/others/weather5.png" alt="Image">
									</div>
									<div class="weather-info">
										<span>26°</span>
										<span class="date">Mon, 4 July</span>
									</div>
								</li>
							</ul>
						</div><!-- /.weather-bottom -->
					</div><!-- /.weather-widget -->

					<div class="tr-section tr-widget tr-ad ad-before">
						<a href="#"><img class="img-responsive" src="/templetes/newshub/images/advertise/4.jpg" alt="Image"></a>
					</div><!-- /.tr-post -->

					<div class="tr-section tr-widget">
						<div class="tr-twitter text-center">
							<div id="twitter-carousel" class="carousel slide" data-ride="carousel">
								<ol class="carousel-indicators">
									<li data-target="#twitter-carousel" data-slide-to="0" class="active"></li>
									<li data-target="#twitter-carousel" data-slide-to="1"></li>
									<li data-target="#twitter-carousel" data-slide-to="2"></li>
								</ol>
								<div class="carousel-inner" role="listbox">
									<div class="item active">
										<div class="twitter">
											<div class="twitter-icon">
												<i class="fa fa-twitter" aria-hidden="true"></i>
											</div>
											<h2><a href="#">#newshub</a></h2>
											<p>Confusing <a href="#">#design</a> terms: what's the difference between quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <span><a href="#">#UX, #UI and #IA?</a> <a href="#">http://buff.ly/1KdjpEi</a></span></p>
										</div>
									</div><!-- /.item -->

									<div class="item">
										<div class="twitter">
											<div class="twitter-icon">
												<i class="fa fa-twitter" aria-hidden="true"></i>
											</div>
											<h2><a href="#">#newshub</a></h2>
											<p>Confusing <a href="#">#design</a> terms: what's the difference between quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <span><a href="#">#UX, #UI and #IA?</a> <a href="#">http://buff.ly/1KdjpEi</a></span></p>
										</div>
									</div><!-- /.item -->

									<div class="item">
										<div class="twitter">
											<div class="twitter-icon">
												<i class="fa fa-twitter" aria-hidden="true"></i>
											</div>
											<h2><a href="#">#newshub</a></h2>
											<p>Confusing <a href="#">#design</a> terms: what's the difference between quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <span><a href="#">#UX, #UI and #IA?</a> <a href="#">http://buff.ly/1KdjpEi</a></span></p>
										</div>
									</div><!-- /.item -->
								</div><!-- /.carousel-inner -->
							</div><!-- /#twitter-carousel -->
						</div><!-- /.tr-twitter -->
					</div><!-- /.tr-section -->
				</div><!-- /.theiaStickySidebar -->
			</div>
		</div><!-- /.row -->

		<div class="tr-ad ad-bottom ad-image text-center">
			<a href="#"><img class="img-responsive" src="/templetes/newshub/images/advertise/5.jpg" alt="Image"></a>
		</div><!-- /.tr-ad -->

	</div><!-- /.container-fluid -->
</div><!-- main-wrapper -->
<%= render file: 'public/templetes/newshub/_footer.html.erb' %>
