<footer id="main-footer">
  <div class="container menu-container">
    <div class="row">
      <div class="col-sm-8 col-xs-12">
        <div class="row">
          <div class="col-sm-4 col-xs-6 footer-menu">
            <h3><span>Overview</span></h3>
            <ul class="unstyled">
              <li>
                <a href="/">
                  <i class="material-icons">home</i>
                  Home
                </a>
              </li>

              <li>
                <a href="<%= page_path("index_3") %>">
                  <i class="material-icons">home</i>
                  Mobile App Landing
                </a>
              </li>

              <li>
                <a href="<%= page_path("about") %>">
                  <i class="material-icons">supervisor_account</i>
                  About Us <small class="label label-success">New!</small>
                </a>
              </li>
              <li>
                <a href="<%= page_path("services") %>">
                  <i class="material-icons">done_all</i>
                  Services
                </a>
              </li>
              <li>
                <a href="<%= page_path("features") %>">
                  <i class="material-icons">new_releases</i>
                  Features
                </a>
              </li>
              <li>
                <a href="<%= page_path("pricing") %>">
                  <i class="material-icons">monetization_on</i>
                  Pricing
                </a>
              </li>
              <li>
                <a href="<%= page_path("contact_us") %>">
                  <i class="material-icons">contact_mail</i>
                  Contact
                </a>
              </li>

            </ul>
          </div><!-- footer menu -->

          <div class="col-sm-4 col-xs-6 footer-menu">
            <h3><span>Menu</span></h3>
            <ul class="unstyled">
              <li>
                <a href="<%= page_path("portfolio_1_col") %>">
                  <i class="material-icons">brightness_4</i>
                  Portfolio 1
                </a>
              </li>
              <li>
                <a href="<%= page_path("portfolio_2_col") %>">
                  <i class="material-icons">brightness_5</i>
                  Portfolio 2
                </a>
              </li>

              <li>
                <a href="<%= page_path("portfolio_3_col") %>">
                  <i class="material-icons">brightness_6</i>
                  Portfolio 3
                </a>
              </li>
              <li>
                <a href="<%= page_path("gallery_4_col") %>">
                  <i class="material-icons">compare</i>
                  Gallery
                </a>
              </li>

              <li>
                <a href="support.html">
                  <i class="material-icons">record_voice_over</i>
                  Knowledge Base
                </a>
              </li>
              <li>
                <a href="faq.html">
                  <i class="material-icons">question_answer</i>
                  FAQ
                </a>
              </li>
            </ul>
          </div><!-- footer menu -->

          <div class="col-sm-4 hidden-xs footer-menu">
            <h3><span>Social</span></h3>
            <ul class="unstyled">
              <li>
                <a href="<%= page_path("blog_home_1") %>">
                  <i class="material-icons">border_color</i>
                  Blog 1
                </a>
              </li>
              <li>
                <a href="<%= page_path("blog_home_2") %>">
                  <i class="material-icons">insert_emoticon</i>
                  Micro Blog
                </a>
              </li>
              <li>
                <a href="<%= page_path("features") %>">
                  <i class="fa fa-youtube"></i>
                  Youtube
                </a>
              </li>
              <li>
                <a href="<%= page_path("services") %>">
                  <i class="fa fa-facebook"></i>
                  Facebook
                </a>
              </li>
              <li>
                <a href="<%= page_path("pricing") %>">
                  <i class="fa fa-twitter"></i>
                  Twitter
                </a>
              </li>
              <li>
                <a href="<%= page_path("pricing") %>">
                  <i class="fa fa-linkedin"></i>
                  LinkedIn
                </a>
              </li>
            </ul>
          </div>

        </div>
      </div>



      <div class="col-sm-4 hidden-xs blog-item">
        <h3><span>Blog</span></h3>
        <a href="<%= page_path("blog_home_1") %>">
          <div class="image-wrapper">
            <img src="/templetes/dagle/img/cleancut/website.png" alt="">

            <div class="text">
              <h4>
                How to create a beautiful website?
              </h4>
            </div>

          </div>
        </a>

      </div>
    </div>
  </div>

  <div class="copyright-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          StartKit. Copyright &copy; 2016. All Rights Reserved

          <div class="pull-right hidden-xs">
            <a href="https://authenticpixels.com" target="_blank" title="Bootstrap Templates">Authentic Pixels</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>


<div class="modal fade zoom-out" id="purchaseModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Modal example</h4>
      </div>
      <div class="modal-body">
        <p class="lead">
          This is a modal with costom transitions. You can choose from 'zoom-out' 'move-horizontal' & 'newspaper-effect'.
        </p>

        <p>
          Below are some are some other home page variants that you can use -
        </p>

        <ul>
          <li>
            <a href="/">
              Default home page with 2
            </a>
          </li>
          <li>
            <a href="<%= page_path("index_2") %>">
              Home page for software products
            </a>
          </li>
          <li>
            <a href="<%= page_path("index_3") %>">
              Home page for Mobile apps
            </a>
          </li>
        </ul>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
