<footer id="main-footer">
  <div class="container menu-container">
    <div class="row">
      <div class="col-sm-8 col-xs-12">
        <div class="row">
          <div class="col-sm-4 col-xs-6 footer-menu">
            <h3><span>快速导航</span></h3>
            <ul class="unstyled">
              <li>
                <a href="/">
                  <i class="material-icons">home</i>
                  首页
                </a>
              </li>

              <li>
                <a href="<%= get_cms_url('desk') %>">
                  <i class="material-icons">home</i>
                  桌面端
                </a>
              </li>

              <li>
                <a href="<%= get_cms_url('mobile') %>">
                  <i class="material-icons">supervisor_account</i>
                  手机端 <small class="label label-success">New!</small>
                </a>
              </li>
              <li>
                <a href="<%= get_cms_url('erp') %>">
                  <i class="material-icons">monetization_on</i> 工厂ERP管理系统
                </a>
              </li>
              <li>
                <a href="<%= get_cms_url('scrm') %>">
                  <i class="material-icons">done_all</i> 经销商SCRM关系管理系统
                </a>
              </li>
              <li>
                <a href="<%= get_cms_url('oms') %>">
                  <i class="material-icons">new_releases</i> OMS订单管理系统
                </a>
              </li>
              <li>
                <a href="<%= get_cms_url('bpm') %>">
                  <i class="material-icons">face</i> BPM流程管理系统
                </a>
              </li>
              <li>
                <a href="<%= get_cms_url('net-pay') %>">
                  <i class="material-icons">contact_mail</i> 电子商务系统
                </a>
              </li>

            </ul>
          </div><!-- footer menu -->

          <div class="col-sm-4 col-xs-6 footer-menu">
            <h3><span>功能列表</span></h3>
            <ul class="unstyled">
              <li>
                <a href="<%= get_cms_url('admin-stock') %>">
                  <i class="material-icons">brightness_4</i>
                  管库存
                </a>
              </li>
              <li>
                <a href="<%= get_cms_url('admin-sales') %>">
                  <i class="material-icons">brightness_5</i>
                  管销售
                </a>
              </li>
              <li>
                <a href="<%= get_cms_url('admin-buy') %>">
                  <i class="material-icons">brightness_6</i>
                  管采购
                </a>
              </li>
              <li>
                <a href="<%= get_cms_url('admin-production') %>">
                  <i class="material-icons">camera_alt</i>
                  管生产
                </a>
              </li>
              <li>
                <a href="<%= get_cms_url('admin-marketing') %>">
                  <i class="material-icons">camera_alt</i>
                  管营销
                </a>
              </li>
              <li>
                <a href="<%= get_cms_url('admin-client') %>">
                  <i class="material-icons">camera_alt</i>
                  管客户
                </a>
              </li>
              <li>
                <a href="<%= get_cms_url('admin-online') %>">
                  <i class="material-icons">camera_alt</i>
                  管电商
                </a>
              </li>
              <li>
                <a href="<%= get_cms_url('admin-teamwork') %>">
                  <i class="material-icons">compare</i>
                  管协同
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="<%= get_cms_url('admin-customade') %>">
                  <i class="material-icons">compare</i>
                  定制功能
                </a>
              </li>
            </ul>
          </div><!-- footer menu -->

          <div class="col-sm-4 hidden-xs footer-menu">
            <h3><span>获取帮助</span></h3>
            <ul class="unstyled">
              <li>
                <a href="<%= get_cms_url('support') %>">
                  <i class="material-icons">record_voice_over</i>
                  技术支持
                </a>
              </li>

              <li>
                <a href="<%= get_cms_url('faq') %>">
                  <i class="material-icons">question_answer</i>
                  常见问答
                </a>
              </li>

              <li>
                <a href="<%= get_cms_url('blog') %>">
                  <i class="material-icons">border_color</i>
                  博客
                </a>
              </li>
              <li>
                <a href="<%= get_cms_url('log') %>">
                  <i class="material-icons">insert_emoticon</i>
                  更新日志
                </a>
              </li>
              <li class="divider"></li>

              <li>
                <a href="javascript:void(0);" onclick="_MEIQIA._SHOWPANEL();">
                  <i class="fa fa-comments"></i>
                  在线咨询
                </a>
              </li>
              <li>
                <a href="tel:18080810818">
                  <i class="fa fa-mobile"></i>
                  电话沟通
                </a>
              </li>
            </ul>
          </div>

        </div>
      </div>



      <div class="col-sm-4 hidden-xs blog-item">
        <h3><span>最新博文</span></h3>
        <% Cms::Page.recent(1).each do |page| %>
        <a href="<%= get_cms_url(page) %>">
          <div class="image-wrapper">
            <img src="<%= page.image_path %>" alt="<%= page.keywords %>">

            <div class="text">
              <h4>
                <%= page.title %>
              </h4>
            </div>

          </div>
        </a>
        <% end %>
      </div>
    </div>
  </div>

  <div class="copyright-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          Dagle. Copyright &copy; 2017 成都德格软件技术有限公司

          <div class="pull-right hidden-xs">
            技术支持：
            <a href="http://www.tanmer.com" target="_blank" title="探码科技">探码科技</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>


<div class="modal fade zoom-out" id="purchaseModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">填写您的详细信息</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <!-- 姓名 -->
          <div class="form-group">
            <label for="inputUserFirstname">公司名/个人姓名</label>
            <input type="text" class="form-control input-lg" placeholder="输入公司名或您的姓名" id="inputUserFirstname">
          </div>
          <!-- 邮箱 -->
          <div class="form-group">
            <label for="inputUsernameEmail">邮箱地址</label>
            <input type="text" class="form-control input-lg" placeholder="you@yourcompany.com" id="inputUsernameEmail">
          </div>
          <!-- 行业 -->
          <div class="form-group">
            <label for="inputUsernameLastname">所属行业</label>
            <input type="text" class="form-control input-lg" placeholder="IT/制造/家具..." id="inputUsernameLastname">
          </div>
          <!--  -->
          <div class="form-group">
            <label for="inputUsernameContent">留言咨询</label>
            <textarea type="text" class="form-control input-lg" placeholder="我们会逐一对您的疑问进行回答和采用" id="inputUsernameContent"></textarea>
          </div>
          <br>
          <div class="actions">
            <button type="submit" class="btn btn-lg btn-primary">
              <i class="fa fa-check-sign"></i>提交订单
            </button>
          </div>
        </form>
      </div>  
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
