<style type="text/css">
  @media (max-width: 767px) {
    .slider-style-three .item, .slider-style-three .container{
      min-height: 200px !important;
    }
  }
  .grey-text {
    color: #333 !important;
  }
  .nav-wechat-products {
    width: 50px;
    height: 50px;
    background-color: #e84f17;
    color: #fff;
    border-radius: 50%;
    padding: 13px 10px;
  }
  .nav-wechat-sites {
    width: 50px;
    height: 50px;
    background-color: #7cba00;
    color: #fff;
    border-radius: 50%;
    padding: 10px 12px;
  }
  .nav-wechat-news {
    width: 50px;
    height: 50px;
    background-color: #00a2f2;
    color: #fff;
    border-radius: 50%;
    padding: 13px 10px;
  }
  .nav-wechat-recent {
    width: 50px;
    height: 50px;
    background-color: #ffbb00;
    color: #fff;
    border-radius: 50%;
    padding: 10px 12px;
  }
  .block-title {
    margin: 20px 0px;
  }
  .block-title h4 {
    padding-left: 5px;
    border-left: 5px solid #e84f17;
  }
  .block-title h4 small {
    padding-right: 5px;
  }
</style>
<div class="main-wrapper">
  <div class="container" style="background-color: #fff;">

    <!-- banner -->
    <div class="row">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="3000" >
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <% if Keystore.value_for('wechat-index-banner01-380×200').present? %>
              <% wechat_index_banner01 = Keystore.value_for('wechat-index-banner01-380×200').split('|') %>
              <a href="<%= wechat_index_banner01[1] || 'javascript:void(0)' %>">
                <img src="<%= wechat_index_banner01[0] %>" alt="">
              </a>
            <% end %>
          </div>
          <div class="item">
            <% if Keystore.value_for('wechat-index-banner02-380×200').present? %>
              <% wechat_index_banner02 = Keystore.value_for('wechat-index-banner02-380×200').split('|') %>
              <a href="<%= wechat_index_banner02[1] || 'javascript:void(0)' %>">
                <img src="<%= wechat_index_banner02[0] %>" alt="">
              </a>
            <% end %>
          </div>
          <div class="item">
            <% if Keystore.value_for('wechat-index-banner03-380×200').present? %>
              <% wechat_index_banner03 = Keystore.value_for('wechat-index-banner03-380×200').split('|') %>
              <a href="<%= wechat_index_banner03[1] || 'javascript:void(0)' %>">
                <img src="<%= wechat_index_banner03[0] %>" alt="">
              </a>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <!-- nav -->
    <div class="row text-center" style="margin: 20px 0px;">
      <div class="col-md-3 col-xs-3 col-sm-3">
        <a href="/micro_website/wechat_products" class="grey-text">
          <div class="nav-wechat-products">
            <i class="fa fa-list fa-2x"></i>
          </div>
          <small>活动报名</small>
        </a>
      </div>
      <div class="col-md-3 col-xs-3 col-sm-3">
        <a href="/micro_website/wechat_products" class="grey-text">
          <div class="nav-wechat-sites">
            <i class="fa fa-cube fa-2x"></i>
          </div>
          <small>场馆信息</small>
        </a>
      </div>
      <div class="col-md-3 col-xs-3 col-sm-3">
        <a href="/wechat" class="grey-text">
          <div class="nav-wechat-news">
            <i class="fa fa-newspaper-o fa-2x"></i>
          </div>
          <small>新闻资讯</small>
        </a>
      </div>
      <div class="col-md-3 col-xs-3 col-sm-3">
        <% if Keystore.value_for('recent-hot-spots').present? %>
          <div class="tr-ad">
            <% recent_hot_spots = Keystore.value_for('recent-hot-spots').split('|') %>
            <a href="<%= recent_hot_spots[1] || 'javascript:void(0)' %>" class="grey-text">
              <div class="nav-wechat-recent">
                <i class="fa fa-flag fa-2x"></i>
              </div>
              <small><%= recent_hot_spots[0] %></small>
            </a>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <!-- 热门活动 -->
  <div class="container-fulid">
    <div class="row block-title">
      <h4>热门活动 <small class="pull-right"><a href="/wechat_products">查看更多&gt;&gt;</a></small></h4>

      <% @wechat_index_hot_product.each do |product| %>
        <div class="col-md-12 col-xs-12 col-sm-12" style="padding: 5px;">
          <a href="<%= wechat_product_micro_website_path(id: product.id) %>">
            <img src="<%= product.first_image %>" class="img-responsive" >
          </a>
          <div style="border: 1px solid #ddd;padding: 5px;">
            <h4><a href="<%= wechat_product_micro_website_path(id: product.id) %>" style="color: #222629;"><%= product.name.truncate(20) %></a></h4>
            <p>
              <span class="label label-primary">
                <% if product.sell_price > 0 %>
                  <%= product.sell_price / 100.0 %>
                <% else %>
                  免费
                <% end %>
              </span>&nbsp;&nbsp;
              <span class="label label-success">
                <% if product.status == 'open' %>
                  进行中
                <% elsif product.status == 'completed' %>
                  已售完
                <% elsif product.status == 'pending' %>
                  未开始
                <% elsif product.status == 'closed' %>
                  已结束
                <% else %>
                  未发布
                <% end %>
              </span>&nbsp;&nbsp;
              <% if product.phone.present? %>
              <span class="label label-info">电话：<%= product.phone %></span>
              <% end %>
            </p>
            <p><%= product.description.truncate(50) %></p>
            <a href="<%= new_frontend_order_path(product_id: product.id) %>" class="btn btn-primary" >立即预定</a>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <!-- 场馆展示 -->
  <div class="container-fulid">
    <div class="row block-title">
      <h4>热门场馆<small class="pull-right"><a href="/micro_website/wechat_sites">查看更多&gt;&gt;</a></small></h4>
      <ul class="entertainment-slider" style="padding: 0px;">
        <% @wechat_index_hot_site.each do |site| %>
          <li>
            <div class="entertainment">
              <div class="entertainment-image">
                <img class="img-responsive" src="<%= site.first_image %>" alt="Image">
              </div>
              <div class="entertainment-info text-left">
                <h2><%= site.title %></h2>
                <p>地址：
                  <% if site.address_line.present? %>
                    <%= site.address_line %>
                  <% else %>
                    暂无
                  <% end %>
                </p>
                <p>联系电话：
                  <% if site.contact_phone.present? %>
                    <%= site.contact_phone %>
                  <% else %>
                    <%= site.phone %>
                  <% end %>
                </p>
                <p><%= site.description.truncate(70) %></p>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
      <p class="text-center" style="margin: 0px;"><small style="color: #ccc;">左右滑动场馆，查看更多！</small></p>
    </div>
  </div>

  <!-- 新闻资讯 -->
  <div class="container-fulid">
    <div class="row block-title">
      <h4>新闻资讯<small class="pull-right"><a href="/wechat">查看更多&gt;&gt;</a></small></h4>

      <% Cms::Page.hot(@cms_site.id, 5, channel: 'wechat').each do |page| %>
        <div class="row">
          <div class="col-md-4 col-xs-4 col-sm-4" style="padding: 0px;">
            <a href="<%= get_cms_url(page) %>">
              <img src="<%= page.image_path %>" class="img-responsive" >
            </a>
          </div>
          <div class="col-md-8 col-xs-8 col-sm-8">
            <p><a href="<%= get_cms_url(page) %>"><%= page.title.truncate(34) %></a></p>
            <p style="color: #555;"><i class="fa fa-clock-o"><%= distance_of_time_in_words_to_now(page.updated_at) %>前</i>&nbsp;&nbsp;<i class="fa fa-eye">浏览：<%= page.impressions_count %></i></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div><!-- main-wrapper -->

<%= render file: 'frontend/micro_website/_footer.html.erb' %>
