<%= render file: @cms_site.template_dir + '_header.html.erb' %>
<div class="container">
  <div class="tr-content">
    <div class="row">
      <div class="col-sm-8 col-md-12 tr-sticky">
        <div class="theiaStickySidebar">
          <div class="breadcrumbs">
            <a href="/">首页</a>
            <span>/&nbsp;</span><%= @product.name %>
          </div>
          <div class="blog-post">
            <div class="blog-post-content">
              <div class="blog-list-desc">
                <!-- Tags -->
                <% if @product.tag_list.present? %>
                  <ul class="blog-tags clearfix">
                    <li><span>标签</span></li>
                    <% @product.tag_list.each do |tag| %>
                      <li><a href="javascript: void(0);"><%= tag %></a></li>
                    <% end %>
                  </ul>
                <% end %>
                <h3><%= @product.name %></h3>
                <label>
                  <span>发布时间：</span>
                  <%= @product.created_at.year %>年<%= @product.created_at.month %>月<%= @product.created_at.day %>日
                  <span class="blog-comments">
                    <i class="fa fa-comment-o"></i>
                    <a href="javascript:void(0)"><%= @cms_site.previous_page(@product) %></a>
                  </span>
                </label>
              </div>

              <!-- 购买观看 -->
              <div class="blog-list-desc" style="overflow: hidden;">
                  <div class="col-md-5">
                    <%= image_tag('/templetes/eqxiyi/images/b4.png') %>
                  </div>
                  <div class="col-md-7">
                    <div class="formPrice" style="background-color: #fafafa;padding:15px;">
                      <label style="margin: 0px;">
                        购买价格：
                        <span>￥<%= @product.price %></span>
                        <a href="javascript: void(0)" style="float: right;">
                          <i class="fa fa-heart fa-lg"></i>
                          <span>收藏</span>
                        </a>
                      </label>

                    </div>
                    <!-- 支付测试 -->
                    <%= current_user.id %>
                    <% if current_user.present? %>
                      <%= simple_form_for(current_user.orders.build, url: frontend_orders_path,  method: :post, html: {class: "myform"}) do |f| %>
                        <%= f.input :price %>
                        <%= f.input :description %>
                        <% 1.times do |i| %>
                          ID: <%= text_field_tag "order[order_products][][id]" %><br/>
                          数量：<%= text_field_tag "order[order_products][][amount]" %><br/>
                          价格：<%= text_field_tag "order[order_products][][price]" %>
                         <% end %>

                        <%= f.submit '购买' %>
                      <% end %>
                    <% else %>
                      请登录后购买
                    <% end %>
                    <!-- 支付测试end -->
                    <div class="formButton" style="margin-top: 30px;">
                      <div class="blog-share">
      									<ul class="clearfix">
      										<li>
                            <%= link_to new_frontend_order_path(@product.id), remote: true, class: 'pinterest', style: 'padding: 6px 10px;' do %>
                              <i class="fa fa-weixin fa-lg"></i>
                              微信支付
                            <% end %>
      										</li>
      										<li>
      											<a href="#" class="gplus" style="padding: 6px 10px;">
                              <i class="fa fa-shopping-cart fa-lg"></i>
                              加入购物车
                            </a>
      										</li>
      									</ul>
      								</div>
                    </div>
                    <div class="formOther">
                      <div class="blog-share" style="margin: 0px;">
      									<ul class="clearfix">
                          <li>
                            <span style="vertical-align: -moz-middle-with-baseline;">分享：</span>
      										</li>
      										<li>
      											<a href="#" class="twitter"><span class="fa fa-qq fa-lg"></span></a>
      										</li>
      										<li>
      											<a href="#" class="gplus" style="background-color: green;"><span class="fa fa-weixin fa-lg"></span></a>
      										</li>
      										<li>
      											<a href="#" class="pinterest"><span class="fa fa-weibo fa-lg"></span></a>
      										</li>
      									</ul>
      								</div>
                    </div>
                  </div>
              </div>



              <!-- 支付成功后跳转显示 -->
              <div class="blog-image">
                <video controls="controls" width="100%">
                  <source src="<%= @product.video_url %>" type="video/mp4">
                  <source src="<%= @product.video_url %>" type="video/ogg">
                  <source src="<%= @product.video_url %>" type="video/WebM">
                </video>
              </div>
              <!-- <span class="categories"><a href="java">下载视频</a></span> -->
              <div class="blog-text">
                <blockquote class="typo_style2 "><p><%= @product.description %></p></blockquote>
                <p>注意事项：<%= @product.warning_message %></p>
                <!-- <ul class="typo_tick">
                  <li><span class="icon"></span>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</li>
                  <li><span class="icon"></span>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem</li>
                  <li><span class="icon"></span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</li>
                  <li><span class="icon"></span>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit</li>
                  <li><span class="icon"></span>adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et</li>
                </ul> -->
              </div>
            </div>


            <!-- <div class="blog-author clearfix">
              <img alt="Image" src="http://1.gravatar.com/avatar/1986f5007ea888ec7ba6542025be0310?s=64&amp;r=g">
              <div class="author-desc">
                <h4>Mark Abucayon</h4>
                <ul class="author-socials clearfix">
                  <li><a href="#"><i class="fa fa-facebook fa-lg"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter fa-lg"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus fa-lg"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin fa-lg"></i></a></li>
                  <li><a href="#"><i class="fa fa-globe fa-lg"></i></a></li>
                </ul>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
              </div>
            </div> -->

            <!-- <div class="blog-other-post clearfix">
              <h5>你可能会喜欢</h5>
              <div class="row">
                <div class="col-sm-6 col-md-4">
                  <div class="masonry-item">
                    <div class="blog-mask">
                      <a href="http://themecss.com/wp/Desilog/new-swedish-books/" class="blog-format-image-hover">
                        <i class="fa fa-external-link fa-3x"></i>
                      </a>
                      <div class="blog-image">
                        <a href="#"><img src="images/new-swedish-263x238.jpg" alt="Image" class="img-responsive"></a>
                      </div>
                    </div>
                    <div class="blog-list-desc">
                      <span class="categories">
                        <a href="#">Branding</a>
                      </span>
                      <h4><a href="#">New Swedish Books</a></h4>
                      <label>
                        <span>admin&nbsp;‐</span>
                        April 20, 2016
                      </label>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4">
                  <div class="masonry-item">
                    <div class="blog-mask">
                      <div class="blog-audio">
                        <a href="#" class="blog-format-image-hover">
                          <i class="fa fa-external-link fa-3x"></i>
                        </a>
                        <span class="blog-format-audio">Audio</span>
                        <a href="#"><img src="images/featuring-color-green-263x238.jpg" alt="Image" class="img-responsive"></a>
                      </div>
                    </div>
                    <div class="blog-list-desc">
                      <span class="categories"><a href="#">Editorial Design</a></span>
                      <h4><a href="#">Featuring the color GREEN</a></h4>
                      <label>
                        <span>admin&nbsp;‐</span>
                        April 20, 2016
                      </label>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4">
                  <div class="masonry-item">
                    <div class="blog-mask">
                      <a href="#" class="blog-format-image-hover">
                        <i class="fa fa-external-link fa-3x"></i>
                      </a>
                      <div class="blog-image">
                        <a href="#"><img src="images/theater-hannover-263x238.jpg" alt="Image" class="img-responsive"></a>
                      </div>
                    </div>
                    <div class="blog-list-desc">
                      <span class="categories"><a href="#" rel="category tag">Character Design</a> <a href="#" >Drawing</a></span>
                      <h4><a href="#">Freies Theater Hannover</a></h4>
                      <label>
                        <span>admin&nbsp;‐</span>
                        April 20, 2016
                      </label>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
            <div class="contact-form comment-form clearfix">
              <h4>给我们宝贵的意见</h4>
              <%= render file: @cms_site.template_dir + '_form.html.erb' %>
            </div>
          </div>
        </div>
      </div>
      <%#= render file: @cms_site.template_dir + '_sidebar.html.erb' %>
    </div>
  </div>
</div>
<%= render file: @cms_site.template_dir + '_footer.html.erb' %>

<%#= javascript_include_tag 'frontend/pingpp' %>
<%#= link_to '微信付款', charge_frontend_product_path(id: 2), method: :post, remote: true %>

<script type="text/javascript">
  function onStartCharging(charge){
    console.log('1')
    pingpp.createPayment(charge, function(result, err){
      console.log(result);
      console.log(err.msg);
      console.log(err.extra);
      if (result == "success") {
          // 只有微信公众账号 wx_pub 支付成功的结果会在这里返回，其他的支付结果都会跳转到 extra 中对应的 URL。
      } else if (result == "fail") {
          // charge 不正确或者微信公众账号支付失败时会在此处返回
      } else if (result == "cancel") {
          // 微信公众账号支付取消支付
      }
    });
  }

</script>
