<style media="screen">
  .active {
    text-decoration: none;
    background-color: #eee;
  }
</style>
<div class="theiaStickySidebar">
  <div class="tr-section">
    <ul class="nav">
      <li><%= link_to '个人中心', users_path %></li>
      <li>
        <%= link_to(self_message_users_path(type: 'unread')) do %>
          消息中心
          <% if Notification.where(user: current_user).unread.count > 0 %>
            <span class="badge" style="background-color: #d9534f;"><%= Notification.where(user: current_user).unread.count%></span>
          <% end %>
        <% end %>
      </li>
      <li>
        <%= link_to '我的订单', self_order_users_path %>
      </li>
      <li>
        <%= link_to '我的评论', self_comment_users_path %>
      </li>
      <li>
        <%= link_to '关注收藏', favorites_users_path %>
      </li>
      <% unless mobile_device? %>
      <li>
        <%= link_to '意见反馈', self_complaint_users_path %>
      </li>
      <hr>
      <li>
        <%= link_to '帮助中心', '/contact' %>
      </li>
      <li>
        <%= link_to '场馆入驻', '/about' %>
      </li>
      <% end %>
    </ul>
  </div>
</div>
