<%= render file: 'public/templetes/student2/_header.html.erb' %>
<div class="container">
    <div  class="row">
    <div class="class-table">
          <div class="col-xs-12">
            <table class="table table-bordered">
             <caption style="text-align:center;">课程表</caption>
              <thead>
                <tr>
                  <td align="center" width="7%">时间</td>
                  <td align="center" width="10%">星期一</td>
                  <td align="center" width="10%">星期二</td>
                  <td align="center" width="10%">星期三</td>
                  <td align="center" width="10%">星期四</td>
                  <td align="center" width="10%">星期五</td>
                  <td align="center" width="10%">星期六</td>
                  <td align="center" width="10%">星期日</td>
                </tr>
              </thead>
              <tbody>
              <tr>
                  <td align="center">上午</td>
                  <td align="center">
                    <% if @user_showtable.any? %>
                      <% @user_showtable.each do |classse|%>
                          <% if classse.class_day === "上午" && classse.class_week === "星期一"%>
                          <%=classse.name%><br><%=classse.class_time%>
                          <% end %>
                        <% end %>  
                    <% end %>    
                  </td>
                
                  
                  <td align="center">
                    <% if @user_showtable.any? %>
                        <% @user_showtable.each do |classse|%>
                            <% if classse.class_day === "上午" && classse.class_week === "星期二"%>
                              <%=classse.name%><br><%=classse.class_time%>
                            <% end %>
                        <% end %>  
                    <% end %>    
                  </td>
                
                
                  <td align="center">
                    <% if @user_showtable.any? %>
                        <% @user_showtable.each do |classse|%>
                            <% if classse.class_day === "上午" && classse.class_week === "星期三"%>
                              <%=classse.name%><br><%=classse.class_time%>
                            <% end %>
                        <% end %>  
                    <% end %> 
                  </td>
                          
                  <td align="center">
                    <% if @user_showtable.any? %>
                      <% @user_showtable.each do |classse|%>
                          <% if classse.class_day === "上午" && classse.class_week === "星期四"%>
                            <%=classse.name%><br><%=classse.class_time%>
                          <% end %>
                      <% end %>  
                    <% end %> 
                  </td>
                
                
                  <td align="center">
                    <% if @user_showtable.any? %>
                      <% @user_showtable.each do |classse|%>
                            <% if classse.class_day === "上午" && classse.class_week === "星期五"%>
                              <%=classse.name%><br><%=classse.class_time%>
                            <% end %>
                      <% end %>  
                    <% end %> 
                  </td>
              
                  
                <td align="center">
                    <% if @user_showtable.any? %>
                    <% @user_showtable.each do |classse|%>
                        <% if classse.class_day === "上午" && classse.class_week === "星期六"%>
                          <%=classse.name%><br><%=classse.class_time%>
                        <% end %>
                    <% end %>  
                  <% end %>  
                </td>


              <td align="center">
                <% if @user_showtable.any? %>
                  <% @user_showtable.each do |classse|%>
                      <% if classse.class_day === "上午" && classse.class_week === "星期日"%>
                        <%=classse.name%><br><%=classse.class_time%>
                      <% end %>
                  <% end %>  
                <% end %> 
              </td>
              </tr>

              <tr>
                  <td align="center">下午</td>
                    <td align="center">
                      <% if @user_showtable.any? %>
                        <% @user_showtable.each do |classse|%>
                            <% if classse.class_day === "下午" && classse.class_week === "星期一"%>
                              <%=classse.name%><br><%=classse.class_time%>
                            <% end %>
                        <% end %>  
                      <% end %> 
                    </td>
                  
                  
                  <td align="center">
                    <% @user_showtable.each do |classse|%>
                      <% if classse.class_day === "下午" && classse.class_week === "星期二"%>
                        <%=classse.name%><br><%=classse.class_time%>
                      <% end %>
                    <% end %>
                </td>
                
                
                <td align="center">
                  <% @user_showtable.each do |classse|%>
                    <% if classse.class_day === "下午" && classse.class_week === "星期三"%>
                      <%=classse.name%><br><%=classse.class_time%>
                    <% end %>
                  <% end %>
                </td>
                  
                
              <td align="center">
                <% @user_showtable.each do |classse|%>
                  <% if classse.class_day === "下午" && classse.class_week === "星期四"%>
                    <%=classse.name%><br><%=classse.class_time%>
                  <% end %>
                <% end %> 
              </td>
              
              <td align="center">
                <% @user_showtable.each do |classse|%>
                  <% if classse.class_day === "下午" && classse.class_week === "星期五"%>
                    <%=classse.name%><br><%=classse.class_time%>
                  <% end %>
                <% end %>  
              </td>
                  
                  
              <td align="center">
                <% @user_showtable.each do |classse|%>
                  <% if classse.class_day === "下午" && classse.class_week === "星期六"%>
                    <%=classse.name%><br><%=classse.class_time%>
                  <% end %>
                <% end %>
            </td>
                
                  
              <td align="center">
                <% @user_showtable.each do |classse|%>
                  <% if classse.class_day === "下午" && classse.class_week === "星期日"%>
                    <%=classse.name%><br><%=classse.class_time%>
                  <% end %>
                <% end %>
              </td>
              </tr>

              <tr>
                  <td align="center">晚上</td>
                  <td align="center">
                    <% @user_showtable.each do |classse|%>
                      <% if classse.class_day === "晚上" && classse.class_week === "星期一"%>
                        <%=classse.name%><br><%=classse.class_time%>
                      <% end %>
                    <% end %>     
                  </td>

                  <td align="center">
                    <% @user_showtable.each do |classse|%>
                      <% if classse.class_day === "晚上" && classse.class_week === "星期二"%>
                        <%=classse.name%><br><%=classse.class_time%>
                      <% end %>
                    <% end %>
                  </td>

              
                  <td align="center">
                    <% @user_showtable.each do |classse|%>
                      <% if classse.class_day === "晚上" && classse.class_week === "星期三"%>
                        <%=classse.name%><br><%=classse.class_time%>
                      <% end %>
                    <% end %>  
                  </td>
              
                <td align="center">
                  <% @user_showtable.each do |classse|%>
                    <% if classse.class_day === "晚上" && classse.class_week === "星期四"%>
                      <%=classse.name%><br><%=classse.class_time%>
                    <% end %>
                  <% end %> 
                </td>
              
              <td align="center">
                <% @user_showtable.each do |classse|%>
                  <% if classse.class_day === "晚上" && classse.class_week === "星期五"%>
                    <%=classse.name%><br><%=classse.class_time%>
                  <% end %>
                <% end %>
              </td>
                
              <td align="center">
                  <% @user_showtable.each do |classse|%>
                    <% if classse.class_day === "晚上" && classse.class_week === "星期六"%>
                      <%=classse.name%><br><%=classse.class_time%>
                    <% end %>
                  <% end %>  
              </td>

              <td align="center">
                  <% @user_showtable.each do |classse|%>
                      <% if classse.class_day === "晚上" && classse.class_week === "星期日"%>
                        <%=classse.name%><br><%=classse.class_time%>
                      <% end %>
                  <% end %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>   
    </div>
  </div>
</div>