<%= render file: @cms_site.template_dir + '_header.html' %>
<% if @user_classorders.any? %>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-bordered"> 
                    <caption style="text-align:center;">个人选课情况</caption>
                    <thead>
                    <tr>
                        <th>课程</th>
                        <th>上课时间</th>
                        <th>撤销选课</th>
                    </tr>
                    </thead>
                    <tbody> 
                        <% @user_classorders.each do |order| %>      
                            <tr>
                                <td><%=order.name%></td>
                                <td><%=order.class_week + order.class_day + order.class_time%></td>
                                <td><%= link_to '撤销选课', frontend_classorder_path(order),
                                method: :delete,
                                data: { confirm: '确定要删除这节课吗?' } %></td>
                            </tr> 
                        <%end%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <%else%>
    <div class="class-info">
    <h2>您还没选课，请进行<%= link_to '选课', frontend_courses_path%></h2>
    </div>
<%end%>

