
<%= render file: @cms_site.template_dir + '_header.html' %>
<div id="wrap">
  <section id="start" class="padding-top-bottom text-center">
    <div class="container">

      <div class="tr-breadcrumb">
  			<div class="title pull-left">
  				<h1>个人中心</h1>
  			</div>
        <ol class="breadcrumb pull-right">
          <li><a href="/">首页</a></li>
        </ol>
  		</div>

      <div class="row">
        <div class="col-sm-8 col-md-8 tr-sticky">
          <div class="theiaStickySidebar">
            <div class="tr-section">
              <h3>用户信息</h3>
              <hr>
              <div class="row">
                <div class="col-md-4 col-xs-12">
                  <div class="user-logo">
                    <img src="<%= current_user.display_headshot %>" alt="" class="img-circle" width="150px">
                  </div>
                </div>
                <div class="col-md-4 col-xs-12">
                  <h3><%= current_user.nickname %></h3>
                  <%= link_to '基本信息修改', edit_frontend_user_path(current_user), class: "btn btn-info btn-md", style: "display: inlin-block; margin: 30px 0px 15px 0px;" %>
                </div>
              </div>

              <div class="row" style="margin-top: 30px;">
                <div class="col-md-9 col-md-offset-1 col-xs-12">
                  <div class="form-horizontal">
                    <div class="form-group">
                      <label class="col-sm-2 control-label">邮箱：</label>
                      <div class="col-sm-10">
                        <p class="form-control-static text-left"><%= current_user.email %></p>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-2 control-label">电话：</label>
                      <div class="col-sm-10">
                        <p class="form-control-static text-left"><%= current_user.mobile.phone_number %> <%= link_to '手机绑定', binding_phone_frontend_users_path, style: "margin-left: 15px;" %> </p>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-2 control-label">微信：</label>
                      <div class="col-sm-10">
                        <p class="form-control-static text-left">
                          <% if current_user.weixin %>
                            <%= current_user.weixin.try(:uid) %>
                          <% else %>
                            <%= link_to '微信绑定', binding_weixin_frontend_users_path, style: "margin-left: 15px;" %>
                          <% end %>
                        </p>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="col-md-3"></div>
              </div>

              <!-- <div class="row">
                <div class="col-md-9 col-md-offset-1 col-xs-12">
                  <div class="form-horizontal">
                    <div class="form-group">
                      <label for="inputPhone" class="col-sm-2 control-label">手机号</label>
                      <div class="col-sm-10">
                        <input type="phone" class="form-control" id="inputPhone" placeholder="手机号" readonly>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputWechat" class="col-sm-2 control-label">微信号</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputWechat" placeholder="微信号">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputEmail" class="col-sm-2 control-label">邮箱</label>
                      <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail" placeholder="邮箱">
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->


            </div>
          </div>
        </div>
        <div class="col-sm-5 col-md-4 tr-sticky" >
          <%= render file: 'frontend/users/_nav_sidebar.html.erb' %>
        </div>
      </div>

    </div>
  </section>
  <%= render file: @cms_site.template_dir + '_footer.html' %>
</div>
