<%= render file: @cms_site.template_dir + '_header.html' %>
<div id="wrap">
  <section id="start" class="padding-top-bottom text-center">
    <div class="container">
      <div class="tr-breadcrumb">
  			<div class="title pull-left">
  				<h1>个人中心</h1>
  			</div>
        <ol class="breadcrumb pull-right">
          <li><a href="/">首页</a></li>
        </ol>
  		</div>
      <% if notice %>
        <div class="alert alert-success alert-dismissible text-left" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>提示：</strong> <%= notice %>
        </div>
      <% end %>
      <div class="row">
        <div class="col-md-8 col-xs-8">
          <div class="theiaStickySidebar">
            <div class="tr-section">
              <div class="row">
                <div class="col-md-2 col-xs-12">
                  <div class="user-logo">
                    <img src="<%= current_user.display_headshot %>" alt="" class="img-circle" width="80" height="80">
                  </div>
                  <h5>
                    <%= link_to current_user.nickname, edit_users_path %>
                  </h5>
                </div>
                <div class="col-md-10 col-xs-12">
                  <div class="row" style="margin-top: 15px;">
                    <div class="col-md-2 col-xs-4">邮箱：</div>
                    <div class="col-md-10 col-xs-8 text-left">
                      <% if current_user.email.present? %>
                        <%= current_user.email %>
                      <% else %>
                        <%= link_to '绑定邮箱', edit_users_path %>
                      <% end %>
                    </div>
                  </div>
                  <div class="row" style="margin-top: 15px;">
                    <div class="col-md-2 col-xs-4">电话：</div>
                    <div class="col-md-10 col-xs-8 text-left">
                      <% if current_user.try(:mobile).try(:phone_number).present? %>
                        <%= current_user.mobile.phone_number %> <%= link_to '重新绑定', binding_phone_users_path %>
                      <% else %>
                        暂无手机号 <%= link_to '立即绑定', binding_phone_users_path %>
                      <% end %>
                    </div>
                  </div>
                  <div class="row" style="margin-top: 15px;">
                    <div class="col-md-2 col-xs-4">微信：</div>
                    <div class="col-md-10 col-xs-8 text-left">
                      <% if current_user.weixin %>
                        <%= current_user.weixin.try(:name) || '匿名' %>
                      <% else %>
                        <%= link_to '立即绑定', binding_weixin_users_path%>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-xs-4">
          <%= render file: 'frontend/users/_nav_sidebar.html.erb' %>
        </div>
      </div>
    </div>
  </section>
</div>
<%= render file: @cms_site.template_dir + '_footer.html' %>
