<html lang="zh-CN">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Language" content="zh-CN" />
    <meta name="robots" content="ALL,FOLLOW" />
    <meta name="author" content="www.dagle.cn" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= @market_page.name %></title>
    <meta content="<%= @market_page.description %>" name="description"/>
  </head>
  <body style="text-align: center;">
    <div style="margin: 0 auto; max-width:760px;">
      <h2><%= @market_page.value_for("title", title: "文章标题", typo: "string", default: "文章标题") %></h2><hr/>
      <div style="text-align:left;"><%= simple_format @market_page.value_for("content", title: "正文", typo: "text", default: "文章内容") %></div>
      <% @market_page.image_items.each do |img| %>
       <%= image_tag img.image_url, style: "width:100%;" %>
      <% end %>
    </div>
  </body>
</html>
