<!DOCTYPE html>
<html>
<head>
  <title>ColorAdmin template</title>
  <%= stylesheet_link_tag    'color_admin/backend', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'color_admin/backend', 'data-turbolinks-track': 'reload' %>

</head>
<body class="<%= [controller_path.parameterize, action_name] %>">
    <div id="page-loader" class="fade in">
      <span class="spinner"></span>
    </div>
    <div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
      <%= render 'layouts/backend/header' %>
      <%= render 'layouts/backend/sidebar' %>
      <div id="content" class="content">
        <%= yield %>
      </div>
      <div id="footer" class="footer"></div>
      <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top">
        <i class="fa fa-angle-up"></i>
      </a>
    </div>
</body>
</html>