<div class="bg-colors" data-colors="#568CD3,#D3744C,#389E86,#9356D3,#D35D56,#587EA0,#518E7E"></div>
<div class="media" style="position: fixed;z-index: 9; margin-top: 0px;padding: 0.5em;background-color: rgba(255, 255, 255, .1);">
  <div class="media-left">
    <% if @share_message.image.blank? %>
      <img src="<%= @cms_site.value_for(:logo) %>" alt="<%= @cms_site.description %>" width= '30px' height= '30px'>
    <% else %>
      <img src="<%= @share_message.image %>" alt="<%= @share_message.address_line  %>" width= '30px' height= '30px'>
    <% end %>
  </div>
  <div class="media-body">
    <h4 class="media-heading">
      <% if @share_message.try(:address_line).blank? %>
        <%= @cms_site.name %>商家
      <% else %>
        <%= @share_message.address_line  %>
      <% end %>
      邀请您下载APP
    </h4>
  </div>
</div>
<div id="fullpage">
  <section data-anchor="">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-6 col-md-5 col-md-offset-6">
          <h1 class="heading text-center" data-animate-in="animateUpDown">陌邻，让邻里不再陌生!<br/>已入住<span style="font-size: 45px;">32</span>家商户</h1>
          <p class="delay_1" data-animate-in="animateUpDown">
            陌邻APP提供小区邻友社交互动，提供全方位社区便民服务，通过人工智能，让周边服务，呼之即来。
          </p>
          <a href="javascript: void(0)" class="btn btn-lg btn-primary delay_2" data-animate-in="animateUpDown">
            <i class="fa fa-apple"></i> Apple 下载
          </a>
          <a href="javascript: void(0)" class="btn btn-lg btn-primary delay_2" data-animate-in="animateUpDown">
            <i class="fa fa-android"></i> Android 下载
          </a>
        </div>
      </div>
    </div>
  </section>
</div>
