<%= render file: @cms_site.template_dir + '_header.html.erb'  %>
<div class="container">
  <div class="panel panel-default">
    <table class="table">
      <thead>
        <tr class="order_head_tr">
          <td class="order_head_td">
            编号
          </td>
          <td class="order_head_td">
            订单号
          </td>
          <td class="order_head_td">
            订单状态
          </td>
          <td class="order_head_td">
            下单时间
          </td>
          <td class="order_head_td">
            预计收货
          </td>
          <td class="order_head_td">
            操作
          </td>
        </tr>
      </thead>
      <tbody>
        <% @orders.order(updated_at: :desc).each_with_index do |order, index| %>
          <tr class="order_tr">
            <td class="order_td">
              <%= index + 1 %>
            </td>
            <td class="order_td">
              <%= order.code %>
            </td>
            <td class="order_td">
              <%= enum_l(order, :internal_status) %>
            </td>
            <td class="order_td">
              <%= format_time(order.created_at) %>
            </td>
            <td class="order_td">
              2017年6月31日
            </td>
            <td class="order_td">
              <button class="table_btn btn-info showResult">
                <i class="fa fa-eye"></i>
              </button>
            </td>
          </tr>
          <tr>
            <td colspan="6">
              <% if order.packing? %>
                <div id="drk_timeline" class="timeline">
                  <div class="line_item position1 text-center">
                    <div class="lint_point bg_warning"></div>
                    <div class="line_content">
                      <%= enum_l(order, :internal_status) %>
                    </div>
                  </div>
                </div>
              <% elsif order.packed? %>
                <div id="drk_timeline" class="timeline">
                  <div class="line_item position1 text-center">
                    <div class="lint_point bg_success"></div>
                    <div class="line_content">
                      <%= enum_l(order, 'packing') %>
                    </div>
                  </div>
                </div>
                <div id="drk_timeline" class="timeline">
                  <div class="line_item position1 text-center">
                    <div class="lint_point bg_warning"></div>
                    <div class="line_content">
                      <%= enum_l(order, :internal_status) %>
                    </div>
                  </div>
                </div>
              <% elsif order.producing? %>
                <div id="drk_timeline" class="timeline">
                  <div class="line_item position1 text-center">
                    <div class="lint_point bg_success"></div>
                    <div class="line_content">
                      <%= enum_l(order, 'packing') %>
                    </div>
                  </div>
                </div>
                <div id="drk_timeline" class="timeline">
                  <div class="line_item position1 text-center">
                    <div class="lint_point bg_success"></div>
                    <div class="line_content">
                      <%= enum_l(order, 'packed') %>
                    </div>
                  </div>
                </div>
                <div id="drk_timeline" class="timeline">
                  <div class="line_item position1 text-center">
                    <div class="lint_point bg_warning"></div>
                    <div class="line_content">
                      <%= enum_l(order, :internal_status) %>
                    </div>
                  </div>
                </div>
              <% elsif order.produced? %>
                <div id="drk_timeline" class="timeline">
                  <div class="line_item position1 text-center">
                    <div class="lint_point bg_success"></div>
                    <div class="line_content">
                      <%= enum_l(order, 'packing') %>
                    </div>
                  </div>
                </div>
                <div id="drk_timeline" class="timeline">
                  <div class="line_item position1 text-center">
                    <div class="lint_point bg_success"></div>
                    <div class="line_content">
                      <%= enum_l(order, 'packed') %>
                    </div>
                  </div>
                </div>
                <div id="drk_timeline" class="timeline">
                  <div class="line_item position1 text-center">
                    <div class="lint_point bg_success"></div>
                    <div class="line_content">
                      <%= enum_l(order, 'producing') %>
                    </div>
                  </div>
                </div>
                <div id="drk_timeline" class="timeline">
                  <div class="line_item position1 text-center">
                    <div class="lint_point bg_warning"></div>
                    <div class="line_content">
                      <%= enum_l(order, :internal_status) %>
                    </div>
                  </div>
                </div>
              <% elsif order.delivering? %>
                <div id="drk_timeline" class="timeline">
                  <div class="line_item position1 text-center">
                    <div class="lint_point bg_success"></div>
                    <div class="line_content">
                      <%= enum_l(order, 'packing') %>
                    </div>
                  </div>
                </div>
                <div id="drk_timeline" class="timeline">
                  <div class="line_item position1 text-center">
                    <div class="lint_point bg_success"></div>
                    <div class="line_content">
                      <%= enum_l(order, 'packed') %>
                    </div>
                  </div>
                </div>
                <div id="drk_timeline" class="timeline">
                  <div class="line_item position1 text-center">
                    <div class="lint_point bg_success"></div>
                    <div class="line_content">
                      <%= enum_l(order, 'producing') %>
                    </div>
                  </div>
                </div>
                <div id="drk_timeline" class="timeline">
                  <div class="line_item position1 text-center">
                    <div class="lint_point bg_success"></div>
                    <div class="line_content">
                      <%= enum_l(order, 'produced') %>
                    </div>
                  </div>
                </div>
                <div id="drk_timeline" class="timeline">
                  <div class="line_item position1 text-center">
                    <div class="lint_point bg_warning"></div>
                    <div class="line_content">
                      <%= enum_l(order, :internal_status) %>
                    </div>
                  </div>
                </div>
              <% elsif order.delivered? %>
                <div id="drk_timeline" class="timeline">
                  <div class="line_item position1 text-center">
                    <div class="lint_point bg_success"></div>
                    <div class="line_content">
                      <%= enum_l(order, 'packing') %>
                    </div>
                  </div>
                </div>
                <div id="drk_timeline" class="timeline">
                  <div class="line_item position1 text-center">
                    <div class="lint_point bg_success"></div>
                    <div class="line_content">
                      <%= enum_l(order, 'packed') %>
                    </div>
                  </div>
                </div>
                <div id="drk_timeline" class="timeline">
                  <div class="line_item position1 text-center">
                    <div class="lint_point bg_success"></div>
                    <div class="line_content">
                      <%= enum_l(order, 'producing') %>
                    </div>
                  </div>
                </div>
                <div id="drk_timeline" class="timeline">
                  <div class="line_item position1 text-center">
                    <div class="lint_point bg_success"></div>
                    <div class="line_content">
                      <%= enum_l(order, 'produced') %>
                    </div>
                  </div>
                </div>
                <div id="drk_timeline" class="timeline">
                  <div class="line_item position1 text-center">
                    <div class="lint_point bg_success"></div>
                    <div class="line_content">
                      <%= enum_l(order, 'delivering') %>
                    </div>
                  </div>
                </div>
                <div id="drk_timeline" class="timeline">
                  <div class="line_item position1 text-center">
                    <div class="lint_point bg_warning"></div>
                    <div class="line_content">
                      <%= enum_l(order, :internal_status) %>
                    </div>
                  </div>
                </div>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @orders%>
  <%= link_to '返回首页', '/'%>
</div>

<script type="text/javascript">
  $(function () {
    $('.showResult').parent().parent().next().hide();
    $('.showResult').click(function() {
      $(this).parent().parent().next().toggle('slow');
    });
  })
</script>
<%= render file: @cms_site.template_dir + '_footer.html.erb'  %>
