<%= render file: @cms_site.template_dir + '_header.html.erb'  %>
<div class="container">
  <div class="panel panel-default">
    <table class="table">
      <thead>
        <tr class="order_head_tr">
          <td class="order_head_td">
            编号
          </td>
          <td class="order_head_td">
            订单号
          </td>
          <td class="order_head_td">
            订单状态
          </td>
          <td class="order_head_td">
            下单时间
          </td>
          <td class="order_head_td">
            预计收货
          </td>
          <td class="order_head_td">
            操作
          </td>
        </tr>
      </thead>
      <tbody>
        <% @orders.order(updated_at: :desc).each_with_index do |order, index| %>
          <tr class="order_tr">
            <td class="order_td">
              <%= index + 1 %>
            </td>
            <td class="order_td">
              <%= order.code %>
            </td>
            <td class="order_td">
              <%= enum_l(order, :internal_status) %>
            </td>
            <td class="order_td">
              <%= format_time(order.created_at) %>
            </td>
            <td class="order_td">
              2017年6月31日
            </td>
            <td class="order_td">
              <button class="table_btn btn-info showResult">
                <i class="fa fa-eye"></i>
              </button>
            </td>
          </tr>
          <tr>
            <td colspan="6">
                <div id="drk_timeline" class="timeline">
                  <div class="line_item position1 text-center">
                    <div class="lint_point bg_success"></div>
                    <div class="line_content">
                      生产设计
                    </div>
                  </div>
                  <div class="line_item position2 text-center">
                    <div class="lint_point bg_success"></div>
                    <div class="line_content">
                      创建订单
                    </div>
                  </div>
                  <% current_status_index = nil %>
                  <% enum_options_for_select(Order, :internal_status).each_with_index do |order_status, index| %>
                    <% if current_status_index.blank? %>
                      <% current_status_index = index if order_status[0] == enum_l(order, :internal_status) %>
                      <div class="line_item position<%= index + 3 %> text-center">
                        <div class="lint_point <%= enum_l(order, :internal_status) == order_status[0] ? 'bg_warning' : 'bg_success'  %>"></div>
                        <div class="line_content">
                          <%= order_status[0]  %>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @orders%>
  <%= link_to '返回首页', '/'%>
</div>

<script type="text/javascript">
  $(function () {
    $('.showResult').parent().parent().next().hide();
    $('.showResult').click(function() {
      $(this).parent().parent().next().toggle('slow');
    });
  })
</script>
<%= render file: @cms_site.template_dir + '_footer.html.erb'  %>
