<div class="page-header">
  <div class="container-fluid">
    <h1>
      订单查询系统
      <%= link_to '返回官网', nil ,style: 'float: right;' %>
    </h1>
  </div>
</div>

<div class="container text-center">
  <div class="row" style="margin-top: 30px;">
    <a class="navbar-logo" href="index-2.html">
      <%= image_tag('/templetes/' + @cms_site.template  + '/images/search_logo.png') %>
    </a>
  </div>

  <div class="row" style="margin-top: 30px;">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <%= form_tag(do_search_frontend_orders_path)  do %>
        <div class="input-group">
          <%= text_field_tag :keywords, nil, class: 'form-control searchInput', placeholder: "请输入预留电话或订单号" %>
          <span class="input-group-btn">
            <%= submit_tag "查询", class: 'btn btn-default' %>
          </span>
        </div>
      <% end %>
    </div>
    <div class="col-md-4"></div>
  </div>

  <div class="row" style="margin-top:30px;">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center">
      <p class="text-center">
        Copyright &copy; 2015 www.grand-jardin.com<br><span class="company-rights text-center">格兰雅克订单查询系统V1.0</span>咨询热线：13688111729
      </p>
    </div>
    <div class="col-md-3"></div>
  </div>

</div>
