<%= render file: "public/templetes/dagle/shared/_header" %>

<div id="barba-wrapper">
  <div class="barba-container">
  
    <div id="index">
      <!-- banner -->
      <section id="headline-cover">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h1 class="headline-text"  data-aos="fade-up-right">
                德格·<%= @channel.title %>
              </h1>

              <p class="subheading-text"  data-aos="fade-up-right">
                Dagle SaaS是一款简单好用的企业信息管理软件。Dagle提供产品、库存、订单、流程管理，以及经销商和会员营销管理。Dagle源自德国工业4.0，基于云端，适用于现代生产型企业，流程清晰，简单好用。
              </p>

              <div class="buttons-container" data-aos="fade-up-right">
                <a href="#"  data-toggle="modal" data-target="#purchaseModal" class="btn btn-lg btn-primary btn-round btn-main-cta">
                  申请试用
                </a>
                <span class="or">or</span>
                <a href="<%= page_path("features") %>" class="btn btn-link">
                  了解更多 &rarr;
                </a>
              </div>
            </div>

            <div class="col-md-6 hidden-sm hidden-xs" data-aos="fade-up-left">
              <img class="img-responsive main-img" src="/templetes/dagle/img/display/mockup-4.png" alt="<%= @channel.description %>">
            </div>
          </div>
        </div>
      </section>

      <!-- 实操描述 -->
      <div id="services" class="page">
        <div class="section-header">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h2>
                  实操描述
                  <br>
                  <small>
                    StartKit is perfect for starting a SaaS website
                  </small>
                </h2>
              </div>
            </div>
          </div>
        </div>
        <section class="tour">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="text-center">
                  <img src="/templetes/dagle/img/display/tour-1.png" alt="" class="img-responive">
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>

      <!-- 应用特点 -->
      <section id="features">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <h2>应用特点</h2>
              <p class="lead">德格融合了工厂ERP管理、SCRM客户关系管理、BPM业务流程管理、 OMS订单管理等四大企业业务信息系统。</p>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row feature-single">
            <div class="col-md-6 col-sm-4 image hidden-xs" data-aos="fade-up-right">
              <img src="/templetes/dagle/img/display/mockup-2.png" class="img-responsive" alt="feature1" />
            </div>

            <div class="col-md-6 col-sm-8 text" data-aos="fade-up-left">
              <h3>保证绝对的安全可靠</h3>
              <p class="lead">
                分布式部署，100%抵御数据灭失。<br/>
                <small>防黑防盗，私有安全</small>
              </p>
            </div>
          </div>
          <div class="divider"></div>
          <div class="row feature-single">
            <div class="col-md-6 col-sm-8 text" data-aos="fade-up-right">
              <h3>天生具备大数据驱动能力</h3>
              <p class="lead">
                通过智能训练，让软件越用越好用。<br/>
                <small>智能分析，精准推送</small>
              </p>
            </div>
            <div class="col-md-6 col-sm-4 image hidden-xs" data-aos="fade-up-left">
              <img src="/templetes/dagle/img/display/mockup-5.png" class="img-responsive" alt="feature1" />
            </div>
          </div>
        </div>
      </section>

      <!-- 核心业务 -->
      <section id="highlight-cta" data-aos="fade-up">
        <div class="container">
          <div class="row">

            <div class="col-md-8 col-md-offset-2 text text-center">
              <h2>
                核心业务
              </h2>

              <p class="lead">
                德格核心定位在快速成长的中小企业，部署简单，使用方便，维护成本低，同时又能根据企业自身的发展量身定制.
              </p>

            </div>
          </div>
        </div>
      </section>

      <div id="features-page">
        <section class="main-content">
          <div class="container">
            <div id="features-split">
              <div class="row">

                <div class="col-sm-3">
                  <div class="features-item">
                    <h4>Responsive Design</h4>

                    <div class="image hidden-sm">
                      <img src="/templetes/dagle/img/circle-icons/full-color/art.png" class="small-img" alt="">
                    </div>

                    <div class="text">
                      <p>
                        Where ignorance lurks, so too do the frontiers of discovery and imagination.
                      </p>
                    </div>

                  </div>

                  <div class="features-item">
                    <h4>Mobile First</h4>

                    <div class="image hidden-sm">
                      <img src="/templetes/dagle/img/circle-icons/full-color/briefcase.png" class="small-img" alt="">

                    </div>

                    <div class="text">
                      <p>
                        To go places and do things that have never been done before – that’s what living is all about.
                      </p>
                    </div>

                  </div>

                  <div class="features-item">
                    <h4>Built with Bootstrap</h4>

                    <div class="image hidden-sm">
                      <img src="/templetes/dagle/img/circle-icons/full-color/bookshelf.png" class="small-img hidden-sm" alt="">

                    </div>

                    <div class="text">
                      <p>
                        The sky is the limit only for those who aren't afraid to fly!
                      </p>
                    </div>

                  </div>
                  <div class="features-item">
                    <h4>Another feature</h4>
                    <div class="image hidden-sm">
                      <img src="/templetes/dagle/img/circle-icons/full-color/art.png" class="small-img hidden-sm" alt="">
                    </div>
                    <div class="text">
                      <p>
                        The sky is the limit only for those who aren't afraid to fly!
                      </p>
                    </div>
                  </div>
                </div>
                <div id="feature-split-image" class="col-sm-6 hidden-xs">
                  <img src="/templetes/dagle/img/display/mockup-7.png" class="img-responsive" alt="web screenshot">
                </div>
                <div class="col-sm-3">
                  <div class="features-item">
                    <h4>Priority Support</h4>
                    <div class="image hidden-sm">
                      <img src="/templetes/dagle/img/circle-icons/full-color/car.png" class="small-img" alt="">
                    </div>
                    <div class="text">
                      <p>
                        Energies and skills, because that challenge is one that we are willing to accept.
                      </p>
                    </div>
                  </div>
                  <div class="features-item">
                    <h4>Stand out from the crowd</h4>
                    <div class="image hidden-sm">
                      <img src="/templetes/dagle/img/circle-icons/full-color/computer.png" class="small-img" alt="">
                    </div>
                    <div class="text">
                      <p>
                        We’re curious people. Look back over history, people have put their lives at stake.
                      </p>
                    </div>
                  </div>
                  <div class="features-item">
                    <h4>Easy to use</h4>
                    <div class="image hidden-sm">
                      <img src="/templetes/dagle/img/circle-icons/full-color/check.png" class="small-img hidden-sm" alt="">
                    </div>
                    <div class="text">
                      <p>
                        It suddenly struck me that that tiny pea, pretty and blue, was the Earth
                      </p>
                    </div>
                  </div>
                  <div class="features-item">
                    <h4>Yet Another feature</h4>
                    <div class="image hidden-sm">
                      <img src="/templetes/dagle/img/circle-icons/full-color/booklet.png" class="small-img hidden-sm" alt="">
                    </div>
                    <div class="text">
                      <p>
                        The sky is the limit only for those who aren't afraid to fly!
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>      

      <!-- 客户案例 -->
      <section id="company-slider" data-aos="fade-up">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <%= render file: "public/templetes/dagle/shared/partials/_logo_slider" %>
              <div class="row">
                <div class="col-md-12 text-center">
                  <a href="#" class='btn btn-bordered btn-lg btn-round btn-primary'>
                    查看更多客户 &rarr;
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <%= render file: "public/templetes/dagle/shared/partials/_contact_question.html.erb" %>
      <%= render file: "public/templetes/dagle/shared/partials/_pay_now.html.erb" %>

    </div>

  </div>
</div>

<%= render file: "public/templetes/dagle/shared/_footer" %>
