<%= render file: "public/templetes/dagle/shared/_header" %>

<div id="barba-wrapper">
  <div class="barba-container">
    <div class="container">
      <div class="row">
        <div id="blog">
          <section id="micro-blog-index">
            <div class="container">
              <div class="row">
                <div class="col-lg-9 col-md-9 main-content">
                  <article class="blog-post">
                    <div class="post-image">
                      <img src="<%= @page.image_path %>" alt="<%= @page.keywords %>" class="img-thumbnail img-responsive">
                    </div>
                    <h2 class="post-title">
                      <%= @page.title %>
                    </h2>
                    <div class="post-meta">
                      <div class="row">
                        <div class="col-lg-11 col-md-11">
                          <div class="post-meta-text text-muted">
                            <p>
                              <i class="fa fa-clock-o"></i> 发布时间 <%= get_date(@page.updated_at) %>
                              <!-- <i class="fa fa-eye"></i> 阅读量 <%#= @page.pv_count %> -->
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="post-content">
                      <%= raw @page.content %>
                    </div>
                    <hr>
                    <div class="post-tags">
                      <div class="row">
                        <div class="col-md-12">关键字:
                          <% kwd = @page.keywords.split("，") %>
                          <% kwd.each do |key| %>
                            <span class="badge"><%= key%></span>
                          <% end %>
                      </div>
                    </div>
                    <hr>
                  </article>
                </div>
                <%= render file: "public/templetes/dagle/shared/partials/_blog_sidebar" %>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render file: "public/templetes/dagle/shared/_footer" %>
