<%= render file: "public/templetes/dagle/shared/_header" %>

<div id="barba-wrapper">
  <div class="barba-container">
    <div id="index">
      <!-- banner -->
      <section id="headline-cover">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h1 class="headline-text"  data-aos="fade-up-right" style="font-size: 30px; font-weight: 300; margin-top: 60px; margin-bottom: 35px;">
                德格·<%= @channel.title %>
              </h1>
              <p class="headline-text"  data-aos="fade-up-right" style="font-size: 43px;">
                <strong>融合社交媒体,精准直达客户</strong>
              </p>
              <p class="subheading-text"  data-aos="fade-up-right">
                客户管理、微信营销、客户标签分类、客户活动营销
              </p>
              <div class="buttons-container" data-aos="fade-up-right">
                <!-- data-toggle="modal" data-target="#purchaseModal" -->
                <a href="javascript:void(0);" onclick="_MEIQIA._SHOWPANEL();"  class="btn btn-lg btn-primary btn-round btn-main-cta">
                  申请试用
                </a>
                <span class="or">or</span>
                <a href="<%= get_cms_url("blog") %>" class="btn btn-link">
                  了解更多 &rarr;
                </a>
              </div>
            </div>

            <div class="col-md-6 hidden-sm hidden-xs" data-aos="fade-up-left">
              <img class="img-responsive main-img" src="<%= @channel.image_path %>" alt="<%= @channel.keywords %>">
            </div>
          </div>
        </div>
      </section>

      <%#= raw @channel.content %>
      <div class="page product-bright">
        <div class="item-header">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <p class="p-head1" data-aos="fade-down">SCRM客户管理</p>
                <h2>精准客户管理，挖掘目标客户
                  <br />
                  <small>每位客户都有一张专属资料卡，做到客户资料随时、实时更新，真正意义上实现精准的管理客户</small></h2>
              </div>
            </div>
          </div>
        </div>
        <img alt="德格客户scrm管理，管理客户简单便捷，数据同步更新" class="img-responsive" src="/templetes/dagle/img/bgs/scrm1.png" />
      </div>
      <div class="page product-dark">
        <div class="item-header">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <p class="p-head1" data-aos="fade-up">立体式营销</p>
                <h2>多模式营销活动，提升客户接触点
                  <br />
                  <small>微信、小程序、H5营销、移动Mip、SEO优化、短信、邮箱、等主流的社交媒体营销</small></h2>
              </div>
            </div>
          </div>
        </div>
        <img alt="德格scrm社交媒体营销，提升了客户触点，如微信、小程序、H5营销、移动Mip、SEO优化、短信等营销方式" class="img-responsive" src="/templetes/dagle/img/bgs/scrm2.png" />
      </div>
      <div class="page product-bright">
        <div class="item-header">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <p class="p-head1" data-aos="fade-down">客户标签分类</p>
                <h2>制定销售漏斗，精准直达目标客户
                  <br />
                  <small>对已入库的客户资料可以对其编辑和自定义分类保存，将零散的客户统一管理起来</small></h2>
              </div>
            </div>
          </div>
        </div>
        <img alt="德格客户标签分类管理，制定销售漏斗，从客户池中过滤出意向客户，提升销售业绩" class="img-responsive" src="/templetes/dagle/img/bgs/scrm3.png" />
      </div>
      <div class="page product-dark">
        <div class="item-header">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <p class="p-head1" data-aos="fade-up">客户活动营销</p>
                <h2>数据链接一切，让营销更有效果
                  <br />
                  <small>轻松发布营销活动到任何能接触到客户的社交媒体和线下场景，企业自身的营销效果和客户的服务效果能提升<img alt="" src="/templetes/dagle/img/bgs/75.png" /></small></h2>
              </div>
            </div>
          </div>
        </div>
        <img alt="德格客户营销，采用新媒体营销手段；多场景化营销内容，提升客户体验增强了客户互动" class="img-responsive" src="/templetes/dagle/img/bgs/scrm4.png" />
      </div>
      <%= render file: "public/templetes/dagle/shared/partials/_application_domain.html.erb" %>  

      <!-- 客户案例 -->
      <section id="company-slider" data-aos="fade-up">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <%= render file: "public/templetes/dagle/shared/partials/_logo_slider" %>
              <div class="row">
                <div class="col-md-12 text-center">
                  <a href="<%= get_cms_url("case") %>" class='btn btn-bordered btn-lg btn-round btn-primary'>
                    查看更多客户 &rarr;
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <%= render file: "public/templetes/dagle/shared/partials/_contact_question.html.erb" %>
      <%= render file: "public/templetes/dagle/shared/partials/_pay_now.html.erb" %>

    </div>

  </div>
</div>

<%= render file: "public/templetes/dagle/shared/_footer" %>
