<%= render file: "public/templetes/dagle/shared/_header" %>

<div id="barba-wrapper">
  <div class="barba-container">
  
    <div id="index">
      <!-- banner -->
      <section id="headline-cover">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h1 class="headline-text"  data-aos="fade-up-right" style="font-size: 30px; font-weight: 300; margin-top: 60px; margin-bottom: 35px;">
                德格·<%= @channel.title %>
              </h1>

              <p class="headline-text"  data-aos="fade-up-right" style="font-size: 43px;">
                <strong>入驻互联网+  轻松无障碍</strong>
              </p>
              <p class="subheading-text"  data-aos="fade-up-right">
                支持企业的对外业务协作，从运作、管理和决策等层次全面提高企业信息化水平，为企业提供全渠道的电子商务网站建设
              </p>
              <div class="buttons-container" data-aos="fade-up-right">
                <!-- data-toggle="modal" data-target="#purchaseModal" -->
                <a href="javascript:void(0);" onclick="_MEIQIA._SHOWPANEL();"  class="btn btn-lg btn-primary btn-round btn-main-cta">
                  申请试用
                </a>
                <span class="or">or</span>
                <a href="<%= page_path("features") %>" class="btn btn-link">
                  了解更多 &rarr;
                </a>
              </div>
            </div>

            <div class="col-md-6 hidden-sm hidden-xs" data-aos="fade-up-left">
              <img class="img-responsive main-img" src="/templetes/dagle/img/display/mockup-4.png" alt="<%= @channel.description %>">
            </div>
          </div>
        </div>
      </section>

      <!-- 实操描述 -->
      <div id="services" class="page">
        <div class="section-header">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h2>
                  PC、手机、微信，三网合一，数据互通，维护简单
                  <br>
                  <small>
                    微信/微博/QQ营销，电话营销，邮件营销，线上H5海报
                  </small>
                </h2>
              </div>
            </div>
          </div>
        </div>
        <section id="features" style="padding: 0px;">
          <div class="container">
            <div class="row feature-single" style="margin: 0px;">
              <div class="col-md-6 col-sm-4 image hidden-xs" data-aos="fade-up-right">
                <img src="/templetes/dagle/img/display/mockup-2.png" class="img-responsive" alt="feature1" />
              </div>

              <div class="col-md-6 col-sm-8 text" data-aos="fade-up-left">
                <h3>跨平台，多终端数据同步</h3>
                <p class="lead">
                  客户能在使用PC、手机、微信、pad等终端设备访问，均可让客户具有良好的体验<br/>
                  发布信息同步更新，不同设备切换完美
                </p>
              </div>
            </div>
            <div class="divider"></div>
            <div class="row feature-single">
              <div class="col-md-6 col-sm-8 text" data-aos="fade-up-right">
                <h3>定制化网站搭建, 所见即所得</h3>
                <p class="lead">
                  灵活专一的风格选择、配色方案<br/>搭建出数据自己的个性化的网站，
                </p>
              </div>
              <div class="col-md-6 col-sm-4 image hidden-xs" data-aos="fade-up-left">
                <img src="/templetes/dagle/img/display/mockup-5.png" class="img-responsive" alt="feature1" />
              </div>
            </div>
            <div class="divider"></div>
            <div class="row feature-single" style="margin: 0px;">
              <div class="col-md-6 col-sm-4 image hidden-xs" data-aos="fade-up-right">
                <img src="/templetes/dagle/img/display/mockup-2.png" class="img-responsive" alt="feature1" />
              </div>

              <div class="col-md-6 col-sm-8 text" data-aos="fade-up-left">
                <h3>强有力的数据采集，企业门户网张最有力的支撑</h3>
                <p class="lead">
                快速准确地自动跟踪、采集数千家网络媒体信息<br/>扩大新闻线索，提高采集速度
                </p>
              </div>
            </div>
            <div class="divider"></div>
            <div class="row feature-single">
              <div class="col-md-6 col-sm-8 text" data-aos="fade-up-right">
                <h3>做电子商务，提供最有力的保障</h3>
                <p class="lead">
                  全网产品信息采集，产品素材获取<br/>通过分析产品价格和销量，指导新品上架策略<br/>云评论系统的搭建和维护<br/>
                  电子商务渠道分销
                </p>
              </div>
              <div class="col-md-6 col-sm-4 image hidden-xs" data-aos="fade-up-left">
                <img src="/templetes/dagle/img/display/mockup-5.png" class="img-responsive" alt="feature1" />
              </div>
            </div>
          </div>
        </section>
      </div>

      <%= render file: "public/templetes/dagle/shared/partials/_application_domain.html.erb" %>

      <!-- 客户案例 -->
      <section id="company-slider" data-aos="fade-up">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <%= render file: "public/templetes/dagle/shared/partials/_logo_slider" %>
              <div class="row">
                <div class="col-md-12 text-center">
                  <a href="#" class='btn btn-bordered btn-lg btn-round btn-primary'>
                    查看更多客户 &rarr;
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <%= render file: "public/templetes/dagle/shared/partials/_contact_question.html.erb" %>
      <%= render file: "public/templetes/dagle/shared/partials/_pay_now.html.erb" %>

    </div>

  </div>
</div>

<%= render file: "public/templetes/dagle/shared/_footer" %>
