<%= render file: "public/templetes/dagle/shared/_header" %>

<div id="barba-wrapper">
  <div class="barba-container">
    <div id="blog">
      <section id="blog-index">
        <div class="container">
          <div class="additional-header">
            <h2>行业解决方案</h2>
          </div>
          <div class="row">
            <% @channel.pages.each do |page| %>
              <div class="col-md-6">
                <article class="blog-post">
                  <div class="post-image">
                    <a href="<%= get_cms_url(page) %>">
                      <img src="<%= page.image_path %>" alt="<%= page.keywords %>" class="img-thumbnail img-responsive">
                    </a>
                  </div>
                  <h3 style="font-size: 30px;"><%= link_to page.title, get_cms_url(page)%><br/>
                    <small><i class="fa fa-clock-o"></i> 发布时间：<%= get_date(page.updated_at) %></small>
                  </h3>
                  <p class="lead">
                    <%= page.keywords %>
                  </p>
                  <div class="post-content">
                    <p class="lead">
                      <%= page.description %> 
                    </p>
                    <br>
                    <div class="text-right">
                      <a href="<%= get_cms_url(page) %>" class="btn btn-bordered btn-primary btn-round">阅读更多 &rarr;</a>
                    </div>
                  </div>
                </article>
              </div>
            <% end %>
          </div> 
        </div>
      </section>
    </div>
  </div>
</div>

<%= render file: "public/templetes/dagle/shared/_footer" %>
