<%= render file: "public/templetes/dagle/shared/_header" %>

<div id="barba-wrapper">
  <div class="barba-container">

    <div id="blog">
      <section id="blog-index">
        <div class="container">

          <div class="row">
          <% Cms::Page.where(channel_id: '29').each do |page| %>
            <div class="col-md-6 main-content">
              <article class="blog-post">
                <div class="post-image">
                  <a href="blog-post.html">
                    <img src="<%= page.image_path %>" alt="<%= page.keywords %>" class="img-thumbnail img-responsive">
                  </a>
                </div>
                <div class="post-meta">
                  <div class="post-meta-text text-muted">
                    <p class="lead">
                      <a href="<%= get_cms_url(page) %>"><%= page.title %></a><br><%= page.keywords %>
                    </p>
                    <p>
                      <i class="fa fa-clock-o"></i> <%= get_date(page.updated_at) %>创建
                    </p>
                  </div>
                </div>
                <div class="text-right">
                  <a href="<%= get_cms_url(page) %>" class="btn btn-bordered btn-primary btn-round">进去看看 &rarr;</a>
                </div>
                <!-- <div class="post-content">
                  <p class="lead">
                    This is a very basic starter template for a blog homepage. It makes use of Font Awesome icons that are built into the 'Modern Business' template, and it makes use of the Bootstrap 3 pager at the bottom of the page
                  </p>

                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, temporibus tempore fugiat quod ipsam aut aspernatur ut facere vero consequuntur eum nemo fugit alias est itaque et ullam culpa voluptatum! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, hic eum reiciendis beatae harum. Doloremque maxime laboriosam quas. Sapiente, delectus odit minus maiores libero itaque ullam iusto dignissimos. Facilis, perferendis.
                  </p>

                  <br>

                  <div class="text-right">
                    <a href="blog-post.html" class="btn btn-bordered btn-primary btn-round">Continue Reading &rarr;</a>
                  </div>
                </div> -->
              </article>
            </div>
          <% end %>
          </div> 
        </div>
      </section>
    </div>


  </div>
</div>

<%= render file: "public/templetes/dagle/shared/_footer" %>
