<!DOCTYPE html>
<html>
<head>
  <title>agent</title>
  <meta name="robots" content="INDEX,FOLLOW" />
  <meta name="author" content="song@tanmer.com" />
  <link rel="author" href="humans.txt" />
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <%= stylesheet_link_tag    'card/application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'card/application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/assets/ie/html5shiv.js"></script>
    <script src="/assets/ie/respond.min.js"></script>
  <![endif]-->
</head>
<body data-spy="scroll" data-target="#left-navbar"  data-offset="100" data-controller="<%= controller_name %>" data-action="<%= action_name %>">
  <%= render 'layouts/frontend/header' %>
  <!-- Content -->
  <section class="content bg-black-3">
    <!-- Container -->
    <div class="container">
      <%= render 'layouts/frontend/message' %>
      <%= yield %>
    </div><!-- /Container -->
  </section><!-- /Content -->
  <%= render 'layouts/frontend/footer_content' %>
  <%= render 'layouts/frontend/footer' %>
  <%= render 'pages/search_music' if controller_name == 'pages' && action_name == 'edit' %>
</body>

</html>
