<div class="tr-post">
  <% @search_results.each do |product| %>
    <div class="row">
      <div class="col-md-3 col-xs-4">
        <a href="<%= frontend_product_path(product) %>">
          <img class="img-responsive" src="<%= product.first_image %>" alt="Image">
        </a>
      </div>
      <div class="col-md-9 col-xs-8">
        <h5><%= link_to product.name, frontend_product_path(product) %></h5>
        <span><%= product.date %></span>
        <br>
        <span><%= product.address_line1 %></span>
      </div>
    </div>
    <hr>
  <% end %>
</div>
