<div class="tr-post">
  <% @search_results.each do |product| %>
    <%
      doc = Nokogiri::HTML(product.try(:content))
      img_srcs = doc.css('img').map{ |i| i['src'] }
    %>
    <% if img_srcs.size < 4 %>
      <div class="row" style="margin: 10px 0;">
        <div class="col-md-4 col-xs-4 <%= 'padding-0' if mobile_device? %>">
          <% if product.external_purchase_url.presence %>
            <a href="<%= product.external_purchase_url %>" target="_blank">
          <% elsif product.is_foraged %>
            <a href="<%= product.forage_url %>" target="_blank">
          <% else %>
            <a href="<%= frontend_product_path(product) %>">
          <% end %>
            <img class="img-responsive" src="<%= img_srcs[0].present? ? img_srcs[0] : product.first_image %>" style="height: 100px;">
          </a>
        </div>
        <div class="col-md-8 col-xs-8">
          <div class="header-text">
            <h4>
              <% if product.external_purchase_url.presence %>
                <a href="<%= product.external_purchase_url %>" target="_blank">
              <% elsif product.is_foraged %>
                <a href="<%= product.forage_url %>" target="_blank">
              <% else %>
                <a href="<%= frontend_product_path(product) %>">
              <% end %>
                <%= product.name.truncate(40) %>
              </a>
            </h4>
            <div class="info">
              <% if product.date.present? %>
              <a href="javascript:;"><%= product.date %></a>
              <span>&middot;</span>
              <% end %>
              <a href="javascript:;"><%= product.address_line1 %></a>
            </div>
            <div class="info">
              <a href="<%= frontend_site_path(product.site) %>"><img src="/templetes/newshub/images/others/user.png" alt="">&nbsp;<%= product.site.title %></a>
              <a class="pro_catalog<%= rand(1..3)%>" href="javascript:;"><%= product.catalog.name %></a>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <div class="row" style="margin: 10px 0;">
        <div class="col-md-12 col-xs-12">
          <div class="header-text">
            <h4>
              <% if product.external_purchase_url.presence %>
                <a href="<%= product.external_purchase_url %>" target="_blank">
              <% elsif product.is_foraged %>
                <a href="<%= product.forage_url %>" target="_blank">
              <% else %>
                <a href="<%= frontend_product_path(product) %>">
              <% end %>
                <%= product.name.truncate(30) %>
              </a>
            </h4>
          </div>
        </div>
        <div class="row" style="padding: 15px;">
          <% loop_count = mobile_device? ? 3 : 4 %>
          <% loop_count.times.each_with_index do |tim, index| %>
            <div class="col-md-3 col-xs-4">
              <% if product.external_purchase_url.presence %>
                <a href="<%= product.external_purchase_url %>" target="_blank">
              <% elsif product.is_foraged %>
                <a href="<%= product.forage_url %>" target="_blank">
              <% else %>
                <a href="<%= frontend_product_path(product) %>">
              <% end %>
                <img class="img-responsive" src="<%= img_srcs[index] %>" alt="<%= product.name %>" style="height: 100px;">
              </a>
            </div>
          <% end %>
        </div>
        <div class="col-md-12 col-xs-12">
          <div class="header-text">
            <div class="info">
              <a href="<%= frontend_site_path(product.site) %>"><img src="/templetes/newshub/images/others/user.png" alt="">&nbsp;<%= product.site.title %></a>
              <a class="pro_catalog<%= rand(1..3)%>" href="javascript:;"><%= product.catalog.name %></a>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <hr>
  <% end %>
</div>
