<div class="main-wrapper">
	<%= render file: 'public/templetes/newshub/_header.html.erb' %>
	<div class="container">
		<div class="row">
      <% unless mobile_device? %>
			<div class="col-md-2 tr-sidebar tr-sticky">
				<%= render file: 'public/templetes/newshub/_side_menu.html.erb' %>
			</div>
      <% end %>
      <!-- search_results 搜索结果 -->
			<div class="col-md-7">
        <div class="tr-content">
          <div class="tr-section ">
            <div class="row">
              <div class="tr-section">
                <%= form_for :search, url: search_result_path, method: :get, class: 'widget_search' do |f| %>
                  <%= f.text_field :keywords, value: params[:search] && params[:search][:keywords], class: 'sidebar-search-form', autocomplete: "off", placeholder: '请输入要搜索的内容' %>
                  <button type="submit" class="btn btn-primary">搜索</button>
                <% end %>
              </div>
            </div>
            <% if @search_results.any? %>
	            <h4>找到<span class="faild-text"><%= @search_results.size %></span>条相关内容
              </h4>
            <% else %>
              <h4>抱歉暂无相关内容</h4>
            <% end %>
            <div class="row">
              <div class="col-md-12">
                <p>点击分类可进行筛选：</p>
                <br>
                <a href="<%= search_result_path(type: 'products', search: params[:search]) %>" class="btn <%= params[:type] == nil || params[:type] == 'products' ? 'btn-danger disabled' : 'btn-default' %>">活动预告</a>
                <a href="<%= search_result_path(type: 'cms_pages', search: params[:search]) %>" class="btn <%= params[:type] == 'cms_pages' ? 'btn-danger disabled' : 'btn-default' %>">新闻资讯</a>
                <a href="<%= search_result_path(type: 'sites', search: params[:search]) %>" class="btn <%= params[:type] == 'sites' ? 'btn-danger disabled' : 'btn-default' %>">入驻场馆</a>
              </div>
            </div>
          </div>
        </div>

				<div class="tr-content">
					<div class="tr-section bg-transparent">
						<% if @search_results.any? %>
              <% if params[:type] == 'sites' %>
                <%= render file: 'frontend/search/_sites_search.html.erb' %>
              <% elsif params[:type] == 'cms_pages' %>
                <%= render file: 'frontend/search/_cms_pages_search.html.erb' %>
              <% else %>
                <%= render file: 'frontend/search/_products_search.html.erb' %>
              <% end %>
            <% end %>
					</div>

					<% if Keystore.value_for('banner-index-center-center-773x84').present? %>
					<div class="tr-ad">
						<% banner_index_center_center = Keystore.value_for('banner-index-center-center-773x84').split('|') %>
						<a href="<%= banner_index_center_center[1] || 'javascript:void(0)' %>" targrt="_blank" ><img class="img-responsive" src="<%= banner_index_center_center[0] %>" alt="首页居中横幅"></a>
					</div>
					<% end %>

				</div>
        <div class="row text-center">
          <%= paginate @search_results, remote: true %>
        </div>
			</div>

      <% unless mobile_device? %>
			<div class="col-md-3 tr-sidebar tr-sticky">
				<%= render file: 'public/templetes/newshub/_sidebar.html.erb' %>
			</div>
      <% end %>
		</div>
	</div>
</div>
<%= render file: 'public/templetes/newshub/_footer.html.erb' %>
