<div class="main-wrapper">
	<%= render file: 'public/templetes/newshub/_header.html.erb' %>
	<div class="container">
		<div class="row">
      <% unless mobile_device? %>
			<div class="col-md-2 tr-sidebar tr-sticky">
				<%= render file: 'public/templetes/newshub/_side_menu.html.erb' %>
			</div>
      <% end %>
      <!-- search_results 搜索结果 -->
			<div class="col-md-7 col-xs-12 <%= 'padding-0' if mobile_device? %>">
        <div class="tr-content">
          <div class="tr-section">
            <% if @search_results.present? %>
	            <h4 class="text-center">共找到&nbsp;&nbsp;<span class="faild-text"><%= @search_results.size %>条</span><span class="faild-text"><%= params[:search][:keywords] %></span>&nbsp;&nbsp;相关的内容
              </h4>
            <% else %>
              <h4 class="text-center">抱歉暂无相关内容，请重新输入关键词搜索</h4>
            <% end %>
          </div>
        </div>

        <% if @search_results.present? %>
				<div class="tr-content">
					<div class="tr-section bg-transparent">
            <div class="tr-post">
              <% @search_results.each do |result| %>
                <% if result.class.to_s == 'Product' %>
                  <%= render :partial => "products_search", :locals => { :product => result } %>
                <% elsif result.class.to_s == 'Cms::Page' %>
                  <%= render :partial => "cms_pages_search", :locals => { :page => result } %>
                <% elsif result.class.to_s == 'Site' %>
                  <%= render :partial => "sites_search", :locals => { :site => result } %>
                <% end %>
              <% end %>
            </div>
					</div>
				</div>
        <% end %>
			</div>

      <% unless mobile_device? %>
			<div class="col-md-3 tr-sidebar tr-sticky">
				<%= render file: 'public/templetes/newshub/_sidebar.html.erb' %>
			</div>
      <% end %>
		</div>
	</div>
</div>
<%= render file: 'public/templetes/newshub/_footer.html.erb' %>
