<% if current_user != true_user %>
  你 (<%= true_user.nickname %>) 正在模仿登录 <%= current_user.nickname %>
  <%= link_to "退出模仿", stop_impersonating_sessions_path, method: :post %>
<% end %>

<!-- BEGIN #about-us-cover -->
<div id="about-us-cover" class="has-bg section-container">
    <!-- BEGIN cover-bg -->
    <div class="cover-bg">
        <img src="http://song-dev.qiniudn.com/about-us-cover.jpg" alt="德格Dagle" />
    </div>
    <!-- END cover-bg -->
    <!-- BEGIN container -->
    <div class="container">
        <!-- BEGIN breadcrumb -->
        <ul class="breadcrumb m-b-10 f-s-12">
            <li><a href="#">Dagle</a></li>
            <li class="active">商家端</li>
        </ul>
        <!-- END breadcrumb -->
        <!-- BEGIN about-us -->
        <div class="about-us text-center">
            <h1>欢迎使用商家端</h1>
            <p>
              将你的数字资产有效的管理起来
            </p>
        </div>
        <!-- END about-us -->
    </div>
    <!-- END container -->
</div>
<!-- END #about-us-cover -->

<div class="container">
<!-- begin #content -->
<div id="content" class="content">
  <!-- begin breadcrumb -->

  <!-- end breadcrumb -->
  <!-- begin page-header -->
  <h1 class="page-header"></h1>
  <!-- end page-header -->

  <!-- begin row -->
  <div class="row">
    <!-- begin col-3 -->
    <div class="col-md-3 col-sm-6">
      <div class="widget widget-stats bg-green">
        <div class="stats-icon"><i class="fa fa-desktop"></i></div>
        <div class="stats-info">
          <h4>产品管理</h4>
          <p><%= @product_total_count %></p>
        </div>
        <div class="stats-link">
          <a href="<%= agent_products_path %>">查看详细 <i class="fa fa-arrow-circle-o-right"></i></a>
        </div>
      </div>
    </div>
    <!-- end col-3 -->
    <!-- begin col-3 -->
    <div class="col-md-3 col-sm-6">
      <div class="widget widget-stats bg-blue">
        <div class="stats-icon"><i class="fa fa-chain-broken"></i></div>
        <div class="stats-info">
          <h4><%= Settings.project.dagle? ? '生产订单' : '订单' %></h4>
          <p><%= @order_total_count%></p>
        </div>
        <div class="stats-link">
          <a href="<%= agent_orders_path %>">查看详细 <i class="fa fa-arrow-circle-o-right"></i></a>
        </div>
      </div>
    </div>
    <!-- end col-3 -->
    <!-- begin col-3 -->
    <div class="col-md-3 col-sm-6">
      <div class="widget widget-stats bg-purple">
        <div class="stats-icon"><i class="fa fa-users"></i></div>
        <div class="stats-info">
          <h4>发展客户</h4>
          <p><%= @member_total_count %></p>
        </div>
        <div class="stats-link">
          <a href="<%= agent_members_path %>">查看详细 <i class="fa fa-arrow-circle-o-right"></i></a>
        </div>
      </div>
    </div>
    <!-- end col-3 -->
    <!-- begin col-3 -->
    <div class="col-md-3 col-sm-6">
      <div class="widget widget-stats bg-red">
        <div class="stats-icon"><i class="fa fa-clock-o"></i></div>
        <div class="stats-info">
          <h4>营销海报</h4>
          <p><%= @market_page_total_count %></p>
        </div>
        <div class="stats-link">
          <a href="<%= agent_market_pages_path %>">查看详细 <i class="fa fa-arrow-circle-o-right"></i></a>
        </div>
      </div>
    </div>
    <!-- end col-3 -->
  </div>
  <!-- end row -->
  <!-- begin row -->
  <div class="row">
    <!-- begin col-3 -->
    <div class="col-md-3 col-sm-6">
      <div class="widget widget-stats bg-green">
        <div class="stats-icon"><i class="fa fa-desktop"></i></div>
        <div class="stats-info">
          <h4>网站管理</h4>
          <p><%= @product_total_count %></p>
        </div>
        <div class="stats-link">
           = link_to '站点栏目', cms_site_path(@site.cms_site)
          <a href="<%= agent_products_path %>">查看详细 <i class="fa fa-arrow-circle-o-right"></i></a>
        </div>
      </div>
    </div>
    <!-- end col-3 -->
    <!-- begin col-3 -->
    <div class="col-md-3 col-sm-6">
      <div class="widget widget-stats bg-blue">
        <div class="stats-icon"><i class="fa fa-chain-broken"></i></div>
        <div class="stats-info">
          <h4><%= Settings.project.dagle? ? '生产订单' : '订单' %></h4>
          <p><%= @order_total_count%></p>
        </div>
        <div class="stats-link">
          <a href="<%= agent_orders_path %>">查看详细 <i class="fa fa-arrow-circle-o-right"></i></a>
        </div>
      </div>
    </div>
    <!-- end col-3 -->
    <!-- begin col-3 -->
    <div class="col-md-3 col-sm-6">
      <div class="widget widget-stats bg-purple">
        <div class="stats-icon"><i class="fa fa-users"></i></div>
        <div class="stats-info">
          <h4>发展客户</h4>
          <p><%= @member_total_count %></p>
        </div>
        <div class="stats-link">
          <a href="<%= agent_members_path %>">查看详细 <i class="fa fa-arrow-circle-o-right"></i></a>
        </div>
      </div>
    </div>
    <!-- end col-3 -->
    <!-- begin col-3 -->
    <div class="col-md-3 col-sm-6">
      <div class="widget widget-stats bg-red">
        <div class="stats-icon"><i class="fa fa-clock-o"></i></div>
        <div class="stats-info">
          <h4>营销海报</h4>
          <p><%= @market_page_total_count %></p>
        </div>
        <div class="stats-link">
          <a href="<%= agent_market_pages_path %>">查看详细 <i class="fa fa-arrow-circle-o-right"></i></a>
        </div>
      </div>
    </div>
    <!-- end col-3 -->
  </div>
  <!-- end row -->

  <hr style="height: 100px"/>
  <!-- begin row -->
  <div class="row">
    <!-- begin col-8 -->
    <div class="col-md-8">
      <div class="panel panel-inverse" data-sortable-id="index-1">
        <div class="panel-heading">
          <div class="panel-heading-btn">
          </div>
          <h4 class="panel-title">系统公告</h4>
        </div>
        <div class="panel-body">
          <p>暂无公告！</p>
        </div>
      </div>
    </div>
    <!-- end col-8 -->
    <!-- begin col-4 -->
    <div class="col-md-4">


      <div class="panel panel-inverse" data-sortable-id="index-8">
        <div class="panel-heading">
          <div class="panel-heading-btn">
          </div>
          <h4 class="panel-title">最新消息</h4>
        </div>
        <div class="panel-body p-0">
          <ul class="todolist">

            <li class="">
              <a href="javascript:;" class="todolist-container active" data-click="todolist">
                <div class="todolist-input"><i class="fa fa-square-o"></i></div>
                <div class="todolist-title">无.</div>
              </a>
            </li>
          </ul>
        </div>
      </div>

    </div>
    <!-- end col-4 -->
  </div>
  <!-- end row -->
</div>
<!-- end #content -->
</div>
