<div class="container">
<!-- begin #content -->
<div id="content" class="content">
  <!-- begin breadcrumb -->

  <!-- end breadcrumb -->
  <!-- begin page-header -->
  <h1 class="page-header"></h1>
  <!-- end page-header -->

  <!-- begin row -->
  <div class="row">
    <!-- begin col-3 -->
    <div class="col-md-3 col-sm-6">
      <div class="widget widget-stats bg-green">
        <div class="stats-icon"><i class="fa fa-desktop"></i></div>
        <div class="stats-info">
          <h4>生产设计</h4>
          <p><%= @preorder_conversition_total_count %></p>
        </div>
        <div class="stats-link">
          <a href="#" data-toggle="modal" data-target="#newOrderDesignModal">新建任务 <i class="fa fa-plus-circle"></i> </a>
          <a href="<%= agent_preorder_conversitions_path %>">查看详细 <i class="fa fa-arrow-circle-o-right"></i></a>
        </div>
      </div>
    </div>
    <!-- end col-3 -->
    <!-- begin col-3 -->
    <div class="col-md-3 col-sm-6">
      <div class="widget widget-stats bg-blue">
        <div class="stats-icon"><i class="fa fa-chain-broken"></i></div>
        <div class="stats-info">
          <h4>生产订单</h4>
          <p><%= @order_total_count%></p>
        </div>
        <div class="stats-link">
          <a href="<%= agent_orders_path %>">查看详细 <i class="fa fa-arrow-circle-o-right"></i></a>
        </div>
      </div>
    </div>
    <!-- end col-3 -->
    <!-- begin col-3 -->
    <div class="col-md-3 col-sm-6">
      <div class="widget widget-stats bg-purple">
        <div class="stats-icon"><i class="fa fa-users"></i></div>
        <div class="stats-info">
          <h4>发展客户</h4>
          <p><%= @member_total_count %></p>
        </div>
        <div class="stats-link">
          <a href="<%= new_agent_member_path %>">添加客户 <i class="fa fa-plus-circle"></i></a>
          <a href="<%= agent_members_path %>">查看详细 <i class="fa fa-arrow-circle-o-right"></i></a>
        </div>
      </div>
    </div>
    <!-- end col-3 -->
    <!-- begin col-3 -->
    <div class="col-md-3 col-sm-6">
      <div class="widget widget-stats bg-red">
        <div class="stats-icon"><i class="fa fa-clock-o"></i></div>
        <div class="stats-info">
          <h4>营销海报</h4>
          <p><%= @market_page_total_count %></p>
        </div>
        <div class="stats-link">
          <a href="<%= agent_market_pages_path %>">查看详细 <i class="fa fa-arrow-circle-o-right"></i></a>
        </div>
      </div>
    </div>
    <!-- end col-3 -->
  </div>
  <!-- end row -->
  <hr style="height: 100px"/>
  <!-- begin row -->
  <div class="row">
    <!-- begin col-8 -->
    <div class="col-md-8">
      <div class="panel panel-inverse" data-sortable-id="index-1">
        <div class="panel-heading">
          <div class="panel-heading-btn">
          </div>
          <h4 class="panel-title">系统公告</h4>
        </div>
        <div class="panel-body">
          <p>暂无公告！</p>
        </div>
      </div>
    </div>
    <!-- end col-8 -->
    <!-- begin col-4 -->
    <div class="col-md-4">


      <div class="panel panel-inverse" data-sortable-id="index-8">
        <div class="panel-heading">
          <div class="panel-heading-btn">
          </div>
          <h4 class="panel-title">最新消息</h4>
        </div>
        <div class="panel-body p-0">
          <ul class="todolist">

            <li class="">
              <a href="javascript:;" class="todolist-container active" data-click="todolist">
                <div class="todolist-input"><i class="fa fa-square-o"></i></div>
                <div class="todolist-title">无.</div>
              </a>
            </li>
          </ul>
        </div>
      </div>

    </div>
    <!-- end col-4 -->
  </div>
  <!-- end row -->
</div>
<!-- end #content -->
</div>
