
<%= render file: @cms_site.template_dir + '_header.html' %>

<%=form_for(@class, url: frontend_classorders_path) do |f|%>
  <div class="container margin-t">
    <div class="person-list">
      <div class="person-info">
        <div class="info">
          <%= f.hidden_field(:course_id, value:@course.id ) %>
          <%= f.hidden_field(:user_id, value:current_user.id )%>
          <%= f.hidden_field(:class_week, value:"#{params[:week]}")%>
          <%= f.hidden_field(:class_time, value:"#{params[:time]}")%>
          <%= f.hidden_field(:class_day, value:"#{params[:day]}")%>
          <%= f.hidden_field(:limitnu, value:"#{params[:limitnu]}")%>
          <%= f.hidden_field(:phone_number, value:current_user.mobile.phone_number)%>
          <%= f.hidden_field(:site_id, value:"#{@course.site_id}")%>
          <input name = "classorders[course][id]" type="hidden" value="<%=@course.id%>">
          <ul class="ul-xs">
            <%if @user.relname.present? && @user.cardnu.present? %>
              <li>
               <span>真实姓名:</span>
               <%= f.text_field :relname, value:@user.relname, readonly: "readonly" %>
              </li>
              <li>
                <span>身份证号:</span>
                <%= f.text_field :cardnu, value:@user.cardnu, readonly: "readonly" %>
              </li>
              <li>
                <span>课程名称:</span>
                <%= f.text_field :name, value:@course.name, readonly: "readonly"%>
              </li>
              <li>
                <span>上课时间:</span>
                  &nbsp&nbsp<span><%= params[:week] + params[:day] + params[:time] %></sapn>
              </li>
              <%= f.submit "立即选课", class:"btn btn-danger"%>
            <%else%>
              <li><%= link_to '请完善个人信息', frontend_smusers_path, title: '完善个人信息' %></li>
            <%end%>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= render file: 'public/templetes/student2/_footer.html.erb' %>
